---
title: String Input
layout: component
contributors:
    - name: Trixie Roque
      github: trixr4kdz

    - name: Jordan Woods
      github: jordan-woods

    - name: Eddie Azinge
      github: cazinge

    - name: Sam Savini
      github: samsavv
---


<p class="lead">Every modern computing device requires some sort of string input from the user. Traditional computers accept strings using a string input field, which the user fills in using a keyboard. This method of string input is commonplace and standard. However, modern day devices can also use a multitude of methods to accept string input from the user.
 </p>


<h3>General Information</h3>
<br></br>

<div class="container-fluid">
	<div class="row">
	  	<div class="col-xl-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#typical-appearance" role="tab" aria-controls="home" aria-expanded="true">Typical Appearance</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#typical-behavior" role="tab" aria-controls="profile">Typical Behavior</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#variants" role="tab" aria-controls="profile">Variants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#priority-metrics" role="tab" aria-controls="profile">Priority Metrics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#key-characteristics" role="tab" aria-controls="profile">Key Characteristics</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="dropdown1" role="tabpanel" aria-labelledby="dropdown1-tab">...</div>
  <div class="tab-pane fade" id="dropdown2" role="tabpanel" aria-labelledby="dropdown2-tab">...</div>
</div>
	  		<!-- <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#typical-appearance">Typical Appearance</a>
          </li><li class="nav-item">
            <a class="nav-link active" href="#typical-behavior">Typical Behavior</a>
          </li><li class="nav-item">
            <a class="nav-link active" href="#variants">Variants</a>
          </li><li class="nav-item">
            <a class="nav-link active" href="#priority-metrics">Priority Metrics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#key-characteristics">Key Characteristics</a>
          </li>
			</ul> -->

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-lg-12">
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="typical-appearance">
								<div class="row">
									<div class="col-lg-12">
										<h3>Typical Appearance</h3>
										<p class="lead">The most basic form of a string input field is a one-line, white, rectangular box. </p>
										<p>
											When not selected, the box appears like an ordinary rectangle; its edges are usually grey in color to show where the field is, where it begins, and where it ends. The field uses a font type and size appropriate to the overall look of the surrounding interface components. Additionally, a placeholder can be seen inside the text box in the form of a command or some other text description. When the user begins typing, the placeholder disappears and is replaced with the user's input.
										<br>
										<br>
										<input type="text" class="form-control" placeholder="Enter your text here...">

										<br>
											For aesthetic purposes, some text fields can have rounded edges. Additionally, the string input field can contain a token field control, which displays the user input in the form of a draggable token (see Platform-Specific Instances).
										<br></br>
                    A blinking text cursor in the text field indicates where the user is located in the string. The user can use the mouse or keyboard to navigate the curser throughout the string, to modify the text.
										<br></br>
											Note: Some of the string input fields in this page have been extended width-wise to fit into the columns of the page, but they can vary in size across different webpages and platforms.
										</p>
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="typical-behavior">
								<div class="row">
									<div class="col-lg-12">
										<h3>Typical Behavior</h3>
										<p class="lead">
											A string input components's main function is to accept user text information. Therefore, it has to support keyboard focus. For more private text information, it also supports password entries. The string input field signals the user that they can enter a value by changing the cursor icon when the user hovers over the field: the cursor will change into a shape that looks like an uppercase "i" called an "I-beam pointer". This would show the user that they can click on the box and enter some string inputs. When the user clicks inside the box, a blinking vertical bar (called a caret) appears to show the user that the text field is waiting for an input.
										</p>
									</div>
									<div class="col-md-6" "col-sm-12">
										<h4>Events</h4>
										<p>
											The most important events for string input fields involve keyboard presses and entering texts. These relevant events include <code>input</code>, <code>keyup</code>, <code>keydown</code>, and <code>keypress</code>.
										</p>

										<p> The <code>input</code> event is triggered the moment information is entered into the text field; the event is fired synchronously such that the effects can be detected immediately. The events <code>keyup</code>, <code>keydown</code>, and <code>keypress</code> all have similar functionality since they are all keyboard specific. The events are quite self-explanatory (e.g. <code>keydown</code> is triggered when a key is pressed down, <code>keyup</code> is triggered when a key is let go, etc).
										</p>
										<br>

										<h4>Component in Action (Default Text Field)</h4>
										<p>
											The border of string input fields typically glow blue when they are enabled (i.e, when the user clicks on them). Once enabled, the user can easily type whatever they wish into the fields. While the user is typing, the caret remains visible to show the user where exactly they are inserting a key.
										</p>
										Here is an example of what the string input field does:
										<p class="text-center">
											<img src="gifs/hello_world.gif" height=110% width=105%>
										</p>
										Alternatively, the user can also highlight the text values inside the string input field. Doing this allows the user to easily and quickly replace all or some of the text they entered or remove them entirely.
										<p class="text-center">
											<img src="gifs/goodbye_world.gif" width=100%>
										</p>
										Additionally, text boxes typically allow the user to drag texts into and out of them.
										<p class="text-center">
											<img src="gifs/drag.gif" width=100%>
										</p>
										If there are multiple string input fields on the page (let's say, a form on a webpage), then hitting the tab key would move the caret to and enable the next available text field on the page.
										<br>
									</div>
									<div class="col-md-6" "col-sm-12">
										<h4>State Diagram</h4>
										<p>
											String input fields await values from the user. They are used such that users can submit information and trigger other events in the interface. When a user is not interacting with the field, this component can only be classified as enabled or disabled.
										</p>
										<p>
											For enabled string input fields, the text box is awaiting the user to enter text; the field will also be in wait mode when the user is typing or cleared the text field. For a text field to actually show results, it should be accompanied by an event trigger or a submit button. For disabled text fields, the rectangular box can only do nothing.
										</p>
										<img src="img/string_input_diagram.svg" class="img-responsive">
										<br>
										<br>
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="variants">
								<div class="row">
									<div class="col-lg-12">
										<h3>Variants</h3>
										<p class="lead">
											Although text fields perform in the same manner, they can possess other design behaviors depending on where they are used.
										</p>
									</div>
									<div class="col-md-6" "col-sm-12">
										<ul>
											<li>
												<em>String input fields with form submit buttons</em> <br>
												For submitting text entries, the text field can be inlined with a button (see Button component for more info on buttons).
												<div class="input-append text-center">
								  					<input class="span2" id="appendedInputButton" type="text">
								  					<button class="btn" type="button">Go!</button>
												</div>
											</li>
											<br>
											<li>
												<em>String inputs with more than one line</em> <br>
												For inputs that require more than one-line, a larger string input field can be used. In the text box below, pressing the "enter"/"return" would also allow the user to insert more lines of text.
												<textarea rows="3" class="form-control" placeholder="Try typing long texts or pressing the enter key multiple times..."></textarea>
											</li>
											<br>

											<li>
												<em>Password Entries</em> <br>
												Certain string input fields require the user to type specific text values. These text fields may use a red outline to show that the inputs entered are invalid. The text fields shown below require the user to enter the same text values in both text fields. Another aspect to note in the case below: the text values are hidden from the user. Instead of actual alpha-numeric text values, they can be visually replaced by a symbol (in this case, black dots) in order to hide the password the user enters. Only when the user enters an acceptable argument can the textbox change color into something more inviting (usually a green color for "success" or "acceptable input").
												<p class="text-center">
													<img src="gifs/password_success.gif" width=100%>
												</p>
											</li>
											<br>

											<li>
												<em>Command Lines</em> <br>
												While they're the oldest known examples of string input, they remain to be the most flexible and interactive. Command lines can account for a plethora of actions: executing lines of code, performing mathematical computations, and answering existential questions; no other form of string input can match a command line's versatility. However, command lines, due to their flexibility, are also the least intuitive of the types of string input due to the large requirement that they place on the user to learn to how to interface with them. If one is not familiar with the commands that their given command line has at its disposal, the command line is rendered useless.
											</li>
											<br>
										</ul>
									</div>
									<div class="col-md-6" "col-sm-12">
										<ul>
											<li>
												Some examples of popular command lines include Bash, Windows Terminal, Google Chrome's Omnibar, and assorted calculators.
												<p class="text-center">
													<img src="gifs/commands.gif" width=50% height=50%>
												</p>
											</li>

											<li>
												<em>Disabled</em> <br>
												There are also some string input fields that will be disabled unless the user performs a specific action first. For example, a string input field will be disabled if the user has to first select from a variety of choices.
												<br><br>
												In the string input field below, the cursor will not change into an "I-beam pointer" since the user is not allowed to enter any texts. The field has also been greyed out (instead of white in color) to further show the user that they cannot use the text field. In supported browsers, such as Firefox or Google Chrome, when a cursor hovers above the text field, a "no entry sign" &#x1f6ab; &nbsp;will appear below the cursor to make it even clearer that the field is disabled.
												<p class="text-center">
													<input class="input-xlarge form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
												</p>
											</li>
											<br>

											<li><em>Search fields</em> <br>
												Another form of text input fields. It is commonly observed that search fields use a behavior to "auto-fill" look-ups. The field can anticipate user queries by creating a drop-down list of possible searches. For a look at an OS X-specific search field, see the "Platform-Specific Instances" section. </li>
											<p class="text-center">
												<img src="img/search_field_toolbar.jpg" width=50%>
											</p>
											<br>
											<li><em>Voice recognition</em> <br>
												 An up and coming design feature in newer models of systems. Developers, such as Google, have even made it possible to enter texts into textboxes by allowing the user to speak into their devices. Usually, a microphone icon, such as the one shown in the text box below, can be seen inside the text field. Pressing/clicking this button would allow the user the talk directly, instead of type with a keyboard, whatever information they wish (assuming the voice recognition capability is enabled and functions properly).</li>
											<p class="text-center">
												<img src="img/google_speech_recog.jpg" width=100%>
											</p>
                      <br></br>
                      <li><em>Handwritten Messages</em> <br>
												 Certain touch screen devices provide an option for the user to input text by hand writing the message. Letter by letter, the computing device tries to detect what words are being written, and transforms the handwritten input into a line of text. This option usually provides a box for the user to hand write their input, as well as a line of text above the box to show how the computer is interpreting the handwritten text.
                       </li>
                       <br></br>
											<p class="text-center">
												<img src="img/17263-14598-IMG_6325-m.jpg" width=50%>
											</p>
										</ul>
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="priority-metrics">
								<div class="row">
									<div class="col-lg-12">
										<h3>Priority Metrics</h3>
										<p class="lead">
											With all interface elements, there has to be some way to measure how well each conveys a message to the users. How well an interface component, such as the string input field, is used can be described by the 5 usability metrics: learnability, efficiency, errors, memorability, and satisfaction. Since the string input field is such as common interface component, it can be expected that all these 5 metrics should be prioritized.
										</p>
										<p>
											<ul>
												<li><em>Learnability</em> is the measure for how easily a new user is able to utilize the component. Since the string input field is a fundamental interface component, users must be able to recognize immediately how to use it. Since its appearance looks like an empty space, it should be able to show the user that it can accept text inputs.</li>
												<li><em>Efficiency</em> is the measure for how fast an expert user utilizes the component. For string input field, the user must be able to quickly navigate to the text field they want to use and be able to recognize when it can be enabled/when it is disabled/what kinds of information can be placed into them.</li>
												<li><em>Error</em> is the measure for how many errors the user makes when using the component. Because its main function is to accept user text inputs, the text field should not confuse the user when they are entering values into the field. A possible case when the user does make an error with this component is when the user types information into the wrong field instead of the one they actually want to use.</li>
												<li><em>Memorability</em> is the measure for how well the user remembers how to user a component after some period of time of not using it. Like with learnability, the user must be able to recognize quickly that a component is a text box waiting for an input even if the user has not seen it for some time.</li>
												<li><em>Satisfaction</em> is the measure of how satisfied the user is when utilizing the component. This is perhaps the metric with the least priority. Since the string input field is such a widely used interface element, the user does not necessarily have to be satisfied or enjoy using it. Text fields are typically used for their utility in handling text inputs so most interfaces default to using a plain-looking text field. However, the variations for the string input field, such as the ones with changing colors (from red = failure, to yellow = mildly acceptable, to green = success) does play a role in making the user happy. For example, when a user creates a new password, they would want to create one in which they can feel safe in using over and over. A string input field that can change its border outline into green can show the user that their password is strong enough to prevent malicious third party users from accessing their information.</li>
											</ul>
										</p>
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="key-characteristics">
								<div class="row">
									<div class="col-lg-12">
										<h3>Key Characteristics</h3>
										<p class="lead">
											A well-designed string input field should be able to show the user when they are needed to enter text values.
										</p>

										<h4>Feedback</h4>
										<p>
											Interaction design elements such as string input field must always give feedback to the user:
										</p>
										For default string input fields:
										<ol>
											<li> The field should always have some sort of indication that it is enabled (e.g. by using colors).</li>
											<li> The caret should be visible to indicate where users can enter strings.</li>
											<li> The field should tell the user what to enter into it by using some sort of placeholder.</li>
											<li> The field should perform appropriate edit checks when it receives user input.</li>
											<li> It should use a combo box if combining a menu or list of choices with a text input field.</li>
											<li> In general, it should display an introductory label with a text input field.</li>
											<li> In general, it should ensure that the length of a text input field comfortably accommodates the length of the expected input.</li>
											<li> Multiple text input fields evenly should be spaced.</li>
										</ol>
										For token fields:
										<ol>
											<li> In general, a token field control should be used in a text input field.</li>
											<li> If appropriate, a contextual menu can be added to a token.</li>
										</ol>
										For search fields:
										<ol>
											<li> A search field is used to enable search functionality within the platform. </li>
											<li> They should indicate when to start the search.</li>
											<li> In general, they should avoid using a menu to display search history.</li>
											<li> The field should not supply an introductory label.</li>
											<li> Fields should display placeholder text, if it helps users understand how search works in the platform.</li>
										</ol>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<h3>Platform-Specific Instances</h3>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<ul class="nav nav-tabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#mac-os-x" role="tab" aria-controls="home" aria-expanded="true">Mac OS X</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#ios" role="tab" aria-controls="profile">iOS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#shared-characteristics" role="tab" aria-controls="profile">Apple Shared Characteristics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#windows-10" role="tab" aria-controls="profile">Windows 10</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#watchOS" role="tab" aria-controls="profile">watchOS</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="dropdown1" role="tabpanel" aria-labelledby="dropdown1-tab">...</div>
  <div class="tab-pane fade" id="dropdown2" role="tabpanel" aria-labelledby="dropdown2-tab">...</div>
</div>
			</ul>

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-lg-12">
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="mac-os-x">
								<h3>Mac OS X</h3>
								<p class="lead">
									In general, text boxes are designed in terms of their overall purpose/usage. They may use slightly different background colors (aside from outline colors) to differentiate them from the other application's text boxes. In Mac OS X, these are some forms that require text inputs.
								</p>
								<div class="row">
								  	<div class="col-md-6" "col-sm-12">
										<ul>
											<li><em>Spotlight Search</em> uses a text box to allow the user to find files anywhere in the machine. In order to make this text box appear on the screen, the user has to press the "Command" and "Space" buttons simultaneously. Like with all search boxes in Mac OS X, the text box displays a magnifying glass to indicate its purpose (i.e. to search). When a user types into this box, the box auto-fills with the most probable search terms in the system. A drop-down list also pops-up showing other possible search items.
												<p class="text-center">
													<img src="gifs/search.gif" width=100%>
												</p>
											</li>
											Note: This text box is extremely similar to the search box in the "Start" menu of Windows systems.
											<br>
											<br>
											<li>
												<em>Printer properties</em> are used for adding printer devices to the Mac OS X system to enable printing. In order to do this, OS X allows the user to type the address of the wireless printer that is in the same network as the OS X machine. Additional textboxes can be seen in the window to add a name to the specific printer.
												<br>
												<p class="text-center">
													<img src="img/osx_add_printer.png" width=100%>
												</p>
											</li>
										</ul>
									</div>
									<div class="col-md-6" "col-sm-12">
										<ul>
											<li>
												<em>Wi-fi properties window</em> allows the user to enter/find the network they wish to connect to. Similar to the printer properties text boxes, the user is allowed to enter one-line text information such as the specific network name.
												<br>
												<p class="text-center">
													<img src="img/osx_wifi.png" width=100%>
												</p>
											</li>
											<br>
											<br>
											<li><em>Token Field</em> is used for text boxes that typically use the same text values. Applications, such as the OS X Mail shown below, allow the users to enter the email addresses of their contacts into the string input field without typing the entire address. This is similar to a search bar auto-fill since the values are automatically generated by recognizing the existing values being entered.
												<br>
												<br>
												<p class="text-center">
													<img src="img/token_field_2x.jpg" width=50%>
												</p>
												</li>
											<p class="text-center">
												<img src="img/token_menu.jpg" width=100%>
											</p>
										</ul>
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="ios">
								<div class="row">
									<div class="col-lg-12">
										<h3>iOS</h3>
										<p class="lead">
											For iOS, the entire screen (other than the home button) is a touch screen. This means that the mode by which users input text is on a touch screen keyboard.
										</p>
										<p>Note: All of the images are from iOS 9 specifically.</p>
									</div>
									<div class="col-md-6" "col-sm-12">
										<ul>
											<li>
												<em>A main feature</em> of iOS is that if the user clicks anywhere where text can be inserted, a keyboard will pop up. This increases usability because it clearly defines action options to the user. A button titled "Cancel" also pops up next to the input field, which makes the keyboard disappear when pressed. In this example, the user can search the Settings application for desired keywords or phrases.
												<br>
												<br>
												<p class="text-center">
													<img src="gifs/automatic_popup.gif" height="50%" width="50%">
												</p>
											</li>
											<br>
											<li>
												<em>More specifically,</em> a different type of keyboard will pop up upon the user's click depending on what type of input is expected. In this example, a user is creating a new contact and has clicked in a text field that requires a phone number, so a keyboard with numbers has popped up. This even further increases usability because the user now knows that they need to input text and that the text needs to be a series of numbers.
												<br>
												<br>
												<p class="text-center">
													<img src="img/ios9_number_keyboard.png" width=100%>
												</p>
											</li>
										</ul>
									</div>
									<div class="col-md-6" "col-sm-12">
										<ul>
											<li>
												<em>The login screen</em> on iOS has a very distinctive look. The "keyboard" looks different than all other keyboards within iOS, even though its buttons show only numbers with their respective letter associations. All of the numbers are wrapped in circles and as the user types in their password, smaller circles at the top begin to fill in. The example below shows a half-typed password.
												<br>
												<br>
												<p class="text-center">
													<img src="img/ios_login_screen.png" height="50%" width="50%">
												</p>
											</li>
											<br>
											<li>
												<em>Multiple keyboards</em> are an option for users who would like to be able to input strings of different languages or use emojis. Keyboards can be added in the Settings application and can be quickly accessed by clicking on the world icon on the bottom left corner of the keyboard. If returning to a letters keyboard from the emoji keyboard, the user clicks the ABC icon on the bottom left corner of the keyboard. In this example, the user switches from the English keyboard, to the Spanish keyboard, to the Emoji keyboard, and then back to the English keyboard.
												<br>
												<br>
												<p class="text-center">
													<img src="gifs/keyboard_switch.gif" height="50%" width="50%">
												</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="shared-characteristics">
								<div class="row">
									<div class="col-lg-12">
										<h3>Apple Shared Characteristics</h3>
										<p class="lead">Because OS X and iOS were both developed by Apple, they have many shared characteristics. This section is meant to show those characteristics which appear and behave essentially the same.</p>
									</div>
									<div class="col-md-6" "col-sm-12">
										<ul>
											<li><em>An "x" icon button</em> shows up inside the input field on both Mac OS X and iOS after the user starts typing their string. Pressing this button clears the entire string from the input field.
											<br>
											<br>
											<p class="text-center">
												<img src="img/osx_clear_button.png" height="70%" width="70%">
												<p class="text-center">Clear button on Mac OS X</p>
											</p>
											<p class="text-center">
												<br>
												<img src="img/ios_clear_button.png" height="70%" width="70%">
												<p class="text-center">Clear button on iOS</p>
											</p>
											</li>
											<li><em>iMessage</em> is available on both OS X and iOS. It is one of the most commonly used applications on OS X because it allows users to respond immediately to text messages without the need to check their mobile devices. This instance of the string input field even supports emojis to give more freedom for the user's text entries. Additionally, the user can to speak directly into the machine in order to enter their message. This can be done by pressing the microphone button right next to the input field and simply speaking into the phone or computer. A single image is shown because iMessage string input looks exactly the same in OS X and iOS.
												<br>
												<br>
												<p class="text-center">
													<img src="img/osx_imessage.png" width=100%>
												</p>
											</li>
										</ul>
									</div>
									<div class="col-md-6" "col-sm-12">
										<ul>
											<li><em>Notes</em> allow OS X and iOS users to write reminders or important information into a virtual notepad. This is an example of a text field that immediately shows the user the potential for creating numerous lines of text. In contrast to the other examples given, the text field is intentionally spacious to signal the user that they can use more than one line of text. The notepad looks like an actual notepad, which subliminally tells the user what this application is intended for.
											<br>
											<br>
											<div id="carousel-notes" class="carousel slide" data-ride="carousel">
												  <!-- Indicators -->
												  <ol class="carousel-indicators">
												    <li data-target="#osx-notes" data-slide-to="0" class="active"></li>
												    <li data-target="#ios9-notes" data-slide-to="1"></li>
												  </ol>

												  <!-- Wrapper for slides -->
												  <div class="carousel-inner" role="listbox">
												    <div class="item active">
												      <img src="img/osx_notes.png" class="img-fluid">
												      <div class="carousel-caption">
												      </div>
												    </div>
												    <div class="item">
												      <img src="img/ios9_notes.png" class="img-fluid">
												      <div class="carousel-caption">
												      </div>
												    </div>
												  </div>

												  <!-- Controls -->
												  <a class="left carousel-control" href="#carousel-notes" role="button" data-slide="prev">
												    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
												    <span class="sr-only">Previous</span>
												  </a>
												  <a class="right carousel-control" href="#carousel-notes" role="button" data-slide="next">
												    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
												    <span class="sr-only">Next</span>
												  </a>
											</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="windows-10">
								<h3>Windows 10</h3>
								<p class="lead">
									Microsoft has it's own set of design guidelines for string input. Because of their focus on having both tablets and laptops have a standard interface, their solutions are often more accessible and universal than Apple's, but lack the distinctive platform specific strengths that Apple's devices have.
								</p>
								<div class="row">
								  	<div class="col-md-6" "col-sm-12">
										<ul>
											<li>
												<em>Lock Screens</em> provide a layer of security for users by requiring that they provide some sort of string input such as a predetermined password or PIN number before they are allowed access to their machine. The string input boxes are kept simple in scope and size, the text input into the field is obscured, and in cases such as PIN number input, the user is even restricted from inputting characters that would not make sense given the context of the prompt. All of these measures towards making the lock screen both straight-forward and easy to parse increases both user accessibility and efficiency in using the Lock Screen.
												<br>
												<p class="text-center">
                                                    <img src="img/windows10/lock-screen.jpg" width=30%>
												</p>
											</li>
											<br><br>

											<li>
												<em>Start Menu Search Bar</em> uses a text box to allow the user to find files anywhere in the machine. In order to make this text box appear on the screen, the user has to press the "Windows Start" button. Like with all search boxes in Windows 10, the text box displays a magnifying glass to indicate its purpose (i.e. to search). When a user types into this box, the box auto-fills with the most probable search terms in the system. A drop-down list also pops-up showing other possible search items.
												<br>
												<p class="text-center">
													<img src="img/windows10/start-menu-search-bar.png" width=40%>
												</p>
                                                Note: This text box is extremely similar to the "Spotlight" bar of Mac systems.
											</li>
											<br><br>

											<li>
												<em>File Explorer</em> uses both a search bar and a file path bar. The file path bar allows the user to access any part of the machine immediately, provided they know the correct file path to get there. Directories (folders) can contain either files, which end the path, or more directories, which continue the file path. The delimiter (separator) for this bar is most often the forward slash (/) symbol. Once the file path has been searched, this bar changes to a breadcrumbs bar for simpler user-interface, obscuring the ability to type in a specific file path away from novice users. Due to the intimidating and often complex layout of file paths, this obscurity increases user learnability and satisfaction.
												<br>
												<p class="text-center">
													<img src="img/windows10/file-explorer-menu-bar.png" width=100%>
												</p>
											</li>
										</ul>
									</div>
									<div class="col-md-6" "col-sm-12">
										<ul>
											<li>
												<em>Settings</em> possess a search bar in order to search for specific setting to be changed. Within individual settings tabs there are sections to add text in appropriate fields for various types of configuration. In these, as much control as possible is taken away from the user through restrictive string input fields in order to prevent mistakes due to the importance of these fields in affecting how your computer works in general use.
												<br>
												<p class="text-center">
													<img src="img/windows10/settings-search.png" width=50%>
												</p>
												<p class="text-center">
													<img src="img/windows10/settings-fields.png" width=50%>
												</p>
											</li>
											<br><br>

											<li>
												<em>Edge Address Bar</em> integrates a search bar functionality into its URL field in order to make interfacing with the internet feel more centralized and uniform. Similar to Google Chrome's Omnibar, this change allows Edge to have one sole interface point for users, reducing errors as well as increasing learnability and efficiency.
												<br>
												<p class="text-center">
													<img src="img/windows10/edge-address-bar.png" width=100%>
												</p>
											</li>
											<br><br>

											<li>
												<em>Terminal Command Line</em> provides a command line interface for a lower level interaction with the user's machine. Various commands can be used in order to navigate through the machine, run programs, delete or create files, and view information. While wide-reaching, terminal requires knowledge of specific commands in order to be used even at its most basic level, making it unapproachable for novice users. Arguably this is a good thing due to the fact that the command line has the most control over the user's machine and unknowing users may disrupt critical processes if they were able to work with the command line without a basic understanding of the processes of a machine.
												<br>
												<p class="text-center">
													<img src="img/windows10/terminal-command-line.png" width=100%>
												</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
              <div role="tabpanel" class="tab-pane" id="watchOS">
                <h3>watchOS</h3>
                <p class="lead">
                  watchOS takes a unique approach to text input to accomodate the size of the watch device. The interface maintains simplicity and consistancy to make text input options as satisfying and as easy to use as possible.
                </p>
                <div class="row">
                  <div class="col-md-6" "col-sm-12">
                    <ul margin-right="1rem">
                        <h3>Password Input: </h3>
                        The initial input of a passcode to enter the watch provides the only instance of the device using a digital-touch keyboard. A traditional number pad appears on the screen, and the user types in the passcode directly on the screen to enter the watch.
                          <br></br>
                          <p class="text-center">
                            <p class="text-center">
                                      <img src="img/apple-watch-passcode-input-screen-300x300.jpg" width=30%>
                                    </p>
                          </p>
                          <br></br>
                          <h3>String input</h3>
                          The Messaging app and Mail app are the only apps on watchOS that actually offer string input. When the user opens a message or an email, a menu is provided with four unique text input options available:
                          <br></br>
                      <li>
                        <em class="font-weight-bold">Siri: </em>The user can press the “siri” button, and speak their message into the watch. The message will appear on the face as the user speaks. There is a cancel button at the top left, and a send button on the top right.
                      </li>
                      <br></br>
                      <p class="text-center">
                      <img src="img/Apple-Watch-Voice.jpg" width=30%>
                    </p>
                    </ul>
                  </div>
                  <div class ="col-md-6" "col-sm-12">
                  <li>
                    <em class="font-weight-bold">Emoji: </em> Upon pressing the emoji button, the screen presents a menu of all emoji characters that the user can use, which can be browsed through by rotating the crown on the watch, or by scrolling directly on the touch screen. Swiping right on the emoji menu brings the user to three unique animated emoji menus only available to watch owners. Scrolling using the crown dynamically changes the action of the three emojis (a face, a heart, and a pair of hands), and can be sent when the user stops upon a suitable emoji action.
                  </li>
                <br></br>
                <p class=text-center>
                <img src="gifs/animated1442831623595.gif" width=60%>
                </p>
                  <br></br>
                  <li>
                    <em class="font-weight-bold">Scribble: </em>Selecting the scribble button leads the user to a watch face consisting of a large ‘dotted’ bar on the main screen.  One letter at a time, the user can hand write messages on the grid to form a message. When the user stops writing, the letters they have written show on the top of the screen. The user can input spaces using the space button at the bottom center, as well as use the backspace at the bottom right. The grid will detect upper and lowercase lettering, as well as numbers and punctuation. By scrolling with the crown, the user can also use predictive text when halfway through a word.
                    <br></br>
                    <p class="text-center">
                    <img src="gifs/scribble-reply-watchOS.gif" width=30%>
                  </p>
                  </li>
                  <br></br>
                  <li>
                    <em class="font-weight-bold">Default Replies: </em>besides the buttons for message inputs like Scribble, Emoji, and Siri, watchOS also provides a list of default replies at the bottom of the screen. These replies in their default form consist of regular responses like “Hello!”, “Sure!”, and “Sorry, can’t talk right now…”. The user does have the option to customize these messages. To send these messages, the user simply taps on the reply that they want, and it automatically sends the message. The user can also turn on Smart Replies, which predict possible message replies based on the context of past conversation.
                  </li>
                  <br></br>
                  <p class="text-center">
                    <img src="img/watchos3-messages-tap-default-reply.jpg" width=30%>
                  </p>
                  </div>
                </div>

              <h3>Appearance</h3>
              <p class="lead">
                The watchOS interface redefines how one inputs a string into their device. Due to the limited screen size, text input boxes are virtually eliminated from the interface. The only remnant of these boxes is the blinking carot that awaits text on the scribble page. The screen is dedicated to button display for the user to select in modes like emoji and default replies. For scribble mode, the screen is mostly occupied with the writing box for input. The siri mode leaves most of the screen blank, and only shows text as the user speaks it into the device. WatchOS takes a large step away from typical iOS interfaces in its lack of text boxes for string input.
              </p>
              <br></br>
              <h3>Behavior</h3>
              <p>While other iOS devices mostly depend on text boxes and how those boxes behave to communicate with the user, watchOS’ string input behavior is completely dependent on the form of text input the user is using. There are only small remnants of text boxes on watchOS, which are so popular in other apple software. As an example, siri uses the screen to display the words you are speaking to show how the message is being interpreted. Default reply, however, uses lists of buttons which represent replies for the user to select. The behaviors of these methods are completely unique, and completely dependent on the style of text input being used.
              </p>
              <br></br>
              <h3>Priority Metrics</h3>
              <ul><li><em>Learnability: </em>Text input on watchOS aims to be as learnable as possible. The design of the text input styles are made to be as simple as possible, so the user can easily and quickly understand how to input text on their device.
              <li><em>Efficiency: </em>WatchOS’ second priority has to be efficiency, again because of the simple design of the text input options. Styles like the large, easy to access default message buttons, and the quick scribble setting are purposely deigned so the user can input text as quickly as possible.
              <li><em>Satisfaction: </em>WatchOS wants the user to be satisfied with their experience inputting text. This metric is just barely behind Efficiency in importance, because string input on a watchOS device is naturally casual, and meant for all users. Inputting text on a watch interface is meant to be casual and quick, and therefore must be satisfying enough for quick, regular use.
              <li><em>Errors: </em>String input on watchOS does value the lack of errors in settings like siri and scribble. However, because many string input options are button based on watchOS, errors are low on the list of priorities.
              <li><em>Memorability: </em>Due to its simplicity, watchOS does not really need to worry about memorability of its string input settings. When there is a small amount of information for the user to remember, this metric is a relatively unimportant factor to consider.
              </li></ul>
              <br></br>
              <h3>Key Characteristics</h3>
              <ol>
                <li>watchOS devices should inform the user what they are inputting in settings that are dependent on subjective user input, such as siri and scribble.</li>
                <li>watchOS should provide clear, easy to navigate buttons for text input methods like default replies and emojis.</li>
                <li>All watchOS text input options must have a clear 'cancel' button at the top of the screen available at all times.</li>
              </ol>
            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<div class="container-fluid">
	<div class="row">
		<h3>Credits &amp; References</h3>
		<div class="panel panel-default">
			<div class="panel-body">
        <br></br>
				<p>
					The following websites have been used as resources in order to create this page.
					<ul>
            <li>
              <a href="https://support.apple.com/en-us/HT205783"> Apple Developer Site (watchOS message input)</a>
            </li>
						<li>
							<a href="https://developer.apple.com/library/mac/documentation/UserExperience/Conceptual/OSXHIGuidelines/ControlsText.html">Apple Developer Site (Text Controls)</a>
						</li>
						<li>
							<a href="https://developer.mozilla.org/en-US/docs/Web/Events/input">Mozilla Firefox Input Event</a>
						</li>
						<li>
							<a href="https://developer.apple.com/ios/human-interface-guidelines/ui-controls/text-fields/">iOS Human Interface Guidelines (Text Fields)</a>
						</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>
