---
title: String Input
layout: component
---

<blockquote>Every computer nowadays requires some form of text input from the user. This input is often accepted with a string input field.</blockquote>

<p class="lead">The string input field is used when the program requires the user to enter text information.</p>

<div class="row">
  <div class="col-sm-6">

	<h3>Typical Appearance</h3>

	<blockquote>
		The most basic form of a string input field is a one-line rectangular box. When not selected, the box appears like an ordinary static rectangle (not very exciting at this point since it's not doing anything). A well-designed string input interface would signal the user that they can enter a value into the box by changing the cursor icon; typically, the cursor icon will change into an icon shaped like an uppercase "i" called an "I-beam pointer". This would show the user that they can click on the box and enter some string inputs. When the user clicks inside of the box, a blinking vertical bar (called a caret) would typically appear to signal the user that the text field is waiting for an input. 
		<br>
		<br>
		<p class="text-center">
			<input type="text" class="form-control" placeholder="String input">
		</p>
	</blockquote>
	

	<h3>Typical Behavior</h3>
	<blockquote></blockquote>

	<h4>Events</h4>
	<blockquote></blockquote>

	<h4>State Diagram</h4>
	<blockquote></blockquote>

	<h4>Component in Action</h4>
	<blockquote></blockquote>


	<textarea rows="3"></textarea>
	<br>
	For inputs that require more than one-line, a larger string input field can be used.
	<br>
	<span class="input-xlarge uneditable-input">Disabled string input field</span>
	<br>
	<br>
	<input class="span3" type="email" required>
	<br>
	<br>
	<input class="input-xlarge" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
	<br>
	<br>

	</div>

	<div class="col-sm-6">
		<h3>Variants</h3>
		<blockquote></blockquote>

		<h3>Priority Metrics</h3>
		<blockquote></blockquote>

		<h3>Key Characteristics</h3>
		<blockquote></blockquote>

		</div>

	<h3>Platform-Specific Instances</h3>
	<blockquote></blockquote>
</div>


<h3>Credits &amp; References</h3>
<blockquote></blockquote>
