--
title: Radio Button
layout: component
--

<h2>Radio Button</h2>
<p class="lead">A type of button, typically presented with other radio buttons to allow users to decide exclusively on one choice from a set of related and predetermined options.</p>

<div class="row">
  <div class="col-sm-6">

<h3>Typical Appearance</h3>

<p>Radio buttons are usually circular in appearance and are accompanied to the right with a text label describing the given option. When inactive, the circles are not colored in, giving it an "empty" look to suggest that it is not currently active. 
When active, a dot concentric to the circle or an entirely different color to the background "fills" the circle, indicating that it is currently chosen.  </p>

<h3>Typical Behavior</h3>

<blockquote>
  <p>Lorem ipsum...</p>

</blockquote>

<h4>Events</h4>

<p>Lorem ipsum...</p>

<h4>State Diagram</h4>

<p>Lorem ipsum...</p>


<h4>Component in Action</h4>

  <p>Lorem ipsum...</p>


<p class="text-center">
  <button class="btn btn-default">Standard Bootstrap Button</button>
  <button class="btn btn-default disabled">Disabled Bootstrap Button</button>
</p>

  </div>

  <div class="col-sm-6">
<h3>Variants</h3>

<p>Lorem ipsum...</p>

<h3>Priority Metrics</h3>

<p>Lorem ipsum...</p>

<h3>Key Characteristics</h3>

<p>Lorem ipsum...</p>

<h4>Feedback</h4>

<p>Lorem ipsum...</p>

  </div>
</div>

<h3>Platform-Specific Instances</h3>

<p>Lorem ipsum...</p>

<div class="row">
  <div class="col-xs-6 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Alto</h4>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Amiga</h4>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Material Design</h4>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">watchOS</h4>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>

<h3>Credits &amp; References</h3>

<ul>
	<li>Lorem ipsum...</li>
</ul>
