---
title: Drag and Drop
layout: component
contributors:
    - name: Kate Gotfredson
      github: kgotfred
    - name: Kyle Trinidad
      github: KT-LMU
---

<style type="text/css">
/**************************************************************************/
/*Variable Content Based on Screen Size*/
  /*only display on large screens*/
  @media (max-width:991px) {
      .large-orLarger {
          display:none !important;
      }
  }
  /*only display on medium & larger screens*/
  @media (max-width: 991px) {
      .medium-orLarger {
          display:none !important;
      }
  }

    /*only display on small & larger screens*/
  @media (max-width: 767px) {
      .small-orLarger {
          display:none !important;
      }
  }
  /*only display on small or xs screens*/
  @media (min-width: 992px) {
      .small-only {
          display:none !important;
      }
  }
/**************************************************************************/
/*Usability Metrics Section*/
  #metrics {
    height: 330px;
    overflow: hidden;
    float: right;
    margin-bottom: 50px;
    padding:50px;
  }
  .metricsNav {
    height: 330px;
    vertical-align: middle;
    margin-left: 0px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  }
  .metricsMain {
    background-color:#F5F5F5;
    height: 330px;
    overflow: hidden;
    margin-left: 0px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  }
  .metricsScroller {
    height: 310px;
    overflow: auto;
    padding: 10px;
  }

  .layout {
    height: 330px;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
  }
/**************************************************************************/
/*Variant Carousel Formatting*/
  .carousel-inner > .item > img {
    margin: 0 auto;
  }

 .carousel-caption {
    background-color: #4C4C4C;
    position: static;
    height:170px;
    padding-right:10px;
    padding-left:10px;
    margin-top: 10px;
    padding-top:10px;
    padding-bottom:40px;
  }
  .carousel-caption h1 {
    margin-top:0px ;
    font-size: 30px;
    font-color: green;
  }

  .carousel {
    background-color:#f5f5f5;
    position: relative;
    padding: 10px;
  }

/**************************************************************************/
/*Additional Formatting*/
  .inlineHeader h4{
    display: inline;
    margin-right:2px;
    font-size: 16px;
  }

  .wellScroller {
    vertical-align: middle;
    overflow:auto;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  }

  kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #000;
    background-color: #DCDCDC;
  }

  hr {
    border-color: #e6e6e6;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
  }
</style>

<!--****************************Lead*********************************-->

<p class="lead">
The drag-and-drop feature allows the user to interactively move a file or image. Common results of dragging and dropping include <mark>moving</mark> a file to a new location, <mark>saving</mark> a file from an outside source (such as a website), and <mark>duplicating</mark> a file.</p>

<!--****************************Typical Appearance**********************************-->
<hr>
<div class="row">
  <div class="col-md-5">
    <h3>Typical Appearance</h3>
    <p>The drag-and-drop feature is rarely, if ever, visible to the user in its idle state.  Once the drag-and-drop is initiated, the file's movements are visually represented to assist the user's understanding of their actions. 
  </p><p>
    A <mark>"ghost-image,"</mark> as I will refer to it here, is a visual representation of the file that the user is dragging. It is anchored to the mouse to simulate physical dragging while the mouse button is depressed. If the user lets go of their mouse (referred to as "dropping" their object) in a valid place, the object will disappear from its original location and appear at its new location. If it is dropped in an invalid place, the ghost-image will animate back to its original location on a linear path. Typically, the ghost-image is semi-transparent and/or highlighted.
      <div class = "col-xs-3 col-xs-offset-1 small-orLarger">
          <img src = "ghostImageExample.jpg" alt = "ghostImageExample" width="75px">
      </div>
      <div class = "col-xs-6 col-xs-offset-1 small-orLarger">
        <br>Click and drag this image to see the ghost-image in action.
      </div>
  </div>
  <div class="clearfix visible-sm"></div>

<!--****************************Key Characteristics**********************************-->
  <div class="col-md-7">
    <h3>Key Characteristics</h3>
    <div>
      The point of a drag and drop feature is to <mark>visually show the user that their file is moving</mark> to a new location. The heart of the drag and drop, therefore, is the visual representation. The user <em>must</em> be able to follow the drag and drop process as they cause it to occur.
    </div>
    <div>
      <h4>The Ghost-Image</h4>
      <p>The most recognizable drag and drop feature is the "ghost" that appears when a user clicks and drags a file, image, or other object. <mark>It is the universal sign that indicates the object is being dragged.</mark></p>
    </div>
 
    <p></p>
    <div>
      <h4>Common Rules of Drag-and-Drop</h4>
      <ul>
        <p><li><mark>The ghost-image should always be anchored to the mouse</mark> when it is being dragged. </li></p>
        <p><li><mark>The ghost-image should "react" when it is dragged over a valid area, when possible</mark>. This could include changing states (i.e. a line of text switching to a text file icon) or adding a <kbd>+</kbd> sign to the image corner.</li></p>
        <p><li><mark>Placing an object on an invalid area should cancel the drag and drop non-destructively</mark>. When this occurs, the user should be able to see their dragged file animate back to its original location.</li></p>
        <p><li><mark>Drag and drop does not move the actual file</mark> until it has been successfully completed. Remember: drag and drop is simply a visual interface for the user that brings about an instantaneous result.</li></p>
        <p><li><mark>Drag and drop should not be the only option for the user.</mark> The drag and drop is a visual tool meant to facilitate the user's understanding, but it is not the most efficient method. If the user can simply write their file name into a textbox or copy and paste the file, that functionality should also be available to them.</li></p>
      </ul>
    </div>
  </div>
</div>
<br>
<hr>
<!--****************************Typical Behavior**********************************-->
<div class = "row">
  <div class = "col-xs-12">
    <h3>Typical Behavior</h3><p>
    Unsurprisingly, the drag and drop function is initiated by a mouse button click, drag, and release. When the drag and drop is performed successfully, the file will move, duplicate, or save itself to the dropped location.</p>
  </div>
  <br>

  <div class = "col-md-8">
    <h4>Events</h4>
    <div class = "inlineHeader">
      <ul>
      <li><h4>The Lift -</h4> Initiated with <code>mouse button down</code></li><p>
      When the user clicks and holds down on a folder, file, image, bit of highlighted text, link, or other draggable object, the drag and drop behavior is activated. Sometimes, such as when the object is on the desktop, the  object will highlight clicked and held. Usually, however, this initial event is not accompanied by any visual cue. The clicked object must be dragged away from its origin for a lifted ghost-image to appear (see The ghost-image section above).</p>

      <li><h4>The Drag -</h4> Maintained while <code>mouse button down</code></li><p>
      The dragging period of the drag and drop action lasts for as long as the mouse button is down. The ghost-image of the item clicked is anchored to the mouse indefinitely until the mouse is released. This ghost-image sometimes changes states as it passes over different elements (such as a desktop, a folder, or an address bar), indicating to the user that it can be dropped there.  <mark>It is important to note that during the drag, the file itself is not moving - only its ghost-image, which is simply a visual representation of the file enlisted for the user's benefit. (move to larger area?)</mark></p>

      <li><h4>The Drop -</h4> Initiated with a <code>mouse button release</code></li><p>
      The drag and drop is completed when the user releases the mouse, regardless of whether the dragged object has been placed in a valid location. If the ghost-image is dropped on an invalid area, it is reset back to its original location. This reset is visually depicted with an animation of the ghost-image returning to its owner on a quick, linear path. If the object is dropped on a valid area, its ghost-image will disappear and the file itself is relocated there.</p>
      </ul>
    </div>
  </div>
  <div class = "col-md-4">
    <div class = "large-orLarger"><div align="center"><br><br><img src="basicEvents.gif" alt="basicEvents gif" style="height:380px;"></div></div>
  </div>
</div>

<br>
<div><h4>Drag and drop in action</h4>
The following gifs represent common functionality of drag-and-drop within OS Yosemite's file system <em>Finder</em>.
</div>

<!--****************************Gif Examples**********************************-->
<div class="row"><p></p>
  <div class="col-sm-4 col-sm-offset-1  col-lg-3 col-lg-offset-0">
    <div align="center"><img src="filedrag_toDesktop.gif" alt="filedrag_toDesktop gif" style="width:290px;"></div>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-lg-3 col-lg-offset-0">
     <div class = "wellScroller" style = "height:181px">This example demonstrates the most common use of drag and drop: the changing of file locations, or the <code>moving</code>  functionality. While the computer only needs the new file address, the drag and drop visual scheme assists the viewer in understanding the inner workings of the Finder. This also illustrates how the state of the ghost-image can change as it is dragged to different areas, such as the desktop. This state change is used to indicate that it can be dropped at that location, facilitating the user's learnability, memorability, and satisfaction while also reducing the chance of errors.</div>
  </div>

  <div class="clearfix visible-md clearfix visible-sm"></div>
  <p></p>
  
  <div class="col-sm-4 col-sm-offset-1  col-lg-3 col-lg-offset-0">
    <div align="center"><img src="imagedrag_toDesktop.gif" alt="imagedrag_toDesktop gif" style="width:290px;"></div>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-lg-3 col-lg-offset-0">
     <div class = "wellScroller" style = "height:181px">In this example, an image is dragged from an Internet webpage onto the desktop. This illustrates the <code>saving</code> functionality. Many elements, including images, text, and links, can be dragged and dropped directly from webpages to the computer. Ideally, this action should cause the ghost-image to change states when it enters the dekstop area, to indicate that it can be dropped there. In the case of OS Yosemite, however, this functionality it is not implemented.</div>
  </div>
</div>

<p></p>
<div class="row"></div>

<div class="row"><p></p>
  <div class="col-sm-4 col-sm-offset-1  col-lg-3 col-lg-offset-0">
    <div align="center"><img src="filedrag_multiFolderHover.gif" alt="filedrag_multiFolderHover gif" style="width:290px;"></div>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-lg-3 col-lg-offset-0">
     <div class = "wellScroller" style = "height:181px">This is a more complex example of the drag and drop <code>moving</code> functionality. A user is able to interactively travel through a file hierarchy while dragging their file by hovering over the folder they wish to enter. Subtle animations are used to facilitate the user's understanding of the process. As the gif shows, the folders blink briefly before opening as the reader hovers their ghost-image over them. These visual cues help the user feel as though they are physically navigating through the folder structure as they drag their file.</div>
  </div>

  <div class="clearfix visible-md clearfix visible-sm"></div>
  <p></p>
  
  <div class="col-sm-4 col-sm-offset-1  col-lg-3 col-lg-offset-0">
    <div align="center"><img src="filedrag_duplicate.gif" alt="filedrag_duplicate gif" style="width:290px;"></div>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-lg-3 col-lg-offset-0">
     <div class = "wellScroller" style = "height:181px">Here, the user has communicated with the drag and drop function by holding down the <kbd>opt</kbd> key (<kbd>alt</kbd> on a PC). This causes the drag and drop function not to move a file, but to <code>duplicate</code> it. It is identified by the green plus icon that appears when the ghost-image is dragged over a valid area. This is an additional functionality that is both useful and widely unknown. It is neither memorable nor easily learnable, and it looks almost identical to the normal drag and drop function, making it difficult to visually discern whether it is activated or not by inexperienced users. This utility is, however, an extremely efficient way of copying a file quickly.</div>
  </div>
</div>

<p></p>
<div class="row"></div>

<div class="row"><p></p>
  <div class="col-sm-4 col-sm-offset-1 col-lg-3 col-lg-offset-0">
    <div align="center"><img src="filedrag_sameLocation.gif" alt="filedrag_sameLocation gif" style="width:290px;"></div>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-lg-3 col-lg-offset-0">
     <div class = "wellScroller" style = "height:181px">This example illustrates the result of a drag and drop that is unsuccessful. The user has dragged and placed their file in the same file address, triggering an animation of the ghost-image returning to its source on a linear path. This animation could be triggered by a user error, but it is also a common method of cancelling the drag and drop non-destructively.</div>
  </div>

  <div class="clearfix visible-md clearfix visible-sm"></div>
  <p></p>

  <div class="col-sm-4 col-sm-offset-1 col-lg-3 col-lg-offset-0">
    <div align="center"><img src="filedrag_topBar.gif" alt="filedrag_topBar gif" style="width:290px;"></div>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-lg-3 col-lg-offset-0">
     <div class = "wellScroller" style = "height:181px">Here is another common method that users might use to intentionally cancel their drag and drop. This functionality is most likely limited to Mac workspaces, but the theory behind it spans all platforms: when a ghost-image is dropped on an invalid area, the drag and drop should be cancelled and the file returned to its original place. The address bar is an easily accessible way to cancel a drag and drop, but it is not necessarily intuitive or easily learnable. The user needs prior knowledge of what a valid and invalid area looks like in order to know where to place or cancel a drag and drop.</div>
  </div>
</div>
<!--****************************State Diagram**********************************-->

<br><br><h4>State Diagram</h4>
<div class = "small-only">Please increase your browser size to view the full state diagram.</div>
<div class = "large-orLarger">

<svg width="1000" height="650" xmlns="http://www.w3.org/2000/svg">
 <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
 <g>
  <title>Layer 1</title>
  <rect id="svg_1" height="70" width="148.00001" y="28.5" x="55.99999" fill="#ffaaaa"/>
  <rect id="svg_11" height="73" width="276" y="419" x="215" fill="#aad4ff"/>
  <rect id="svg_13" height="99" width="229.99999" y="130" x="242" fill="#aaaaff"/>
  <rect id="svg_14" height="32" width="212" y="361" x="249" fill="#aaaaff"/>
  <text transform="matrix(0.7772104740142822,0,0,0.7772104740142822,15.372477293014526,51.90995955467224) " xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" id="svg_21" y="134.05464" x="441.48373" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000">Click &amp; Hold Mouse</text>
  <text transform="matrix(0.6419369578361511,0,0,0.6419369578361511,399.10601837188005,108.13503873348236) " xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="105.95018" x="-65.59651" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000" id="svg_2">Object is "lifted" off the screen<tspan id="svg_143" y="125.95018" x="-65.59651">and displayed as a semi-transparent</tspan><tspan id="svg_144" y="145.95018" x="-65.59651">ghost-image that is anchored to</tspan><tspan id="svg_145" y="165.95018" x="-65.59651">the mouse.</tspan></text>
  <rect height="97.28261" width="230.99998" y="131.5" x="579.43355" fill="#aaaaff" id="svg_8"/>
  <text transform="matrix(0.6419369578361511,0,0,0.6419369578361511,399.10601837188005,108.13503873348236) " xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="105" x="464.72591" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000" id="svg_18">ghost-image is always<tspan y="127" x="464.72591" id="svg_159">anchored to the cursor.</tspan></text>
  <text id="svg_24" transform="matrix(0.7772104740142822,0,0,0.7772104740142822,15.372477293014526,51.90995955467224) " xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="427.41147" x="444.05705" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000">Mouse Released</text>
  <text id="svg_25" transform="matrix(0.7772104740142822,0,0,0.7772104740142822,15.372477293014526,51.90995955467224) " xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="132.76799" x="872.5124" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000">Dragging (mouse still down)</text>
  <rect id="svg_31" height="82.99999" width="229.99999" y="21" x="241" fill="#aaaaff"/>
  <text id="svg_32" transform="matrix(0.7772104740142822,0,0,0.7772104740142822,15.372477293014526,51.90995955467224) " xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="-7.47716" x="433.76381" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000">Click &amp; Hold Mouse</text>
  <text id="svg_33" transform="matrix(0.6419369578361511,0,0,0.6419369578361511,399.10601837188005,108.13503873348236) " xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="-62.29063" x="-71.82764" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000">Object does not "lift" off<tspan y="-42.29063" x="-71.82764" id="svg_160">the screen/is unaffected</tspan></text>
  <text id="svg_39" transform="matrix(0.8779863077194501,0,0,0.8779863077194501,13.32279933940516,16.713640758508298) " xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="44.42176" x="133.46088" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000">If object is not<tspan id="svg_145" y="71.00485" x="133.46088">draggable</tspan></text>
  <text id="svg_42" transform="matrix(0.8779863077194501,0,0,0.8779863077194501,13.32279933940516,16.713640758508298) " xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="483.49467" x="382.89529" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000">Dropped in same location</text>
  <rect id="svg_62" height="70" width="148.00001" y="147.5" x="56.99999" fill="#baffa5"/>
  <text id="svg_63" transform="matrix(0.8779863077194501,0,0,0.8779863077194501,13.32279933940516,16.713640758508298) " xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="177.11177" x="132.32191" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000">If object is<tspan id="svg_146" y="204.83383" x="132.32191">draggable</tspan></text>
  <rect height="32" width="212" y="362" x="608" fill="#aaaaff" id="svg_64"/>
  <text transform="matrix(0.7772104740142822,0,0,0.7772104740142822,15.372477293014526,51.90995955467224) " xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="429.34145" x="905.96538" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000" id="svg_65">Mouse Released</text>
  <rect height="73" width="276" y="426" x="696.5" fill="#aad4ff" id="svg_66"/>
  <text transform="matrix(0.8779863077194501,0,0,0.8779863077194501,13.32279933940516,16.713640758508298) " xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="494.88436" x="934.72622" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000" id="svg_67">Dropped on valid location</text>
  <text transform="matrix(0.6419369578361511,0,0,0.6419369578361511,399.10601837188005,108.13503873348236) " xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="559.26572" x="675.13044" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000" id="svg_68">Ghost object is "dropped" onto cursor's<tspan y="579.26572" x="675.13044" id="svg_161">location and displayed as a normal file.</tspan></text>
  <rect height="103" width="286" y="505" x="493.00002" fill="#aad4ff" id="svg_69"/>
  <text transform="matrix(0.8779863077194501,0,0,0.8779863077194501,13.32279933940516,16.713640758508298) " xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="582.58505" x="709.77966" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000" id="svg_70">Dropped on invalid location</text>
  <text transform="matrix(0.6419369578361511,0,0,0.6419369578361511,399.10601837188005,108.13503873348236) " xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="682.33077" x="362.79447" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000" id="svg_71">Ghost object is animated back on a<tspan y="702.33077" x="362.79447" id="svg_162">linear path to its original location.</tspan><tspan y="722.33077" x="362.79447" id="svg_163">Invalid locations include the top</tspan><tspan y="742.33077" x="362.79447" id="svg_164">bar or other areas that do not hold files.</tspan></text>
  <rect id="svg_79" height="73" width="276" y="253" x="402" fill="#aad4ff"/>
  <text id="svg_80" transform="matrix(0.8779863077194501,0,0,0.8779863077194501,13.32279933940516,16.713640758508298) " xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="296.70361" x="597.02164" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000">Escape Key Pressed</text>
  <text id="svg_81" transform="matrix(0.6419369578361511,0,0,0.6419369578361511,399.10601837188005,108.13503873348236) " xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="294.4422" x="214.80487" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000">Ghost object is animated back on a<tspan y="314.4422" x="214.80487" id="svg_165">linear path to its original location</tspan></text>
  <line id="svg_84" y2="64" x2="241.95308" y1="64" x1="206.5" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="none"/>
  <line id="svg_85" y2="182.5" x2="241.9759" y1="182.5" x1="204.5" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="none"/>
  <line y2="182" x2="580.4759" y1="182" x1="470" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="none" id="svg_88"/>
  <line transform="rotate(167.7789764404297 657.1572875976564,242.0455017089844) " y2="242.04551" x2="709.61856" y1="242.04551" x1="604.69606" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="none" id="svg_89"/>
  <line y2="295.25" x2="426.2259" y1="295.25" x1="293.25" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="none" id="svg_90" transform="rotate(90 359.7379455566406,295.25000000000006) "/>
  <line y2="295.00003" x2="779.47588" y1="295.00003" x1="644.99997" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="none" transform="rotate(90 712.2379150390626,295.0000305175782) " id="svg_91"/>
  <line y2="425.73007" x2="714.24021" y1="425.73007" x1="485.78072" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="none" transform="rotate(165.26693725585938 600.0104980468751,425.7300720214844) " id="svg_95"/>
  <line y2="406.50006" x2="373.97586" y1="406.50006" x1="345.49994" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="none" transform="rotate(90 359.7379150390625,406.5000610351563) " id="svg_97"/>
  <line y2="411.64499" x2="740.81398" y1="411.64499" x1="704.18938" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="none" transform="rotate(52.46544647216797 722.501708984375,411.6449890136719) " id="svg_100"/>
  <line y2="449.93122" x2="743.24387" y1="449.93122" x1="602.54715" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="none" transform="rotate(126.17933654785156 672.8955078125,449.9311828613282) " id="svg_101"/>
  <ellipse ry="4" rx="4" cy="396.5" cx="712" stroke-linecap="null" stroke-linejoin="null" stroke-width="5" stroke="#000000" fill="#000000" id="svg_102"/>
  <ellipse ry="4" rx="4" cy="64.5" cx="204" stroke-linecap="null" stroke-linejoin="null" stroke-width="5" stroke="#000000" fill="#000000" id="svg_104"/>
  <ellipse ry="4" rx="4" cy="181.5" cx="475" stroke-linecap="null" stroke-linejoin="null" stroke-width="5" stroke="#000000" fill="#000000" id="svg_108"/>
  <ellipse ry="4" rx="4" cy="228.5" cx="712" stroke-linecap="null" stroke-linejoin="null" stroke-width="5" stroke="#000000" fill="#000000" id="svg_109"/>
  <ellipse ry="4" rx="4" cy="230.5" cx="359" stroke-linecap="null" stroke-linejoin="null" stroke-width="5" stroke="#000000" fill="#000000" id="svg_110"/>
  <ellipse ry="4" rx="4" cy="394.5" cx="360" stroke-linecap="null" stroke-linejoin="null" stroke-width="5" stroke="#000000" fill="#000000" id="svg_115"/>
  <ellipse ry="4" rx="4" cy="183" cx="205" stroke-linecap="null" stroke-linejoin="null" stroke-width="5" stroke="#000000" fill="#000000" id="svg_116"/>
  <line transform="rotate(12.412919998168945 410.15734863281284,243.04550170898435) " y2="243.04551" x2="462.61856" y1="243.04551" x1="357.69606" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="none" id="svg_117"/>
  <ellipse ry="11.5" rx="11.5" cy="513.5" cx="359.5" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="#ffffff" id="svg_123"/>
  <line y2="496.00003" x2="364.97589" y1="496.00003" x1="354.49997" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="none" transform="rotate(90 359.73791503906256,496.0000305175781) " id="svg_126"/>
  <ellipse ry="11.5" rx="11.5" cy="347.5" cx="532.5" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="#ffffff" id="svg_127"/>
  <line y2="330.00003" x2="537.97589" y1="330.00003" x1="527.49997" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="none" transform="rotate(90 532.7379150390626,330.0000305175782) " id="svg_128"/>
  <ellipse ry="11.5" rx="11.5" cy="521" cx="834.5" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="#ffffff" id="svg_129"/>
  <line y2="503.50003" x2="839.97589" y1="503.50003" x1="829.49997" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="none" transform="rotate(90 834.7379150390626,503.5000610351563) " id="svg_130"/>
  <ellipse ry="11.5" rx="11.5" cy="629" cx="634.5" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="#ffffff" id="svg_131"/>
  <line y2="611.50003" x2="639.97589" y1="611.50003" x1="629.49997" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="none" transform="rotate(90 634.7379150390625,611.5000610351564) " id="svg_132"/>
  <ellipse ry="11.5" rx="11.5" cy="65" cx="494" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="#ffffff" id="svg_133"/>
  <line y2="66.00003" x2="481.47589" y1="66.00003" x1="470.99997" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="none" id="svg_134"/>
  <text transform="matrix(0.6419369578361511,0,0,0.6419369578361511,399.10601837188005,108.13503873348236) " xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="553.03458" x="-84.28994" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000" id="svg_135">Ghost object is animated back on a<tspan id="svg_166" y="573.03458" x="-84.28994">linear path to its original location.</tspan></text>
 </g>
</svg>
</div>
<br>
<hr>

<!--**********************Variants****************************-->
<div class = "row">
  <div class = "col-xs-12">
    <h3>Variants</h3>
    Within a desktop computer's file system, the drag and drop function is similar accross platforms. However, the uses for drag and drop in programs, websites, games, and more are endless. Here are a few examples of some more interesting implementations of the classic drag and drop component.
  </div>
</div>
<br>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>

  </ol>

  <!-- Wrapper for slides style="width:290px; -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="textDrag.gif" alt="textDrag gif" align="center">
      <div class="carousel-caption">
        <h1>Dragging Text</h1>
        <p>A user can drag any text - from their own system or from the internet - and copy it, paste it, or save it as a new text file.</p>
      </div>
    </div>

    <div class="item">
      <img src="linkDrag.gif" alt="linkDrag gif" align="center">
      <div class="carousel-caption">
        <h1>Dragging Links</h1>
        <p>All modern Internet browsers have implemented the drag and drop into many parts of their interface. The next few slides illustrate some common examples. This slide shows how dragging and dropping links into the address bar will open them in a new tab.</p>
      </div>
    </div>

    <div class="item">
      <img src="tabDrag.gif" alt="tabDrag gif" align="center">
      <div class="carousel-caption">
        <h1>Dragging Browser Tabs</h1>
        <p>Tab navigation has been made simpler and more effective with the addition of drag and drop as an organizer.</p>
      </div>
    </div>

    <div class="item">
      <img src="googleDrag.gif" alt="googleDrag gif" align="center">
      <div class="carousel-caption">
        <h1>Dragging into Websites (Cloud Storage)</h1>
        <p>File uploading websites, such as Google Drive, Dropbox, Photobucket, Facebook, and countless others have used drag and drop as an alternative to defining a path. The most effective websites give the user the option to drag and drop <em>or</em> chose the path.</p>
      </div>
    </div>

    <div class="item">
      <img src="photoshopDrag.gif" alt="photoshopDrag gif" align="center">
      <div class="carousel-caption">
        <h1>Dragging into Programs</h1>
        <p>Programs that use multiple files, including film editing software, iTunes playlists, and image editing programs (like Photoshop, pictured above) also use drag and drop as an alternative to importing the files through a folder structure.</p>
      </div>
    </div>

    <div class="item">
      <img src="puzzleDrag.gif" alt="puzzleDrag gif" align="center">
      <div class="carousel-caption">
        <h1>Dragging in Games</h1>
        <p>Games (especially mobile games, where a touch screen is used) utilize drag and drop components to immerse the player in the screen. Drag and drop, when done correctly, can cause the user to feel as though they are actually touching the objects. It is an excellent way to give the game more depth and realism.</p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<hr>
<!--**********************Usability Metrics: MD-LG SCREENS****************************-->

<div class = "row medium-orLarger">
  <div class = "col-xs-12 col-xs-offset-0 metrics"><!--whole thing-->
      <h3> Usability Metrics</h3>
      <div class="col-xs-3 metricsNav" align="center"><!--nav column-->
          <br><br><a href="#learn" class="btn btn-info btn-block" role="button">Learnability</a><br>        
          <a href="#effic" class="btn btn-info btn-block" role="button">Efficiency</a><br>
          <a href="#error" class="btn btn-info btn-block" role="button">Errors</a><br> 
          <a href="#memor" class="btn btn-info btn-block" role="button">Memorability</a><br>
          <a href="#satis" class="btn btn-info btn-block" role="button">Satisfaction</a><br>
      </div>
      <div class="col-xs-9 metricsMain"><!--main column-->
        <a id="learn"></a>
        <div class = "layout">
        <div class="metricsScroller inlineHeader">          
          <h3>Learnability</h3><p>
          The physical action of the drag and drop may seem intuitive to experienced users, but those who have not used the functionality before may struggle with learning it on their own. </p>
          <h4>There are no visual cues indicating a draggable object until the drag begins.</h4><p>
          This may be for the better, but for new users this poses an issue. There is no real way of knowing whether an item is draggable or not, unless the user attempts to do so. A button, scrollbar, or checkbox will always be visible to the user, but drag and drop is a hidden functionality that is difficult to discover on one's own without it first being taught. Additionally, the <kbd>opt</kbd>-click and drag to duplicate a file is a <em>doubly</em> hidden function that is even less learnable.</p>
          <h4>But to be fair...</h4><p>
          All modern computers have the drag and drop functionality in some form or another. It would therefore be very uncommon to find a computer-user who has never seen or tried the drag and drop before. Because of this, the learnability metric is not its first priority. It is safe to assume that most users who wish to move a file would attempt a drag and drop.</p>
          <h4>All the user needs is a basic awareness of "drag and drop" as an option.</h4><p>
          If the user knows what a drag and drop is, the functionality is very learnable across all platforms. Drag and drop is fairly uniform in its visual representation on Linux, Mac, Windows, and most websites (especially file-uploading and cloud storage websites). Even games involving drag and drop, like dress-up games or word matchers, are similar and quickly learnable.
        </div>
        </div>
        <br><br><br>
        <a id="effic"></a>
        <div class = "layout">
        <div class="metricsScroller inlineHeader">
             <h3>Efficiency</h3><p></p>
            <h4>Efficiency is neither the drag and drop's strong suit nor its goal.</h4><p>
            Drag and drop's main function is to give the user a simple, understandable, visual representation of the movement of files. It allows for both user error and user delay, and it is dependent on the speed of the user's mouse. It also involves brief animations, that are visually helpful, but unnecessary for experienced users. This makes drag and drop rather inefficient, especially when similar actions like copy/paste are instantaneous.
            </p>
            <h4>It is necessary for other methods of file transfer to be implemented to compensate for the lack of efficiency.</h4><p>
            The user should have other approaches available to them if they are comfortable with the interface. <code>Copy/cut</code> and <code>paste</code> are the "invisible" versions of drag and drop, and are much more efficient. The user should also have the option of typing in the file's path directly, especially in regards to file uploading websites like Google Drive or Photobucket, where drag and drop is a main component.</p>

        </div>
        </div>
        <br><br><br>
        <a id="error"></a>
        <div class = "layout">
        <div class="metricsScroller inlineHeader">
            <h3>Errors</h3><p></p>
            <h4>Because drag and drop is a hidden functionality, it is prone to errors that result from guesswork.</h4><p> It is impossible to know, for example, whether an image on a website is draggable or not until it is attempted. Generally the only result of these errors is an unresponsive click on the page. Because these errors are usually harmless, they are not a major issue with drag and drop.</p>
            <p>A slightly more problematic error can occur with drag and drop when the function is unclear about where it can be placed. In some cases, the ghost-image will react when dragged over a valid area, but in others, it will remain unresponsive. If a user drops their file on an invalid area, the ghost-image animates back and they have to start over again. This can become frustrating if the user is unfamiliar with where the file can be placed.
            </p><h4>Comparatively, however, drag and drop has few common errors.</h4><p>
            This is because it is a very explicit and linear process that focuses on making file reorganization understandable. The errors that it is prone to make are generally harmless. They do not affect the interface in any way; rather, the system reverts back to its original state in the event of an error. This is an excellent method of error management that works well for drag and drop.</p>
        </div>
        </div>
        <br><br><br>
        <a id="memor"></a>
        <div class = "layout">
        <div class="metricsScroller inlineHeader">
            <h3>Memorability</h3><p></p>
            <h4>Memorability is of high priority for the drag and drop feature because it is not a visible function.</h4> In fact, the invisible drag and drop function relies entirely on memorability. If a user does not remember how to drag and drop a file, they have no visual cue to remind them at all.</p>
            <h4>Fortunately, the drag and drop is entirely memorable.</h4><p> As long as the user remembers what a drag and drop is (its self-explanatory title is a big giveaway), they will be able to perform it on any computer system or website. It is a simple, uniform, and logical system for moving files to different locations that sticks with computer users easily.</p>
        </div>
        </div>
        <br><br><br>
        <a id="satis"></a>
        <div class = "layout">
        <div class="metricsScroller inlineHeader">
            <h3>Satisfaction</h3>
            <h4>The physical nature of the drag and drop gives it some merit in the satisfaction metric.</h4> <p>While the drag and drop method was implemented strictly out of necessity, there is something to be said about the satisfaction felt from physically dragging a file and dropping it in a new place. The animations that accompany it give it a very concrete feel; psychologically, this method of moving files may feel more reassuring to the user, because they can see the process and the result, rather than allowing the computer to process behind the scenes. </p>
            <h4>Touch screens and games make excellent use of drag and drop in regards to satisfaction.</h4><p>Picking up and dragging an object on a screen, with the mouse or your finger, immediately makes it more tangible. Using drag and drop is a great way to immerse the user in the game or application and break the boundary of the screen. In this sense, satisfaction can be paramount to the drag and drop function.
        </div>
        </div>
      </div>
  </div>
</div>

<!--**********************Usability Metrics: XS-SM SCREENS****************************-->

<div class = "row small-only">
      <div class="col-xs-12">
      <h3>The Five Usability Metrics</h3>
       <h4>Learnability</h4><p>
        <div class ="inlineHeader well">
          The physical action of the drag and drop may seem intuitive to experienced users, but those who have not used the functionality before may struggle with learning it on their own. </p>
          <h4>There are no visual cues indicating a draggable object until the drag begins.</h4><p>
          This may be for the better, but for new users this poses an issue. There is no real way of knowing whether an item is draggable or not, unless the user attempts to do so. A button, scrollbar, or checkbox will always be visible to the user, but drag and drop is a hidden functionality that is difficult to discover on one's own without it first being taught. Additionally, the <kbd>opt</kbd>-click and drag to duplicate a file is a <em>doubly</em> hidden function that is even less learnable.</p>
          <h4>But to be fair...</h4><p>
          All modern computers have the drag and drop functionality in some form or another. It would therefore be very uncommon to find a computer-user who has never seen or tried the drag and drop before. Because of this, the learnability metric is not its first priority. It is safe to assume that most users who wish to move a file would attempt a drag and drop.</p>
          <h4>All the user needs is a basic awareness of "drag and drop" as an option.</h4><p>
          If the user knows what a drag and drop is, the functionality is very learnable across all platforms. Drag and drop is fairly uniform in its visual representation on Linux, Mac, Windows, and most websites (especially file-uploading and cloud storage websites). Even games involving drag and drop, like dress-up games or word matchers, are similar and quickly learnable.
        </div>
      </div>
      <br>
      <div class="col-xs-12">
        <h4>Efficiency</h4><p></p>
        <div class ="inlineHeader well">
          <h4>Efficiency is neither the drag and drop's strong suit nor its goal.</h4><p>
          Drag and drop's main function is to give the user a simple, understandable, visual representation of the movement of files. It allows for both user error and user delay, and it is dependent on the speed of the user's mouse. It also involves brief animations, that are visually helpful, but unnecessary for experienced users. This makes drag and drop rather inefficient, especially when similar actions like copy/paste are instantaneous.</p>
          <h4>It is necessary for other methods of file transfer to be implemented to compensate for the lack of efficiency.</h4><p>
          The user should have other approaches available to them if they are comfortable with the interface. <code>Copy/cut</code> and <code>paste</code> are the "invisible" versions of drag and drop, and are much more efficient. The user should also have the option of typing in the file's path directly, especially in regards to file uploading websites like Google Drive or Photobucket, where drag and drop is a main component.</p>
        </div>
      </div>
      <br>
      <div class="col-xs-12">
        <h4>Errors</h4><p></p>
        <div class ="inlineHeader well">
          <h4>Because drag and drop is a hidden functionality, it is prone to errors that result from guesswork.</h4><p> It is impossible to know, for example, whether an image on a website is draggable or not until it is attempted. Generally the only result of these errors is an unresponsive click on the page. Because these errors are usually harmless, they are not a major issue with drag and drop.</p>
          <p>A slightly more problematic error can occur with drag and drop when the function is unclear about where it can be placed. In some cases, the ghost-image will react when dragged over a valid area, but in others, it will remain unresponsive. If a user drops their file on an invalid area, the ghost-image animates back and they have to start over again. This can become frustrating if the user is unfamiliar with where the file can be placed.
          </p><h4>Comparatively, however, drag and drop has few common errors.</h4><p>
          This is because it is a very explicit and linear process that focuses on making file reorganization understandable. The errors that it is prone to make are generally harmless. They do not affect the interface in any way; rather, the system reverts back to its original state in the event of an error. This is an excellent method of error management that works well for drag and drop.</p>
        </div>
      </div>
      <br>
      <div class="col-xs-12">
        <h4>Memorability</h4><p></p>
        <div class ="inlineHeader well">
          <h4>Memorability is of high priority for the drag and drop feature because it is not a visible function.</h4> In fact, the invisible drag and drop function relies entirely on memorability. If a user does not remember how to drag and drop a file, they have no visual cue to remind them at all.</p>
          <h4>Fortunately, the drag and drop is entirely memorable.</h4><p> As long as the user remembers what a drag and drop is (its self-explanatory title is a big giveaway), they will be able to perform it on any computer system or website. It is a simple, uniform, and logical system for moving files to different locations that sticks with computer users easily.</p>
        </div>
      </div>
      <br>
      <div class="col-xs-12">
        <h4>Satisfaction</h4>
        <div class ="inlineHeader well">
          <h4>The physical nature of the drag and drop gives it some merit in the satisfaction metric.</h4> <p>While the drag and drop method was implemented strictly out of necessity, there is something to be said about the satisfaction felt from physically dragging a file and dropping it in a new place. The animations that accompany it give it a very concrete feel; psychologically, this method of moving files may feel more reassuring to the user, because they can see the process and the result, rather than allowing the computer to process behind the scenes. </p>
          <h4>Touch screens and games make excellent use of drag and drop in regards to satisfaction.</h4><p>Picking up and dragging an object on a screen, with the mouse or your finger, immediately makes it more tangible. Using drag and drop is a great way to immerse the user in the game or application and break the boundary of the screen. In this sense, satisfaction can be paramount to the drag and drop function.
        </div>
      </div>
</div>
<br><hr>
<p>
<h3>Platform-Specific Instances</h3>

    <blockquote>The drag and drop function has been implemented in most, if not all, major computer platforms. Windows, Linux, and Mac all have extremely similar drag and drop functionalities, including a ghost-image and brief animations of opening files and invalid location drops. The examples listed on this page were all captured on an OS Yosemite Macbook Air, but they accurately illustrate the typical drag and drop functionality that all modern platforms use. The only major difference between these platforms in regard to drag and drop is what they consider a valid or invalid location. For example, on a Mac a file that is dragged to the top bar will cancel the drag, but if a file is dragged to the main bar on a Windows platform it will be placed there. Aside from this difference, the drag and drop is visually and functionally analogous accross all major platforms and programs.</blockquote>
  </p>
<br><hr>
<!--****************************iOS Drag and Drop**********************************-->
<div class = "row">
  <div class = "col-xs-12">
    <h3>Drag and Drop iOS Devices</h3>
    <p class = "lead">For iOS devices, like the iPhone and iPad, drag and drop functions differently because of the use of touch controls and lack of mouse and cursor. Touch controls on iOS prioritize scrolling over other controls. Because of this, to use drag and drop on iOS devices, it has to be enabled first. <mark>Note that drag and drop on the home screen will only move the app's icon and where it can be accessed. This will not change where it is stored on the device.</mark></p>
  </div>
  <br>

  <div class = "col-md-8">
    <h4>Home Screen Events</h4>
    <div class = "inlineHeader">
      <ul>
      <li><h4>Enable -</h4> Initiate by <code>Tap and holding on an app</code></li><p>
      Because holding and moving your finger down on an iOS devices home screen scroll through apps, drag and drop must be enabled by holding down on one of the apps on the device.  In this mode on the home screen, apps will start shaking, denoting that they can be moved via drag and drop, and some apps have "x" buttons on the top left, denoting that they can be deleted. In this mode, apps cannot be opened. However, the user can still scroll between apps by holding and moving their finger between apps. </p>

      <li><h4>Drag -</h4> Maintained while <code>Finger held down</code></li><p>
      Once the app manipulation mode has been enabled, the user can move apps around the home screen using drag and drop. By holding down on the app, it will darken and expand, denoting that it is currently being manipulated. After moving it far enough from its original position, apps that are lower and left of the original app will fill in the space. The manipulated app can be moved to a different page by moving it to farthest left or right edge of the screen.</p>

      <li><h4>Drop -</h4> Initiated by <code>releasing finger</code></li><p>
      The area where the user releases the app determines where it will it will land. If it lands to the left or right of another app, the manipulated app will fall inbetween and the rest of the apps will make space for it. iOS does not recognize the small space above and below apps as valid places to place apps. If an app is released in this area, it will return to the last valid area passed over. Apps can also be dropped to the bar on the bottom hotkey bar so they can be accessed from all pages, or dropped on top of another app to create a folder.</p>

      <li><h4>Disable -</h4> Initiated by <code>pressing the home button</code></li><p>
      Once the user is done moving apps, they can deactivate this mode by pressing the home button on their device.  Apps will not be able to be moved and can now be opened.</p>
      </ul>
    </div>
  </div>
</div>
<br>

<div class = "row">
  <div class = "col-xs-12">
    <h4>Noteable Differences with iOS</h4>
    <div class = "inlineHeader">
      <ul>
      <li><mark>The ghost image does not exist.</mark></li>
      <li><mark>There are limited valid areas to drop app icons.</mark> On smaller screens, having the customizability to place apps anywhere on screen would lead to many hinderances. For iOS and other phone and tablet operating systems, apps are usually locked into a grid system to optimize visual efficiency.  On iOS, Apps on the homescreen are locked in a 4 by 5 grid, 3 by 3 in folders, and, dependent on device, 4 by 1 to 6 by 1 for the hotkey bar.</li>
      <li><mark>Drag and drop must be enabled.</mark> Because scrolling and app access is prioritized on the homescreen, Drag and drop must be enable by holding down on an app.</li>
      <li><mark>Drag and drop options for text edit, data, or photo is fairly limited or nonexistant.</mark> Unlike its computer counter parts, iOS apps may have removed or limited the use of drag and drop as to not get in the way of more important funcitons such as selecting or scrolling. One of the most notable apps that lacks certain drag and drop funtions is Microsoft Word and how the user cannot drag and drop text. The only way to move text would be to copy and paste.</li>
      </ul>
    </div>
  </div>
</div>
<br><hr>

<div class = "row">
  <div class = "col-xs-12">
  <h3>Drag and Drop Within iOS Applications</h3>
  <p class = "lead">Though it's still limited, certain applications still utilized drag and drop whether it is a main tool of manipulation or has to be toggled on or off. </p>
    <div>
    <h4>Artistic Use of Drag and Drop</h4>
    <p>For documentation or presentation apps, inserted pictures or text blocks have to be manipulated using drag and drop to determine their oriantation. Because it is less precise than a mouse and keyboard, mainly using the directional keys to move the object pixel by pixel, applications will usually give you coordinates relaying where the top left corner is located. More art specific apps will have object manipulations such as resizing, rotation, draging and droping as a toggleable mode to create more precise controls. Certain art apps, such as SketchBook support, multi-touch manipulation allowing the user to use all manipulation tools with two control points on the screen. </p>
    </div>
      <div class = "row">
        <div class = "col-xs-6"><img src = "Keynote.gif" alt = "Keynote gif" align = "center" style = "width:290px;"></div>
        <div class = "col-xs-6"><img src = "SketchBook.gif" alt = "SketchBook gif" align = "center" style = "width:290px;"></div>
      </div>
    <div>
    <h4>Drag and Drop in iOS Games</h4>
    <p>For video games, your screen will usually stay static during gameplay, only scrolling around because of a menu screen, or when characters move to new locations resizing or scrolling the screen. Because of lesser need for scrolling in phone games, there is more usage of drag and drop mechanics. Usually this mechanic is used for item management, whether it be organizing items or equiping new item to the users character. Certain games allow you to drag and drop objects into your game to be used. One iconic example is throwing a Pokeball in Pokemon GO.</p>
    </div>
  </div>
</div>


<br><hr><br>
<h4>References used:</h4>
  <li>SVG State Diagram partially built with <a href="http://svg-edit.googlecode.com/">SVG-edit</a></li>
  <li><a href="https://support.apple.com/kb/PH18767?locale=en_US">OSX Yosemite drag and drop page</a></li>
  <li><a href="http://windows.microsoft.com/en-us/windows-vista/moving-and-copying-files-by-using-the-drag-and-drop-method">Windows Vista drag and drop page</a></li><br>
