<header class="site-header">
  <nav class="navbar navbar-expand navbar-dark bg-dark navbar-static-top">
    <a class="navbar-brand" href="{{ site.baseurl }}/">Paradixm</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="catalog-dropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Catalog
          </a>

          {% include nav-dropdown.html %}
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/template">Article Template</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
