---
title: Slider
layout: component
---

<p class="lead">One of many graphical user interface components that users have had experience with. For example, changing the volume setting on the computer or on a video streaming website.</p>

<blockquote>
	<p> A slider is a control element that uses a knob or lever moved horizontally to control a variable, such as volume on a radio or brightness on a screen.
  </p>
	<small>by <cite>Aurora Bedford</cite></small>
</blockquote>

<h3>Typical Appearance</h3>

<p>Sliders across many different platforms have a minimum(left) value and a maximum value(right). In general, sliders can be horizontal, vertical, and radial. The main slider that we will be emphasizing on will be the horizontal slider. Graphically, the users are exposed with a bar, slider knob, and occasionaly with tick marks. However, different platforms may have different designs to their sliders to follow their human interface guidelines. Underneath, a depiction of three sliders are shown Mac OS X, Windows 8, and iOS 7 & iOS 8.
</p>

<div class="row">
  <div class="col-md-4 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Mac OS X</h4>
      </div>
      <div class="panel-body">
      	<img class="center-block" src="mac-os-x-elcapitan-slider.png" class="img-responsive" alt="Mac OS X El Capitan Slider">
      </div>
    </div>
  </div>

  <div class="col-md-4 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Windows 8</h4>
      </div>
      <div class="panel-body">
      	<img class="center-block" src="Windows8_slider.png" class="img-responsive"  alt="Windows 8 Slider">
      </div>
    </div>
  </div>

  <div class="col-md-4 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">iOS 7 vs iOS 8</h4>
      </div>
      <div class="panel-body">
      	<img src="ios7andios8.jpg" class="img-responsive" alt="iOS7vsiOS8">
      </div>
    </div>
  </div>
</div>

<h3>Typical Behavior</h3>

<p>The behavior of the slider is very basic. The user is given a choice to either slide left(min) or right(max). By doing so the user can choose the proper setting they are looking for. The slider will not acitvate until the user clicks on the knob and then drags it to their desired setting. Most sliders across different platforms carry the same behavior. We will see how Mac OS X specifically stands through out the study. </p>


<div class="row">
  <h3><code>Events</code></h3>
  <div class="col-sm-12">
    <div class="col-sm-6">

      <h4>Slider with tick marks in Mac OS X</h4>

      <blockquote> 
        <ol>
          <li><code>hover</code>-ing over the slider knob gives you a quick description of what the slider does.</li>
          <li><code>unhover</code>-ing the slider knob dismisses the quick description.</li>
          <li><code>click</code>-ing the slider knob changes the tint of the knob and activates the knob to either be dragged left or right.</li>
          <li>While <code>drag</code>-ing the slider knob, the knob focuses on the tick marks.</li>
          <li>Clicking on the <code>bar</code> where tick marks are present, quickly allows the user to set their setting without performing the <code>drag</code>-ing event</li>
          <li><code>release</code>-ing the slider knob will set the knob to the latest value.</li>
        </ol>
      </blockquote>

    </div>

    <div class="col-sm-6">

      <h4>Slider without tick marks in Mac OS X</h4>

      <blockquote> 
        <ol>
          <li><code>click</code>-ing the slider knob changes the tint of the knob and activates the knob to either be dragged left or right.</li>
          <li>While <code>drag</code>-ing the slider knob, the knob is smoothly draggable across the bar.</li>
          <li>Clicking anywhere on the <code>bar</code> , quickly allows the user to set their setting without performing the <code>drag</code>-ing event</li>
          <li><code>release</code>-ing the slider knob will set the knob to the latest value.</li>

        </ol>
      </blockquote>

    </div>

  </div>
  <h3><mark>State Diagrams</mark></h3>
  <div class="col-sm-12">
    <div class="col-sm-6">
      <h4>Slider with tick marks in Mac OS X</h4>
      <blockquote> 
        At first the user is presented with a slider that is <mark>enabled</mark> for use. When the user <code>hover</code>-s over the slider knob, a <mark>tool-tip</mark> pops up with a description of what the slider does. <code>Unhover</code>-ing the slider knob dismisses the <mark>tool-tip</mark> and returns to the <mark>enabled</mark> state. By <code>click</code>-ing the knob it changes the <mark>tint</mark> of the knob and enables the knob to become <code>drag</code>-able. <code>Release</code>-ing the knob returns to the <mark>enabled</mark> state. Finally, when the user <code>click</code>s on the <code>bar</code> it automatically returns to the <mark>enabled</mark> state.
      </blockquote>
    </div>
    <div class="col-sm-6">
      <h4>Slider without tick marks in Mac OS X</h4>
      <blockquote> 
        State diagrams here are similar to those of sliders wth tick marks. At first the user is presented with a slider that is <mark>enabled</mark> for use. When the user <code>click</code>-s the slider knob it changes the <mark>tint</mark> of the knob and enables the knob to become <code>drag</code>-able. <code>Release</code>-ing the knob returns to the <mark>enabled</mark> state. Finally, when the user <code>click</code>s on the <code>bar</code> it automatically returns to the <mark>enabled</mark> state.
      </blockquote>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="col-sm-6">
      <img class="center-block" src="statediagram1.png" class="img-responsive" alt="State Diagram 1">
    </div>
    <div class="col-sm-6">
      <img class="center-block" src="statediagram2.png" class="img-responsive" alt="State Diagram 2">
    </div>
  </div>

<h3>Components in Action</h3>
<br>
<br>
  <div class="col-sm-12">
    <div class="col-sm-6">
      <img class="center-block" src="ezgif.com-crop.gif" class="img-responsive" alt="Mac OS X Slider with tick marks">
    </div>
    <div class="col-sm-6">
      <img class="center-block" src="sliderw_oticks.gif" class="img-responsive" alt="Mac OS X Slider without tick marks">
    </div>
  </div>
</div>

<h3>Variants</h3>

<blockquote>There are variants of sliders which perform similar tasks that users might consider over. Since choosing a specific value/preference from a slider can be done by dragging the slider knob. We can achieve the same goal with drop down menus. With drop down menus the user is exposed with links. The user then can scroll through the links to choose the preffered link. Aside from the drop down menus, the spinner is probably the closest component to a slider. The spinner component allows you to hold the up and down keys to increase or decrease a value. The GIF provided underneath depicts how the spinner component works. </blockquote>

<img class="center-block" src="Spinner.gif" class="img-responsive" alt="Spinner">


<h3>Priority Metrics</h3>

<blockquote>
  <p>All five of the usability metrics are equally important. One of the main and the highest priorty metrics for this component is <em>Learnability</em>, users who are presented with sliders should not have a difficulty understanding how a slider should work. A great example of sliders that use the <em>Learnability</em> metric would be changing the volume on a video/music streaming interface. Users know that moving the slider horizontally or vertically will change the volume. </p>
  <p>The usability metric that comes second would be <em>Efficiency</em>. Users should not expect any type of delays while using the slider. Sliders are designed in a way so that the user should not have any type of difficulty using it.</p>
  <p>Lastly, the lowest priority metric is <em>Satisfaction</em> for the slider. The slider is not a component that satisfies the user in a specific way. If sliders were to be used in a video game where the user would have to use a slider to win, then <em>Satisfaction</em> would have been either the first or second priority metric.</p>
</blockquote>

<h3>Key Characteristics</h3>

<p>Aurora Bedford in her article <em>Slider Design: Rules of Thumb</em> gives a great explaination on what makes a good component.</p>
<blockquote>
  "Sliders work best when the specific value does not matter to the user, but an approximate value is good enough. Thus, Kayak may get away with using sliders for duration and arrival and departure hours, as most users will be fine with a departure time that is, say, midday, and won’t care to specify the exact moment of the departure. But whenever the exact value matters, sliders are not okay. For instance, if you had to enter quantities such as age or current weight or height within a form, a slider would not be appropriate."
  <small>by <cite>Aurora Bedford</cite></small>
  <br>
  <h4>Simplicity</h4>
  <p>The only key characterstic that I think that makes a slider a good component would be simplictiy. The typical appearance along with typical behavior should be as simple as possible. The <em>OS X Human Interface Guidelines</em> really hit on what makes a good/simple slider.</p>
  <ul>
    <li>Ensure that the slider moves as users expect.</li>
    <li>In general, use a directional thumb in a linear slider with tick marks.</li>
    <li>In general, use a round thumb in a linear slider without tick marks.</li>
    <li>In general, label at least the starting and ending values in a linear slider with tick marks.</li>
    <li>Display tick marks when it helps users understand their choices.</li>
  </ul>
  </p>
</blockquote>


<h3>Platform-Specific Instances</h3>
  <blockquote>
    The evolution of graphical user interface for Mac OS X still continues. We see how specifically the component slider has changed through out many different versions of Mac OS X. By choosing Mac OS X Leopard and Mac OS X El Capitan, we can easily tell the differences between the two. As stated above in "Key Characteristics" the <em>OS X Human Interface Guidelines</em> show the latest guidelines of what type of sliders are expected in the latest version of Mac OS X. Underneath we see both Mac OS X Leopard(Left) and Mac OS X El Capitan sliders.(Right)
  </blockquote>


<div class="col-sm-12">
    <div class="col-sm-6">
      <img height="250" class="center-block" src="LeopardSliders.png" class="img-responsive" alt="Leopard Sliders">
    </div>
    <div class="col-sm-6">
      <img height= "300" class="center-block" src="ElCapitanSliders.jpg" class="img-responsive" alt="El Capitan Sliders">
    </div>
  </div>


<br>
 <blockquote>
    Studying the pictures, we see the differences between the two Mac OS X platforms. The change in appearance would be the slider knobs. In Leopard the knobs look realistic which makes the user think he/she is realistically sliding a real knob horizontally. However, in El Capitan the knob is flat and simple looking.The second change in appearance would be the bar design/color. Leopard following the "realistic" feel made their slider bars look realsitic by making it darker and adding shadows to it. On the contrary, we have El Capitan's slider bar with one distinct color. Behaviorally the sliders have not changed between these two platforms. Lastly, there is no unique difference between the platforms the only difference would be the typical appearance.
  </blockquote>


<h3>Credits &amp; References</h3>

<a href= "http://www.nngroup.com/articles/gui-slider-controls/"> <em>Slider Design: Rules of Thumb from Nielsen Norman Group</em> </a>
<br>
<a href= "https://developer.apple.com/library/mac/documentation/UserExperience/Conceptual/OSXHIGuidelines/ControlsSelection.html"> <em>OS X Human Interface Guidelines: Slider</em> </a>

  </div>
</div>









