---
title: Slider
layout: component
---

<p class="lead">One of many graphical user interface components that users have had experience with. For example,changing the volume setting on the computer or on a video streaming website.</p>

<blockquote>
	<p> A slider is a control element that uses a knob or lever moved horizontally to control a variable, such as volume on a radio or brightness on a screen.
  </p>
	<small>by <cite>Aurora Bedford</cite></small>
</blockquote>

<h3>Typical Appearance</h3>

<p>Sliders across many different platforms have a minimum(left) value and a maximum value(right). Graphically, the users are exposed with a bar, slider knob, and occasionaly with tick marks. However, different platforms may have different design to their sliders to follow their human interface guidelines. Underneath, a depiction of three sliders are shown Mac OS X, Windows 8, and iOS 7 and iOS 8.
</p>

<div class="row">
  <div class="col-md-4 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Mac OS X</h4>
      </div>
      <div class="panel-body">
      	<img class="center-block" src="mac-os-x-elcapitan-slider.png" class="img-responsive" alt="Mac OS X El Capitan Slider">
      </div>
    </div>
  </div>

  <div class="col-md-4 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Windows 8</h4>
      </div>
      <div class="panel-body">
      	<img src="Windows8_slider.png" class="img-responsive" alt="Windows 8 Slider">
      </div>
    </div>
  </div>

  <div class="col-md-4 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">iOS 7 vs iOS 8</h4>
      </div>
      <div class="panel-body">
      	<img src="ios7andios8.jpg" class="img-responsive" alt="iOS7vsiOS8">
      </div>
    </div>
  </div>
</div>

<h3>Typical Behavior</h3>

<p>The behavior of the slider is very basic. The user is given a choice to either slide left(min) or right(max). By doing so the user can choose the proper setting they are looking for. The slider will not acitvate until the user clicks on the knob and then drags it to their desired setting. Most sliders across different platforms carry the same behavior. We will see how Mac OS X specifically stands out behaviorally in the "Platform-Specfic" section. </p>



<img src="ezgif.com-crop.gif" class="img-responsive" alt="Mac OS X Slider">





<p>These are sliders are very common to users. However, there are many other different types of sldiers that have particular function. There are vertical sliders, radial sliders, sliders without tick marks (because it does not appear to point to a specific value, no need for tick marks for example volume, tick marks are used when users need to know the approximate value of setting as shown in the figure above for Windows 8 tick marks are helpful here to determine a specific resolution size, and ofcourse moving the slider knob/thumb to the left will always minimize the setting.</p>