<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
	<body>
 		   <div class="row">
  			 <div class="col-sm-4">
  				<p>Persistent storage is any data storage device that retains data after power to that device is shut off. It is also sometimes referred to as non-volatile storage persistent storage </p>
				<p>It is often necessary to store the value of the fields of an object to disk and then, later, retrieve this data. Although this is easy to achieve without relying on serialization, this approach is often cumbersome and error prone, and becomes progressively more complex when you need to track a hierarchy of objects. Imagine writing a large business application, that contains thousands of objects, and having to write code to save and restore the fields and properties to and from disk for each object.</p>				
				<IMG SRC="image1.png" ALT="example image"> </div>
 			 <div class="col-sm-4">
 			 	<p> Hard disk drives and solid-state drives are common types of persistent storage. </p> </div>
  			 <div class="col-sm-4">.col-sm-4</div>
	</body>	
</html>