---
title: split view
layout: component
---

<p class="lead"></p>

<div class="row">
  <div class="col-sm-6">

    <h3>Typical Appearance</h3>
      <p></p>

    <h3>Typical Behavior</h3>
      <p></p>

    <h4>Events</h4>
    <p></p>

    <h4>State Diagram</h4>
    <p></p>

    <h4>Component in Action</h4>
    <p></p>

  </div>

  <div class="col-sm-6">

    <h3>Variants</h3>
    <p></p>

    <h3>Priority Metrics</h3>
    <p></p>

    <p></p>
    
    <p></p>

    <h3>Key Characteristics</h3>
    <p></p>

    <h4>Feedback</h4>
    <p></p>

    <h3>Platform Specific Instances</h3>
    <p></p>

  </div>
</div>

<h3>Credits &amp; References</h3>