<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Component Name - Paradixm</title>
  <meta name="description" content="A survey of known user interface elements at the micro and macro levels">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <style>
    .component-nav {
        min-height: 360px;
    }
  </style>
</head>


  <body role="document">
    <header class="site-header">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/paradixm/">Paradixm</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">Catalog <span class="caret"></span></a>
            <ul class="dropdown-menu">

  
  
  <li><a href="/paradixm/components/button">Button</a></li>
  
  <li><a href="/paradixm/components/menu">Menu</a></li>
  
  <li><a href="/paradixm/components/radio-button">Radio Button</a></li>
  
  <li><a href="/paradixm/components/check-box">Check Box</a></li>
  
  <li><a href="/paradixm/components/string-input">String Input</a></li>
  
  <li><a href="/paradixm/components/slider">Slider</a></li>
  
  <li><a href="/paradixm/components/command-loop">Command Loop</a></li>
  

  
  <li role="separator" class="divider"></li>
  
  
  <li><a href="/paradixm/components/date-and-time">Date & Time</a></li>
  
  <li><a href="/paradixm/components/list">List</a></li>
  
  <li><a href="/paradixm/components/media">Media</a></li>
  
  <li><a href="/paradixm/components/search">Search</a></li>
  
  <li><a href="/paradixm/components/table">Table</a></li>
  
  <li><a href="/paradixm/components/tree">Tree</a></li>
  

  
  <li role="separator" class="divider"></li>
  
  
  <li><a href="/paradixm/components/drag-and-drop">Drag & Drop</a></li>
  
  <li><a href="/paradixm/components/resizing">Resizing</a></li>
  
  <li><a href="/paradixm/components/rotating">Rotating</a></li>
  
  <li><a href="/paradixm/components/selecting">Selecting</a></li>
  
  <li><a href="/paradixm/components/scrolling">Scrolling</a></li>
  
  <li><a href="/paradixm/components/zooming">Zooming</a></li>
  

  
  <li role="separator" class="divider"></li>
  
  
  <li><a href="/paradixm/components/modal-view">Modal View</a></li>
  
  <li><a href="/paradixm/components/view-switcher">View Switcher</a></li>
  
  <li><a href="/paradixm/components/split-view">Split View</a></li>
  

  
  <li role="separator" class="divider"></li>
  
  
  <li><a href="/paradixm/components/information-transfer">Information Transfer</a></li>
  
  <li><a href="/paradixm/components/login-unlock">Login/Unlock</a></li>
  
  <li><a href="/paradixm/components/storage">Persistent Storage</a></li>
  
  <li><a href="/paradixm/components/task-launcher">Task Launcher</a></li>
  
  <li><a href="/paradixm/components/task-switcher">Task Switcher</a></li>
  
  <li><a href="/paradixm/components/window">Window</a></li>
  

</ul>

          </li>

          <li>
            <a href="/paradixm/template">Article Template</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


        <div class="container" role="main">
      <h2>Tables</h2>

<dl class="dl-horizontal">
  <dt>Contributor</dt>
  <dd>
    <ul class="list-inline">
      
      <li><a href="https://github.com/ixdesigner-on-github">Andres Lazo</a></li>
      
    </ul>
  </dd>
</dl>

<p class="lead">Tables are a manner of data representation similar to lists which organize elements by means of rows and columns. This allows for efficient organization of data elements and their properties. </p>

<div class="row">
  <div class="col-sm-6">

<h3>Typical Appearance</h3>
  <p>As mentioned above, any form of data representation that makes use of columns and rows can be termed a table. While the overall structure of tables tends to remain uniform across platforms, there may be several aesthetic differences between table representations. Images may be used in conjunction with data, rows or elements may appear selectable, etc.</p>

  <p>Below is a simple table listing the primary colors and their hex values.</p>


<p class="text-center">
  <table class = "table">
  <caption>Basic Color Table</caption>   
    <thead>
      <tr>
        <th>Color</th>
        <th>Hex Value</th>
      </tr>     
    </thead>

    <tbody>
      <tr>
        <td>Red</td>
        <td>#FF0000</td>
      </tr>
      
      <tr>
        <td>Green</td>
        <td>#00FF00</td>
      </tr>
      
      <tr>
        <td>Blue</td>
        <td>#0000FF</td>
      </tr>
    </tbody>    
  </table>
</p>

<h3>Typical Behavior</h3>
  <p>There are two kinds of separate behaviors that are typically seen in tables.</p>

  <p>The first is that of a read-only data table used simply to showcase data in a grid. Some platforms may allow for sorting of the contents within by alphabetical order, creation/modification date, etc.</p>

  <p>The second is data entry tables, in which a user is welcome to input content into the grid. Depending on the table's functionality, inputs may be able to affect or directly address the contents of other cells within the row/column grid (Notable examples of this kind of behavior are Microsoft Excel and Google Sheets).</p>

  <p>These behaviors may overlap depending on the platform or application in use. File explorers often mix the ability to sort data with the ability to edit an element's file name or properties.</p>

<h4>Events</h4>

<p>Events related to tables vary depending on their functionality. For read-only tables as shown in the 'typical appearance' section, one may find it to contain only static text. Perhaps a <code>hover</code> event will be included to highlight selections. When the table is sortable <code>click</code> may be used to select the <code>sort</code> criteria. For data entry tables, <code>click</code> will be used to select cells, and the primary event will be <code>input</code> for inputting data. Events such as <code>drag</code> and <code>drop</code> may also be used to manipulate data.</p> 

<h4>State Diagram</h4>

<blockquote>
  <p>A state diagram indicating the actions and states of a user interface component.</p>

  <p>This is most likely an image. Bonus props if you use SVG.</p>

  <p>And also, a state diagram implies, well, <em>states</em>. So be sure to describe them. Note also that there will
    usually be overlap between a component’s events and its state diagram. A sufficiently detailed state diagram,
    however, may have more activities than the “public” events that can be reported by a component.</p>
</blockquote>

<p>Naturally, the states a table would cycle through depend on the features of that specific table. If one is looking at the simplest kind of read-only table, the table would exist in a single state, simply displaying data.</p> 

<p>From this previous <code>display</code> state, placing the cursor over a data element may highlight the specific cell (or row, or column, depending on the table), leading to a <code>hover</code> state in which the user is made aware of their current data selection.</p>

<p>If a table is sortable (for example, by a <code>click</code> on top headers or main row elements) a <code>sorting</code> state must be added to the diagram which returns to the <code>display</code> state. In this case, the headers behave much like buttons which trigger a specific sorting state.</p>

<p>For tables with a data-entry functionality, one may trigger an <code>input</code> state by selecting a cell in the grid (depending on the table, only specific cells may be editable). In this state, the user is free to enter data into that specific cell. It may or may not still be possible to <code>hover</code> over other cells. Once the user is finished inputting data, the table returns to its <code>display</code> state.</p>

  </div>

  <div class="col-sm-6">
<h3>Variants</h3>

<ul>
  <li><em>Read-only tables:</em> Simple representations of data sets. May be comprised entirely of text. It is not uncommon for some to use <code>hover</code> events to improve selection visibility, or to allow one to sort data by row or column headers.</li>

<p class="text-center">
  <table class = "table table-hover">
  <caption>Capital Cities</caption>   
    <thead>
      <tr>
        <th>Country</th>
        <th>City</th>
      </tr>     
    </thead>

    <tbody>
      <tr>
        <td>France</td>
        <td>Paris</td>
      </tr>
      
      <tr>
        <td>Uruguay</td>
        <td>Montevideo</td>
      </tr>
      
      <tr>
        <td>Canada</td>
        <td>Ottawa</td>
      </tr>

      <tr>
        <td>Austria</td>
        <td>Vienna</td>
      </tr>
    </tbody>    
  </table>
</p>


  <li><em>Data-entry tables:</em> Prominent examples of applications which revolve around these are Excel and Google Sheets. They allow users to input and manipulate their own data. In the case of Excel and Google sheets, cells can refer to each other, allowing for calculations to be performed while keeping the data organized.</li>

  <p class="text-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/23/Spreadsheet_animation.gif" alt="Spreadsheet animation">
  </p>

  <li><em>Navigation tables:</em> These are typically a combination of certain features found in the previous two, and are often not considered tables, though their representation certainly fits with the elements described in this page. These are most similar to menus in that elements in the grid can typically be clicked to traverse a system. In this manner, when there are links or folders involved, the navigation structure has the form of a tree. Windows's file explorer typically takes this form as a default. The representation of each 'navigation stage', however, is that of a table, with the elements themselves in the rows of one column, and the corresponding rows in other columns holding data such as modification dates, fyle types and sizes.</li>

  <p class="text-center">
    <img src="https://upload.wikimedia.org/wikipedia/en/f/f0/Windows_Explorer_Vista.png" alt="Windows Explorer">
  </p>

</ul>

<h3>Priority Metrics</h3>
 
<p>As tables are more typically known as a form of data representation, focus is to be placed on whether it is easy to find specific data within such a grid. As such, it is important that the system be efficient, memorable, and lacking in errors.</p>

<p>At their simplest, it is easy to learn how to use a table due in part to its intuitive design. The top and leftmost elements are (typically) used to signal what data will be found in each cell. It is simple logic to grasp, particularly when perusing through large sets of data that require numerous rows and columns to be accomodated. Another point in favor of tabular representations in user interfaces is that it is a very common system, and most first-time users are likely to recognize the layout on sight. These two points can also be brought up in favor of the memorability of the representation. As the use of tabular representations is both simple and widespread, it is very easy for people to remember how to read them.</p>

<p>Of course, this may depend on the extra features that developers may include in their tabular representations. Shortcuts in data entry or commands in applications such as Excel naturally have their own learning curves. More common functionalities such as clicking on a header to sort it accordingly are just as easy to remember, but a first-time user may need to be told about such a feature before they are able to use it.</p>

<p>A table's efficiency must be measured in terms of how quickly one can find desired data within it. This depends heavily on the amount of information displayed on the table. A user knowledgeable of the arrangement of one particular table might be able to find any needed data at a glance when the amount of data is small, but it is not feasible to expect users to remember the exact position of each column or row header in data sets that may have hundreds of each. In such cases (assuming all the data is in the same page and without counting the time spent scrolling around the screen), the user must locate the row in which their data is likely to be, followed by its header, and use those to find the cell in which their data is housed.</p>

<p>Other data organization structures such as lists have an issue in that even if they are sorted in some manner (alphabetical order, for example), a user must nonetheless read through several data elements before the desired one is found. Due to the tables indicating the precise location of the data needed, tables obviate the need to identify elements beyond headers and rows. Moreover, errors are rare due to the specificity of headers and the method used for finding data.</p>

<p>Satisfaction may be found in the ease with which elements can be organized in a neat manner and found through a clear procedure.</p>


<h3>Key Characteristics</h3>

<blockquote>This section is for describing “what makes for a good <em>your component here</em>?”
  Most likely, this is an amalgam of guidelines documents and platform-independent interaction design
  principles.</blockquote>

<h4>Feedback</h4>

<p>Perhaps the most important interaction design principle that a button must follow is <em>feedback</em>. Users must
  never doubt whether:</p>

<ol>
  <li>they did positively trigger a button (and thus its associated action)</li>
  <li>they successfully <em>cancelled</em> the triggering of a button, due to changing their minds midway through
    the action that triggers the button</li>
</ol>
  </div>
</div>

<h3>Platform-Specific Instances</h3>

<blockquote>
  <p>This is where things can get really interesting—platform-specific sections go here. Different versions of
    the same system are considered to be platforms in their own right (e.g., Windows 95 buttons vs. Windows 10
    buttons). Completely customized versions of a component (e.g., a unique-looking/-acting button made specifically
    for a game) are also acceptable here.</p>

  <p>The outline for platform-specific entries resembles the outline already described above, except with a focus
    on how the platform-specific version is <em>different</em>. Thus, you will want some notes on appearance (i.e.,
    more screenshots), behavior, variants, metrics, and characteristics. If some aspect is the same, then say so
    explicitly so that there is no confusion.</p>

  <p>Some platform-specific instances of certain user interface components will merit such a rich discussion that they
    may require a sizable number of supporting assets. In that case, feel free to add subfolders to the main component
    folder, named after the platform under examination.</p>

  <p>This could well be the most distinctive part of the catalog—the sections above this generally appear in user
    interface guidelines, albeit with a platform-specific focus. A key premise of the Paradixm project is to compare
    user interface elements <em>across</em> platforms. Thus, feel free to be creative about presentation here. You
    might want to display a visual gallery, for example, with links leading to individual pages for each covered
    platform-specific user interface component.</p>
</blockquote>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title text-center">Windows 10</h4>
    </div>
    <div class="panel-body">
      <p>File explorer</p>
    </div>
  </div> 
</div>

<h3>Credits &amp; References</h3>

<blockquote>Provide references or links to any information, image, or media sources used.</blockquote>

  </div>

<footer class="site-footer">
</footer>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </body>
</html>
