---
title: Window
layout: component
contributors:
    - name: Peyton Cross
      github: Tohoma

    - name: Allen Vartanian
      github: avartanii

    - name: Alejandro Zapata
      github: CapnSquirrel
---

<p class="lead"> Not to be confused with Microsoft Windows, a window
is a rectangular shape that displays content on a computer monitor. It is a very common component. In fact, a window is used to view the content of this page!
</p>

<div class="container-fluid"><!--navigation tabs-->
  <div class="row">
    <div class="col-xl-12">
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="nav item" class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#appearance" role="tab">Appearance</a>
        </li>
        <li role="nav item" class="nav-item"> <a class="nav-link" data-toggle="tab" href="#behavior" role="tab">Behavior</a>
        </li>
        <li role="nav item" class="nav-item"> <a class="nav-link" data-toggle="tab" href="#priority-metrics" role="tab">Priority Metrics</a>
        </li>
        <li role="nav item" class="nav-item"> <a class="nav-link" data-toggle="tab" href="#platform-specifics" role="tab">Platform Specifics</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="tab-content"><!--site content-->

  <div class="tab-pane active" id="appearance" role="tabpanel">
    <div class="card">
      <div class="card-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-12">
              <div class="row">
                <div class="col-xl-6">
                  <h3>Typical Appearance</h3>
                  <p>The appearance of a standard window varies across differentplatforms. Windows are made out of the following components:</p>
                  <ul>
                    <li>Frame</li>
                    <img src="Frame.png" alt="An example of a frame" width="450">
                    <small>An example of the "Frame"</small>

                    <li> Content</li>
                    <img src="Content.png" alt="An example of content of a window" width="450">
                    <small>An example of the "Content"</small>
                  </ul>

                  <p>In the frame there are buttons located on the top left corner or top right corner, depending on the platform. (<em>See <a href="#platform-specific-content">Platform Specific Content</a></em>) There is a slight variation on the frame depending on what type of window one is accessing. <em>(See the <a href="#variants">'Variant Appearance'</a> section below.)</em> Generally in the middle of the frame, there is a title containing the name of the content.</p>
                  <p>The content component of  the window, varies greatly and is dependent upon the type of window you are accessing. Depending on the platform one is using the frame might envelope the content and acting in a literal sense like a frame. <em>See <a href="#platform-specific-content">Platform Specific Content</a></em>)</p>
                  <img src="Yosemite-Screenshot.png" alt="picture of Yosemite window" height="200">
                </div>

                <div class="col-xl-6">
                  <h3 id="variants">Variant Appearance</h3>
                  There are five common variants of windows.
                  <ol>
                    <!-- NEED SOME SPACE -->
                    <li><strong>File Explorer</strong></li>
                    <img src="GeneralWindow.PNG" alt="picture of File Explorer Window" height="200">
                    <p>The file explorer window is usually accessed when one clicks a folder on their computer. There are three buttons located in the frame of the window. On most platforms you can change the layout of the content with buttons usually found in the frame.  </p>
                    <li><strong>Dialog</strong></li>
                    <img src="dialog.PNG" alt="A picture of a Dialog Window" width="400">
                    <p>The dialog window usually appears the computer prompts the user for input in the form of button or string input. In the frame there will either be one or no buttons depending on the platform.</p>
                    <li><strong>Alert</strong></li>
                    <img src="alert.PNG" alt="A picture of a alert Window"  width="400">
                    <p>The alert window occurs when the computer wants to notify the user of an action or a warning. It prompts the user for input in the form of a single button signaling that the user acknowledges the message. In its frame there will either be a single or no button. </p>
                    <li><strong>Properties</strong></li>
                    <img src="Properties.PNG" alt="A picture of a Properties window" height="200">
                    <p>The properties windows is usally accesed when one wants to edit the properties of a local file. The content of the window contains tabs that changes the content of the window. It also displays various information about the file. </p>
                    <li><strong>Application</strong></li>
                    <img src="Application.PNG" alt="A picture of an Application window" height="200">
                    <p>Out of the four categories of windows, the appearance of an application windows varies greatly due to the nature of 3rd party developers. For most application windows they use the standard frame.</p>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="behavior" role="tabpanel">
    <div class="card">
      <div class="card-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-12">
              <div class="row">
                <div class="col-xl-6">
                  <h3>Typical Behavior</h3>
                  <!-- Events Section -->
                  <h4>Events</h4>
                  <h5>The frame buttons</h5>
                  <p>The three buttons in the frame exhibit three different behaviors.</p>
                  <img src="Three-buttons.png" alt="The three buttons within the frame">
                  <ul>
                    <li>When the button to the outermost left is <code>clicked</code> the window closes. This is called <code>exiting</code> the window.</li>
                    <li>The button in the middle hides the window in the dock/menubar. This is called <code>minimizing</code> the window. The window can be accessed again by clicking it in within the dock/menu bar. This is called <code>restoring</code> the window.</li>
                    <li>The button on the right <code>maximizes</code> the window, making the window's height and width the size of the screen. If clicked again the window will be <code>restored</code> to it's original size</li>
                    <em>(For more info on the button component see <a href="../button/index.html">button</a>)</em>
                  </ul>

                  <h5>The frame</h5>
                  <ul>
                    <li>If you click and hold the frame, you are able to move the window by dragging your mouse</li>
                    <li>By double clicking the the frame you can expand or compress the size of the window. As to how big it varies from different platforms.</li>
                  </ul>

                  <h5>The window</h5>
                  <ul>
                    <li>When one's mouse is at the edge of the window, the user is notified that the window can be resized. This is signified by the mouse changing its shape.</li>
                    <ul>
                      <li>When this happens if the user clicks and hold, by dragging the mouse one is able to change the size of the window precisely. (<em>For more information see <a href="../resizing/index.html">resizing</a></em>)</li>
                    </ul>
                  </ul>

                  <div> <!--behavior-->
                    <h4>State Diagram</h4>
                    <img src="StateDiagram.png" alt="State Diagram of a window" width="600">
                    <p>The window component has five states:</p>
                    <ul>
                      <li><code>active</code></li>
                      <li><code>passive</code></li>
                      <li><code>minimized</code></li>
                      <li><code>maximized</code></li>
                      <li><code>closed</code></li>
                    </ul>

                    <img src="Selected-Deselected.png" alt="An example of an active and passive window" height="300">
                    <p>When a window is opened it is in its <code>active</code> state by default. In this scenario we will call this <strong>window 1</strong>. In this state <strong>window 1's</strong> you are able to either <code>maximize</code>, <code>minimize</code> or <code>exit</code> the window.</p>
                    <img src="Diagram-1.png" alt="A single window open" height="200" width="400">
                    <p>When the <strong>window 1</strong> is in its <code>maximized</code> state, the window expands to the size of ones computer monitor. Depending on the platform used a window can be <code>minimized</code> or <code>exited</code> in this state. By clicking the <code>maximize</code> button the user can restore the window to it's original size.</p>
                    <p>When the minimize button is clicked, <strong>window 1</strong> enters <code>minimized</code> state. In this state the window disappears and it resides in the dock/menu bar. If you click the <code>minimized</code> window in the dock/menu bar it restores in size.</p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/RRtMpZDEk1o" frameborder="0" allowfullscreen></iframe>
                    <p>Lets assume the user opens up another window called <strong>window 2</strong>. When this happens <strong>window 1</strong> is in it's <code>passive</code> state while <strong>window 2</strong> would be in its active. The user is alerted to this change when <strong>window 1</strong> appears to grayer than <strong>window 2</strong>.</p>
                    <img src="Diagram-2.png" alt="A single window open" width="400">
                    <p>If the user clicks <strong>window 1</strong>, then <strong>window 2</strong> would become passive while <strong>window 1</strong> would be active.</p>
                    <img src="Diagram-3.png" alt="A single window open" width="400">
                    <p>If the user opens up another window, in which we will call <strong>window 3</strong>, both <strong>window 1</strong> and <strong>window 2</strong> will be in its passive state and <strong>window 3</strong> will be in its active state.</p>
                    <img src="ThreeWindows.png" alt="An active window and two passive windows" width="400">
                    <p>When <strong>window 1</strong> and <strong>window 2</strong> are in its passive state, it acts like a background. In that <strong>window 3</strong> and windows in a passive state can overlap with <strong>window 3</strong> being on top.</p>
                    <img src="ActiveOverlap.png" alt="An example of active passive window overlap"  width="400">
                  </div>
                </div>
                <div class="col-xl-6">
                  <h3>Additional Behavior</h3>
                  <h5>File Explorer</h5>
                  <p>Along with the events described in the above. In the frame of a File Explorer there is an option to search for files on your computer or folder.  How this is implemented varies across platforms.  <em>(For more information please see the platform section below)</em></p>


                  <p>Included in the frame exists a back and foward button. When clicked The content of the window changes to the previously viewed content if the back button is clicked. And the foward button opens the content currently viewed.</p>


                  <p>In the content there exists a menu that allows quick access to directories. By clicking one of the options, the content of with window will change to the content of the directory shortcut you clicked. The directory shortcut menu is customizable.</p>


                  <h5>Dialog</h5>
                  <p>Unlike the File Explorer, Properties and Application windows, the Dialog window lacks a <code>maximize</code> button and a <code>minimize</code> button. Depending on the platform it may not even include an <code>exit</code> button.</p>

                  <h5>Alert</h5>
                  <p>Much like the dialog button, the Alert button lacks a <code>maximize</code>, <code>minimize</code> and possibly an <code>exit</code> button. However in contrast with the other types of windows when the Alert window is in its passive state it does not behave like a background. This window will always be on top of all windows.</p>

                  <h5>Application</h5>
                  <p>The most Application windows will behave as described above in the typical behavior sections as well as adopting to the nuinces of the platform.</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="priority-metrics" role="tabpanel">
    <div class="card">
      <div class="card-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-12">
              <div class="row">
                <div class="col-xl-6">
                  <h3>Priority Metrics</h3>
                  <p>As a common and fundamental component in modern graphic user interfaces, the window compoent mainly focuses on four out of the five usability metrics:</p>
                  <ul>
                    <li>Learnability</li>
                    <small>A user seeing a window on any platform must not have any problems learning how it operates as it is the most common way to navigate through the computer's directory and to access files and to view content. </small>
                    <li>Efficiency</li>
                    <small>If a window delays, the user might make the mistake in trying to reopen the window. The result could be the opening of multiple windows. If this happens to be an Application window it could greatly slow down the computer.</small>
                    <li>Errors</li>
                    <small>A user must not trigger an error with a window. This is especially so with an application window. The error could cause the user's work to be deleted.</small>
                    <li>Memorability</li>
                    <small>Because a window is an important graphic user interface component, it would be tedious and counter-productive if the user is unable to remember how to use the component</small>
                  </ul>
                  <p>The last metric, <strong>satisfaction</strong>, is the least important because of window's commonality and simplicity. Not much pleasure can be derived from the functionality of a window.</p>
                </div>

                <div class="col-xl-6">
                  <h3>Key Characteristics</h3>
                  <h4>Clarity</h4>
                  <p>There should be a title in the middle of the frame in order for the user to get a better understanding of the content being displayed. For a dialog and alert window it is extremely important for the message to be concise and easily understandable.</p>
                  <h4>Consistency</h4>
                  <p>This mainly applies to Application windows. The Application window should adopt the stylings and appearance of a typical window of the specific platform it is running on.</p>
                  <h4>Feedback</h4>
                  <p>There should be some kind of response indicating that a user is opening a window. If there is such a delay the user could accidently open various windows. For application windows there should be confirmation if the user would like to close a window in the form of a dialog window. This is especially the case if the user is modifying a file in the content of a window.</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="platform-specifics" role="tabpanel">
    <div class="card">
      <div class="card-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-12">

              <div><!--platforms-->
                <h3 id="platform-specific-content">Platform Specific Content and Differences</h3>
                <p>Below are a selection of Platforms that describe exclusive window behavior and appearance</p>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active nav-item"><a href="#Yosemite" aria-controls="Yosemite" role="tab" data-toggle="tab"
                    class="nav-link">Yosemite</a>
                  </li>
                  <li role="presentation" class="nav-item"><a href="#Windows81" aria-controls="Windows81" role="tab" data-toggle="tab"
                    class="nav-link">Windows 8.1</a>
                  </li>
                  <li role="presentation" class="nav-item"><a href="#Windows10" aria-controls="Windows10" role="tab" data-toggle="tab"
                    class="nav-link">Windows 10</a>
                  </li>
                  <li role="presentation" class="nav-item"><a href="#Ubuntu" aria-controls="Ubuntu 15" role="tab" data-toggle="tab"
                    class="nav-link">Ubuntu 15</a>
                  </li>
                  <li role="presentation" class="nav-item"><a href="#Android" aria-controls="Android 6.0.1" role="tab" data-toggle="tab"
                    class="nav-link">Android 6.0.1</a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div id="tabs" class="tab-content">

                  <!--Yosemite Section-->
                  <div role="tabpanel" class="tab-pane" id="Yosemite">
                    <div>
                      <h2 style="margin: 1em auto 1em auto;">OS X Yosemite</h2>

                      <p class="lead"> According to the OS X Human Interface Guidelines, a window provides a frame for viewing and interacting with content in an app.</p>
                      <h4 class="lead">General Differences</h4>
                      <p>There are a few cosmetic differences in the layout of a window. The three buttons that allow the window to Maximize, Minimize and Close are placed on the left of the frame. Along with the title displayed in the middle of the frame there is also an icon frequently shown to the left of it. </p>
                      <center><img src="OSX-1.png" alt="Example of a window" width="600"></center>


                      <p>In OSX Yosemite when the window is maximized it envelopes the whole screen including the top menu.</p>
                      <center><img src="MaximizeOSX.png" alt="screenshot of maximized window" width="600"></center>


                      <h4 class="lead">Categorial Differences</h4>
                      <ul>
                        <li><strong>File Explorer</strong>
                          <ul>
                            <li>There are several buttons in the frame that changes the view of files</li>
                            <li>The frame contains an input text search bar.</li>
                            <li>The content of the window contains options for tags.</li>
                          </ul>
                        </li>
                        <li><strong>Dialog</strong>
                          <ul>
                            <li>The three buttons to modify the window state are gone.</li>
                          </ul>
                        </li>
                        <li><strong>Alert</strong>
                          <ul>
                            <li>No options exist to modify the window state are gone</li>
                          </ul>
                        </li>
                        <li><strong>Properties</strong>
                          <ul>
                            <li>There are drop down menues within the properties window to modify the file</li>
                          </ul>
                        </li>
                      </ul>

                    </div>
                  </div>
                  <!--End of Yosemite Section-->

                  <!--Windows 8.1 Section-->
                  <div role="tabpanel" class="tab-pane" id="Windows81">

                    <div>
                      <h2 style="margin: 1em auto 1em auto;">Windows 8.1</h2>

                      <p class="lead"> According to Microsoft’s Windows User Experience Interaction Guidelines windows are the main "canvases" or UI surfaces of your desktop app, including the main windows itself and pop-ups, dialogs, and wizards. </p>
                      <h4 class="lead">General Differences</h4>
                      <p>In windows 8.1 the three buttons to maximize, minimize and to close the window is placed in the frame at the right corner. Unlike Yosemite and Ubuntu, the frame encapsulates the content of the window. </p>
                      <center><img src="GeneralWindow.PNG" alt="Example of a window for Windows 8.1" width="400"></center>

                      <p>When maximized the window does not fully fill up the entire screen. It also leaves room for the taskbar at the bottom. In it maximum state, it is also possible to minimize the window.</p>
                      <center><img src="http://i59.tinypic.com/2v9exoi.png" alt="screenshot of maximized window" width="400"></center>


                      <h4 class="lead">Categorial Differences</h4>
                      <ul>
                        <li><strong>File Explorer</strong>
                          <ul>
                            <li>In the frame there is an address bar that allows the user to navigate through the directory by entering an address</li>
                            <li>The frame contains an input text search bar.</li>
                            <li>There are three tabs named <code>File</code> <code>Computer</code> and <code>View</code></li>
                          </ul>
                        </li>
                        <li><strong>Dialog</strong>
                          <ul>
                            <li>The user is able to exit the dialog window through the frame button</li>
                          </ul>
                        </li>
                        <li><strong>Alert</strong>
                          <ul>
                            <li>The user is able to exit the dialog window through the frame button</li>
                          </ul>
                        </li>
                        <li><strong>Properties</strong>
                          <ul>
                            <li>There are several tabs that allows the user to modify and view information of the selected file.</li>
                          </ul>
                        </li>
                      </ul>

                    </div>

                  </div>
                  <!--End of Windows 8.1 Section-->

                  <!--Windows 10 Section-->
                  <div role="tabpanel" class="tab-pane" id="Windows10">

                    <div>
                      <h2 style="margin: 1em auto 1em auto;">Windows 10</h2>
                    </div>

                  </div>
                  <!--End of Windows 10 Section-->

                  <!--Start of Ubuntu tab-->
                  <div role="tabpanel" class="tab-pane" id="Ubuntu">
                    <div>
                      <h2 style="margin: 1em auto 1em auto;">Ubuntu 15</h2>

                      <p class="lead"> Ubuntu is an open source software platform with many contributers. There is no specific guideline on design. Compared to other platforms its Windows component greatly resembles Mac OSX platforms. </p>
                      <h4 class="lead">General Differences</h4>
                      <p>Like Yosemite, Ubuntu places the buttons in the frame on the top left corner. In its maximized state, it expands to cover the whole screen except for task bar. </p>
                      <center><img src="UbuntuWIndow.png" alt="Example of a window for Windows 8.1" width="400"></center>

                      <p>When maximized the window does not fully fill up the entire screen. It also leaves room for the taskbar at the bottom. In it maximum state, it is also possible to minimize the window.</p>
                      <center><img src="Maximized.png" alt="screenshot of maximized window" width="400"></center>


                      <h4 class="lead">Categorial Differences</h4>
                      <ul>
                        <li><strong>File Explorer</strong>
                          <ul>
                            <li>In the frame there are buttons labeling the parent directory of the current directy you are in</li>
                            <li>The frame also contains a search button. When clicked a search text input appears and allows you to search files within the computer.</li>
                          </ul>
                        </li>
                        <li><strong>Dialog</strong>
                          <ul>
                            <li>The user is able to exit the dialog window through the frame button</li>
                          </ul>
                        </li>
                        <li><strong>Alert</strong>
                          <ul>
                            <li>The user is able to exit the dialog window through the frame button</li>
                          </ul>
                        </li>
                        <li><strong>Properties</strong>
                          <ul>
                            <li>There are several tabs that allows the user to modify and view information of the selected file.</li>
                          </ul>
                        </li>
                      </ul>

                    </div>
                  </div>
                  <!--End of the Ubuntu section-->

                  <!--Start of Android tab-->
                  <div role="tabpanel" class="tab-pane" id="Android">
                    <div>
                      <h2 style="margin: 1em auto 1em auto;">Android 6.0.1 Marshmallow</h2>

                      <p class="lead"> According to Google, "Attention to detail makes an app truly beautiful: transitions are fast and clear, layout and typography are crisp and meaningful, and design touches that delight you in surprising ways are sprinkled throughout." </p>
                      <h4>Distinguishing Characteristics</h4>

                      <p>Given that Android is a mobile software platform, windows in Android have no obvious visual based interactions like Windows, OSX, and Ubuntu do with their three buttons for closing, maximizing, and minimizing. Rather, a window of an application can be opened by starting up that application from the home screen, and it can be closed by pressing the home button on the particular device, whether it be a soft or hard key. More often than not the entire display is taken up by a single window; unlike Windows, OSX, and Ubuntu which allow multiple windows to coexist on the same display. </p>

                      <p>Windows in Android have a general structure, layout, and function that can be found throughout almost every application the device may host. For example, the Information Bar at the top of an Android device's screen is present in every application window. This bar includes always relevant information such as mobile network connection status, battery indicator, time, and others as users may deem fit (e.g. alarms, bluetooth, etc.).</p>

                      <div class="image-row text-center row" style="margin: 2em auto 2em auto;">
                          <div class="col-sm-12"><img src="android-pictures/InfoBar.png" alt="Android Info Bar" width="400"><p><em>Figure A.1</em></p></div>
                      </div>

                      <p>A hidden necessity of the constant presence of this notification bar is the Notification and Quick Settings Bar that it expands into. The series of screenshots below shows the progression of pulling down the Bar, starting with touching the Information Bar and proceeding with pulling towards the bottom of the display.</p>

                      <div class="image-row text-center row" style="margin: 2em auto 2em auto;">
                        <div class="col-sm-3"><img src="android-pictures/NotificationBar1.png" alt="Reddit menu example" width="200"><p><em>Figure A.2.1</em></p></div>
                        <div class="col-sm-3"><img src="android-pictures/NotificationBar2.png" alt="Google Maps menu example" width="200"><p><em>Figure A.2.2</em></p></div>
                        <div class="col-sm-3"><img src="android-pictures/NotificationBar3.png" alt="Google Calendar menu example" width="200"><p><em>Figure A.2.3</em></p></div>
                        <div class="col-sm-3"><img src="android-pictures/NotificationBar4.png" alt="Google Calendar menu example" width="200"><p><em>Figure A.2.4</em></p></div>
                      </div>

                      <p>The first part of the Bar that shows up is a more detailed display of the time and date, along with a symbol that suggests settings and an expansion of some sort. Pulling down a little further reveals the Quick Settings Bar. One thing that may be a little misleading is that this is not far enough for the entire Bar to push itself onto the display. If released at this point, it recedes to the top of the screen leaving behind the Information Bar. It is only after the entire Bar has been pulled down past the halfway point on the display that it will slide down and cover the screen, allowing interaction (See <em>Figure A.3.3</em>).</p>

                      <p>There are a few different functionalities that present themselves with the presence of the Notification and Quick Settings Bar. First, the Quick Settings at the top. These tend to be the settings most often changed and/or interacted with by users (and are customizable by users). The first five are obvious, but users can also swipe to the left to reveal multiple other settings. The one other way to access the rest of the Quick Settings is to press the carrot at the top right revealed in <em>Figure A.3.1</em>. This leads into the appearance presented in <em>Figure A.3.4</em>.</p>

                      <p>The second obvious functionality of the Notification and Quick Settings Bar is, in fact, the presence of notifications. Notifications are presented in small rectangular form consisting of an icon on the left of the application they are from and a small description. Notifications may either be swiped away (to the left or right) to dismiss them (See <em>Figure A.3.2</em>), or pressed to activate the related application and more often than not in a way that addresses the notification. For example, in the case of receiving a text message, pressing the notification opens the Messenger application to the conversation (See <em>Figures A.3.3 and A.3.4</em>).</p>


                      <div class="image-row text-center row" style="margin: 2em auto 2em auto;">
                        <div class="col-sm-3"><img src="android-pictures/Text1.png" alt="Reddit menu example" width="200"><p><em>Figure A.3.1</em></p></div>
                        <div class="col-sm-3"><img src="android-pictures/Text2.png" alt="Google Maps menu example" width="200"><p><em>Figure A.3.2</em></p></div>
                        <div class="col-sm-3"><img src="android-pictures/Text3.png" alt="Google Calendar menu example" width="200"><p><em>Figure A.3.3</em></p></div>
                        <div class="col-sm-3"><img src="android-pictures/Text4.png" alt="Google Calendar menu example" width="200"><p><em>Figure A.3.4</em></p></div>
                      </div>

                      <p>Certain applications have a permanent presence in the Notification Bar when in use (i.e. they cannot be dismissed, only activated). The "Spotify" and "Twilight" applications in <em>Figure A.4</em> below have such a presence.</p>

                      <div class="image-row text-center row" style="margin: 2em auto 2em auto;">
                        <div class="col-sm-12"><img src="android-pictures/PermanentNotifications.png" alt="Reddit menu open example" width="200"><p><em>Figure A.4</em></p></div>
                      </div>

                      <p>Another common component of Android application windows are how menus are presented. Generally, a menu presents its existence in the form of a column of three horizontal lines or dots in the top left or right corner of the display.</p>

                      <div class="image-row text-center row" style="margin: 2em auto 2em auto;">
                        <div class="col-sm-4"><img src="android-pictures/RedditMenus.png" alt="Reddit menu example" width="200"><p><em>Figure A.5.1</em></p></div>
                        <div class="col-sm-4"><img src="android-pictures/MapsMenu.png" alt="Google Maps menu example" width="200"><p><em>Figure A.5.1</em></p></div>
                        <div class="col-sm-4"><img src="android-pictures/CalendarMenu.png" alt="Google Calendar menu example" width="200"><p><em>Figure A.5.1</em></p></div>
                      </div>

                      <p>These menus often have a similar structure in terms of how they and their options are displayed. Often a secondary panel slides onto the screen in a way to suggest that it is on top of the main window. Here, options are portrayed in a list fashion justified towards the outer side of the window. </p>

                      <div class="image-row text-center row" style="margin: 2em auto 2em auto;">
                        <div class="col-sm-4"><img src="android-pictures/RedditMenuOpen.png" alt="Reddit menu open example" width="200"><p><em>Figure A.6.1</em></p></div>
                        <div class="col-sm-4"><img src="android-pictures/MapsMenuOpen.png" alt="Google Maps menu open example" width="200"><p><em>Figure A.6.2</em></p></div>
                        <div class="col-sm-4"><img src="android-pictures/CalendarMenuOpen.png" alt="Google Calendar menu open example" width="200"><p><em>Figure A.6.3</em></p></div>
                      </div>

                      <p>A different form of menu is a series of categories listed across the top part of the display just beneath title bar or something similar.</p>

                      <div class="image-row text-center row" style="margin: 2em auto 2em auto;">
                        <div class="col-sm-4"><img src="android-pictures/RedditMenu1.png" alt="Reddit menu open example" width="200"><p><em>Figure A.7.1</em></p></div>
                        <div class="col-sm-4"><img src="android-pictures/RedditMenu2.png" alt="Google Maps menu open example" width="200"><p><em>Figure A.7.2</em></p></div>
                        <div class="col-sm-4"><img src="android-pictures/RedditMenu3.png" alt="Google Calendar menu open example" width="200"><p><em>Figure A.7.3</em></p></div>
                      </div>

                      <div class="image-row text-center row" style="margin: 2em auto 2em auto;">
                        <div class="col-sm-4"><img src="android-pictures/SettingsMenu1.png" alt="Reddit menu open example" width="200"><p><em>Figure A.8.1</em></p></div>
                        <div class="col-sm-4"><img src="android-pictures/SettingsMenu2.png" alt="Google Maps menu open example" width="200"><p><em>Figure A.8.2</em></p></div>
                        <div class="col-sm-4"><img src="android-pictures/SettingsMenu3.png" alt="Google Calendar menu open example" width="200"><p><em>Figure A.8.3</em></p></div>
                      </div>

                      <p>Although it is reserved for certain situations, another main component of windows in Android is the keyboard. Granted, it only appears when the user is ready to enter text, it does take a substantial amount of display room when in use, both in portrait and landscape mode (See <em>Figure A.9.1 and A.9.2</em>)</p>

                      <div class="image-row text-center row" style="margin: 2em auto 2em auto;">
                        <div class="col-md-4"><img src="android-pictures/Keyboard1.png" alt="Reddit menu open example" width="200"><p><em>Figure A.9.1</em></p></div>
                        <div class="col-md-8"><img src="android-pictures/Keyboard2.png" alt="Google Maps menu open example" width="600"><p><em>Figure A.9.2</em></p></div>
                      </div>

                      <p>The main content of the application window takes up a majority of the display most of the time. Depending on the type of application, the window may be able to be navigated by scrolling, panning, or zooming. In the case of an application that presents a list or feed structure (e.g. Settings, Facebook, Reddit Is Fun), one can only scroll up and down the window. In an application that presents a page however, such as Google Chrome, one can zoom in and out of the page and also navigate the page more precisely through panning at a closer zoom. The one caveat to this is, at least for Google Chrome, many websites have a mobile version that present themselves in a feed fashion, restricting them to not being able to be panned over or zoomed into. Desktop versions of these websites however do generally allow for more freedom of navigation.</p>

                      <div class="image-row text-center row" style="margin: 2em auto 2em auto;">
                        <div class="col-md-3"><img src="android-pictures/SettingsMenu1.png" alt="Reddit menu open example" width="200"><p><em>Figure A.10.1</em></p></div>
                        <div class="col-sm-3"><img src="android-pictures/AmazonMobile.png" alt="Reddit menu open example" width="200"><p><em>Figure A.10.2</em></p></div>
                        <div class="col-sm-3"><img src="android-pictures/AmazonDesktop.png" alt="Google Maps menu open example" width="200"><p><em>Figure A.10.3</em></p></div>
                        <div class="col-sm-3"><img src="android-pictures/AmazonDesktopZoom.png" alt="Google Calendar menu open example" width="200"><p><em>Figure A.10.4</em></p></div>
                      </div>

                      <p>A certain unique type of window that is also prevalent is a window that contains media, either video or audio. These windows don't necessarily have the default characteristics of windows, such as the Information Bar which is hidden when a fullscreen video is being played. The screenshots below show how a fullscreen video is presented on the YouTube application. Again, the Information Bar is hidden in this window. A swipe down from the top reveals the Bar (See <em>Figure A.11.2</em>) which can then be pulled down to show the Notification and Quick Settings Bar. Also, tapping on the screen brings up the video control interface which includes play/pause, next/previous video, and a scrub bar (See <em>Figure A.11.3</em>).</p>

                      <div class="image-row text-center row" style="margin: 2em auto 2em auto;">
                        <div class="col-sm-4"><img src="android-pictures/Video1.png" alt="Reddit menu open example" width="300"><p><em>Figure A.11.1</em></p></div>
                        <div class="col-sm-4"><img src="android-pictures/Video2.png" alt="Google Maps menu open example" width="300"><p><em>Figure A.11.2</em></p></div>
                        <div class="col-sm-4"><img src="android-pictures/Video3.png" alt="Google Calendar menu open example" width="300"><p><em>Figure A.11.3</em></p></div>
                      </div>

                      <p>The biggest difference between different video applications is the control interface. Below are additional examples from Samsung's default Video Player application and the build in Android video interface.</p>

                      <div class="image-row text-center row" style="margin: 2em auto 2em auto;">
                        <div class="col-md-6"><img src="android-pictures/VideoInterface1.png" alt="Reddit menu open example" width="400"><p><em>Figure A.12.1</em></p></div>
                        <div class="col-md-6"><img src="android-pictures/VideoInterface2.png" alt="Google Maps menu open example" width="400"><p><em>Figure A.12.2</em></p></div>
                      </div>

                      <p>One other specialty that Android devices have in viewing videos, is that they have the capability of "popping" videos out of their rigid frames and displaying them on top of others (as seen below).</p>

                      <div class="image-row text-center row" style="margin: 2em auto 2em auto;">
                          <div class="col-md-12"><img src="android-pictures/VideoPopUp.png" alt="Reddit menu open example" width="200"><p><em>Figure A.13</em></p></div>
                      </div>

                      <p>Another exception to the fact that every application has one window that occupies the entire display at a time, is Android's capability of Multi-Window Support. "On handheld devices, two apps can run side-by-side or one-above-the-other in split-screen mode. For example, a user could split the screen, viewing a web page on the left side while composing an email on the right side." An example can be seen below where both the Google Chrome and Google Maps applications are concurrently open on the display next to each other.</p>

                      <p>Since Android is a mobile software platform, it has no guidelines on windows as each application takes up the entire screen. There do exist guidelines for Multi-Window support however.</p>

                      <div class="image-row text-center row" style="margin: 2em auto 2em auto;">
                          <div class="col-md-12"><img src="android-pictures/MultiWindow.png" alt="Reddit menu open example" width="400"><p><em>Figure A.14</em></p></div>
                      </div>

                      <p>This split screen interface has unique controls not present in situations with only one window. First, the application currently in use and active is indicated as such with a blue border. The white dot along the dividing line between the applications allows the user to adjust how much display real estate is dedicated to either application. Tapping on this circle rather than dragging it reveals a small set of menu items. These include being able to make the active application full screen and eliminate the inactive application's place on the screen, switch the positions of the applications, quit the active application allowing the inactive to take up the whole display, etc.</p>

                      <div class="image-row text-center row" style="margin: 2em auto 2em auto;">
                        <div class="col-md-6"><img src="android-pictures/MultiWindowResize.png" alt="Reddit menu open example" width="400"><p><em>Figure A.15.1</em></p></div>
                        <div class="col-md-6"><img src="android-pictures/MultiWindowMenu.png" alt="Google Maps menu open example" width="400"><p><em>Figure A.15.2</em></p></div>
                      </div>
                    </div>
                  </div>
                  <!--End of Android Section-->

                </div>
                <!--End of the tab section-->

              </div>

              <div class="row"><!--carousel-->
                <div class="col-12">
                  <h3>Window Screenshots from Selected Platforms</h3>
                  <p>Here are a few selected screenshots of the covered platforms</p>
                  <div id="window-screenshot-carousel" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#window-screenshot-carousel" data-slide-to="0" class="active"></li>
                      <li data-target="#window-screenshot-carousel" data-slide-to="1"></li>
                      <li data-target="#window-screenshot-carousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                      <div class="item active carousel-item">
                        <img src="Yosemite-Screenshot.png" alt="yosemite" width="1000" height="750">
                        <div class="carousel-caption">Yosemite screenshot</div>
                      </div>
                      <div class="item carousel-item">
                        <img src="Ubuntu-Screenshot.png" alt="Ubuntu 15.04" width="1000" height="750">
                        <div class="carousel-caption">Ubuntu 15.04</div>
                      </div>
                      <div class="item carousel-item">
                        <img src="windows8.1fitted.jpg" alt="Windows 8.1" width="1000" height="750">
                        <div class="carousel-caption">Windows 8.1</div>
                      </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#window-screenshot-carousel" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#window-screenshot-carousel" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
