---
title: Web
layout: component
contributors:
    - name: Jeremy Hitchcock
      github: ruhtroh
    - name: Thomas O'Brien
      github: obrienthomas13
---

<blockquote>This file is meant to serve as a template sample for articles in the Paradixm component catalog.
  Instructions/directives are presented in block quotes and sample text is included in line, as if it were actual
  content for this page. Section headings are not samples but actual recommended titles.</blockquote>

<blockquote>Start your component pages with a quick description of the component, such as:</blockquote>

<p class="lead">The web component is an embedded web page view of a website or an application home page mode.</p>

<div class="row">
  <div class="col-sm-6">
    <div class="col-xs-12">
      <h3>Typical Appearance</h3>

      <blockquote>
        <p>A typical appearance of Web can be seen in client-side applications where an embedded page view is present. Usually in a
          window that can be manipulated, with sizing options available to change width and height. Embedded web page views are seen
          in most mobile apps today and certain sections of websites as well. On a desktop website, embedded web page view typically
          contains a bit of information pulled from a database. On mobile apps, embedded web page views serve a greater purpose.
          Embedded web page views are commonly used to build the mobile application of a website. While the mobile application will
          not look exactly the same as the website, the theme and flow of application should following its parent site. Color schemes
          are generally similar and the overall purpose of the application should serve the same or a very similar purpose to the
          original site.</p>

      </blockquote>

      <p>An example of a typical appearence of a web object can be seen here with the Wells Fargo and Google client for iOS:</p>
    </div>

    <div class="col-xs-12">
      <img src="facebookiOS.png" alt="Wells Fargo iOS Example" style="width: 40%">
      <img src="googleiOS.png" alt="Google iOS Example" style="width: 40%">
    </div>

    <br>

    <div class="col-xs-12">
      <h3>Typical Behavior</h3>

      <blockquote>
        <p>An embedded web page views are used to present a website’s information in a different format that leads to
          greater accessibility for users.</p>
      </blockquote>

      <h4>Events</h4>

      <blockquote>An <em>event</em> is something that can happen to a user interface component. They are both conceptual and
        highly concrete in that events very frequently translate directly into a user interface component’s API.</blockquote>

      <p>Events can vary greatly, depending the mobile application and its purpose. Generally speaking, the click function will
        be the most important event for embedded web page views that the user will notice. A click on a desktop is when the user
        hovers the cursor over a command and selects it through a physical device such as a mouse or track pad. A click on a mobile
        device is when the user physically touches the screen at a specific point where a command is.</p>

        <p style="text-align:center">
          <img src="desktopClick.gif" alt="Desktop Click Example" style="width: 80%">
        </p>

        <p style="text-align:center; font-style: italic">Example of the click function on a desktop computer.</p>

      <p style="text-align:center">
        <img src="mobileClick.gif" alt="Mobile Click Example" style="width: 50%">
      </p>

      <p style="text-align:center; font-style: italic">Example of the click function on a mobile device. The</br> transparent circle is the
      user physically touching the screen.</p>

      <p>When a user clicks on an element that serves a purpose, an event is triggered in the background. The literal fact of the
        event being triggered is invisible to the user, but the result is likely not. (do more research on how elements trigger the
        backend and talk to APIs)</p>
    </div>

    <h4>State Diagram</h4>

    <blockquote>
      <p>A state diagram indicating the actions and states of a user interface component.</p>

      <p>This is most likely an image. Bonus props if you use SVG.</p>

      <p>And also, a state diagram implies, well, <em>states</em>. So be sure to describe them. Note also that there will
        usually be overlap between a component’s events and its state diagram. A sufficiently detailed state diagram,
        however, may have more activities than the “public” events that can be reported by a component.</p>
    </blockquote>

    <p>The state diagram for a basic embedded web view is fairly straightforward. When a website or mobile app is initially
      opened, the state diagram begins. This first page, generally a login or home page, will call the data from the respective
      website that is intended to be called. Once the page and data has been completely loaded, the site or application should
       hit a resting point. Data has been pulled into the embedded web page view and is presented at the discretion of the
       programmer. The only condition that will change the state of the site or application is an event being triggered. Some
       examples of this would be logging into an application or clicking on a link within the embedded web view. These events
       require more data to be pulled or analyzed and will determine what the next state will be.</p>

    <p>Most button designs have the following states. The <code>enabled</code> and <code>disabled</code> states can be
      viewed as “dormant” button states—they are the only states that a button can have when a user is not interacting with
      it. The <code>enabled</code> state means that a user <em>can</em> interact with it, while the <code>disabled</code>
      state means that a user <em>cannot</em> do so.</p>

    <p>When a button is <code>enabled</code>, additional states may be triggered. Not all states are present in all button
      implementations, but in general they are:</p>

    <ul>
      <li><code>hover</code>: For platforms with an explicit pointing element, positioning that element over a button may
        change the button’s appearance. This provides a form of feedback that states that the button will respond if
        additional activity is performed.</li>

      <li><code>armed</code>: If the user initiates button-triggered behavior, such as a click on mouse-capable systems,
        the button may enter a state indicating that it is ready to be invoked. Many button implementations allow an “out”
        from this state, in case the user changes his or her mind in mid-action.</li>
    </ul>

    <h4>Component in Action</h4>

    <blockquote>
      <p>Embedded or linked video (by you or by others [and if by others give credit]) showing the component in action.</p>

      <p>For components that are available on a web platform, you can embed an actual component right here, such as:</p>
    </blockquote>
    <iframe src="http://www.espn.com" width="100%" height="500"></iframe>

    <p style="font-style: italic">Here is a simple example of an embedded web view within the Web
      documentation itself. By utilizing the tag iframe in html, the page is capable of displaying ESPN’s official website
      into a fixed window. All events triggered within the embedded web page view will directly interact with ESPN’s live
      website.</p>

    <p class="text-center">
      <button class="btn btn-default">Standard Bootstrap Button</button>
      <button class="btn btn-default disabled">Disabled Bootstrap Button</button>
    </p>

  </div>

  <div class="col-sm-6">
    <div class="col-xs-12">
      <h3>Variants</h3>

      <p>The options for embedded web views are virtually limitless! Down below are a few common
         implementations of how embedded web views can be used.</p>

      <h4 style="text-align:center">Log in stuff??(needs right term)</h4>
        <p style="text-align:center">
          <img src="googleiOS.png" class="img-thumbnail" alt="Log in example" style="width: 50%">
        </p>
        <p style="font-style: italic">Google’s application and specifically Facebook’s old application
          are examples of accessing back end data. Here the user is able to login in and access their
          respective data.</p>

      <h4 style="text-align:center">Forum layout</h4>
       <p style="text-align:center">
         <img src="redditEWV.png" alt="Forum Layout Example" style="width: 50%">
       </p>
       <p style="font-style: italic">Reddit is fun, a third party application for accessing reddit on
         Android, uses Reddit’s public API key to pull their data into an embedded web view.</p>

      <h4 style="text-align:center">Video Streaming</h4>
       <p style="text-align:center">
         <img src="youtubeEWV.png" alt="Video Streaming Example" style="width: 50%">
       </p>
       <p style="font-style: italic">Youtube and Twitch pull from their API and create a window that will
         live stream their video.</p>

      <h4 style="text-align:center">Music Streaming</h4>
       <p style="text-align:center">
         <img src="soundcloudEWV.png" alt="Music Streaming Example" style="width: 50%">
       </p>
       <p style="font-style: italic">Soundcloud pulls from their API to implant music streaming into their
         application.</p>

    </div>

    <div class="col-xs-12">
      <h3>Priority Metrics</h3>

      <blockquote>Efficiency and learnability are the keys.</blockquote>

      <p>Because the web view is such a common theme of virtually every user interface available today, it can be said that
        all usability metrics are equally important for this component. However, when web designers are trying to make sure their product stands out form the rest, they want something that is easy for their customers to use, and just as easy to learn.</p>

      <p>Users want the quickest means possible while using a website (efficiency), particularly because users want to look up or find some information online in the best manner possible. Users want to be able to use and perform the same actions in the same way across multiple sites/platforms (leanrability). Web views must be easy to use and understand, without too much complication.</p>

      <p>There is no distinct "low-priority" metric that can be asscociated with a web component. Because they vary in appearence, themes, and functions, a web view can be very diverse, with goals ranging from user satisfaction, as seen in sleek web apps like Alien Blue, a <a href="http://www.reddit.com">Reddit.com</a> client for iOS.</p>

      <h4>Alien Blue</h4>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UbXy2-Q3N6o" frameborder="0" allowfullscreen></iframe>

      <p>Or, there can be more simple, efficient places that will act as an easy to use mobile web interface for their bigger, online counterparts, like the Google Sheets app, as seen here:</p>

      <h4>Google Sheets</h4>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_2URq5n5UFA" frameborder="0" allowfullscreen></iframe>

    </div>

    <div class="col-xs-12">
      <h3>Key Characteristics</h3>

      <blockquote>This section is for describing “what makes for a good <em>your component here</em>?”
        Most likely, this is an amalgam of guidelines documents and platform-independent interaction design
        principles.</blockquote>

      <p>Relating back to the some of the priority metrics. The key to a usable and efficient embedded web page is fluid
        navigation. The user using an embedded web page in a mobile application generally will have some kind of understanding
        of the desktop website for the same website. With this in mind, it is important for the navigation of the desktop
        website and the mobile application to have similar navigation flow and layout. Color themes must be the same and
        buttons should be in the same general location are examples of keeping the layout and flow consistent between the
        desktop website and mobile application</p>

        <!--
        Reformat these images for final site
         -->
        <h4 style="text-align:center">Mobile Homepage</h4>
        <p style="text-align:center">
          <img src="evernoteMobileMenu.png" alt="Youtube Mobile Menu" style="width: 50%">
        </p>

        <h4 style="text-align:center">Desktop Website Homepage</h4>
        <p style="text-align:center">
          <img src="evernoteWebMenu.png" alt="Youtube Website Menu" style="width: 100%">
        </p>

        <p>The two images above are Evernote’s mobile home page and desktop home page respectively when the user has logged
          in. One consistency is the styling of Evernote on both the webpage and embedded web page view. The font and color
          scheme is the same on both platforms. Not only that, but the icons used remain consistent. The primary difference
          between the two is that the desktop website is able to show both the user’s notes and one specific note file
          simultaneous. The mobile web app lacks this feature due to having a smaller screen with an emphasis on the vertical
          height. Another distinction is the plus icon is on the bottom right of the mobile app while at the top right of the
          desktop website. This is likely due to the plus button being easier to select with the user’s thumb for users who
          are right handed. Overall the mobile application is essentially a compressed version of the desktop website.
          The functionality of the desktop website is still in the mobile application, but there are some more menu
          navigation required. It is clear that Evernote prioritized the navigation of their mobile application to be
          similar if not identical to the desktop website.</p>

      <h4>Feedback</h4>

      <p>Perhaps the most important interaction design principle that a button must follow is <em>feedback</em>. Users must
        never doubt whether:</p>

      <ol>
        <li>they did positively trigger a button (and thus its associated action)</li>
        <li>they successfully <em>cancelled</em> the triggering of a button, due to changing their minds midway through
          the action that triggers the button</li>
      </ol>
    </div>
  </div>
</div>

  <h3>Platform-Specific Instances</h3>

  <blockquote>
    <p>This is where things can get really interesting—platform-specific sections go here. Different versions of
      the same system are considered to be platforms in their own right (e.g., Windows 95 buttons vs. Windows 10
      buttons). Completely customized versions of a component (e.g., a unique-looking/-acting button made specifically
      for a game) are also acceptable here.</p>

    <p>The outline for platform-specific entries resembles the outline already described above, except with a focus
      on how the platform-specific version is <em>different</em>. Thus, you will want some notes on appearance (i.e.,
      more screenshots), behavior, variants, metrics, and characteristics. If some aspect is the same, then say so
      explicitly so that there is no confusion.</p>

    <p>Some platform-specific instances of certain user interface components will merit such a rich discussion that they
      may require a sizable number of supporting assets. In that case, feel free to add subfolders to the main component
      folder, named after the platform under examination.</p>

    <p>This could well be the most distinctive part of the catalog—the sections above this generally appear in user
      interface guidelines, albeit with a platform-specific focus. A key premise of the Paradixm project is to compare
      user interface elements <em>across</em> platforms. Thus, feel free to be creative about presentation here. You
      might want to display a visual gallery, for example, with links leading to individual pages for each covered
      platform-specific user interface component.</p>
  </blockquote>

<div class="row">
  <div class="col-sm-6">
    <div class="col-xs-12">
      <h4>WebView</h4>
      <p>Android provides a powerful class called webview for developers to utilize. There are several commands and
         tools that webview provides. Some of these commands are loadUrl, setJavaScriptEnabled, and so on. There is
         a large library provided for developers to use as they please. This results in virtually endless possibilities
         of how webview can be used to created embedded web page views.</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="col-xs-12">
      <h4>iOS stuff</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
       Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Alto</h4>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Amiga</h4>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Material Design</h4>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">watchOS</h4>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>

<h3>Credits &amp; References</h3>

<p><a href="https://developer.android.com/guide/webapps/webview.html">https://developer.android.com/guide/webapps/webview.html</a></p>
