---
title: Scrolling
layout: component
contributors:
    - name: Carleen Petrosian
      github: cpetrosi
    - name: Sasha Dmitrieva
      github: sashadmitrieva96
    - name: George Sarantinos
      github: gsaranti
---

<p class="lead">The scrolling feature is one of the most commonly used behavioral component on modern interfaces. By scrolling, users can manipulate their location on a page (both vertically and horizontally) to see content that lies beyond the dimensions of their current display.</p>

<div class="row">
  <div class="col-sm-6">

<h3>Typical Appearance</h3>

<blockquote>The scrollbar has one generally-accepted appearance: a tray on the right side of the computer screen in which a slightly off-colored block, known as the scroll thumb, rests. The shape and color of the tray and thumb vary across different platforms.</blockquote>

<img src="scrollbars.jpg" class="img-scrolling" alt="Different Scrollbar Appearances" width="500">

<p> If there is content on the page that is not immediately visible from left to right, scrollbars will also appear on the bottom of a page in a horizontal position identical in appearance to its vertical counterpart. In the image below, the scrollbar native to the Google Documents app provides a horizontal scroll option upon resizing the window: </p>

<img src="horizontal_scroll.png" class="img-scrolling" alt="Horizontal Scrollbar" width="500">

<h3>Typical Behavior</h3>

<blockquote>
  <p>The action of scrolling up or down is universal. The user can move, or scroll, an entire page of content  
     up or down by manipulating the scroll thumb (or one of the variants provided lower). Users can change the 
     direction of their scroll in their settings - this will be discussed further in variants and platform-specific
     instances. </p>

</blockquote>

<p> Across most devices, the scroll thumb will adjust in size to give the user an indication on the size of the document. This is a helpful form of feedback for the amount of content on any given page. </p>

<img src="scroll_length_v3.png" class="img-scrolling" alt="Longer Scroll Thumb">

<p> A possible complaint, however, resides in the event that a page has an inordinate amount of content; in this scenario, the scroll thumb becomes very small and difficult to manipulate for some users. Below, the sticky notes app native to Windows demonstrates the change in scrollbar size depending on text amount. </p>

   <img src="scroll_length_v1.png" class="img-scrolling" alt="Longer Scroll Thumb" width="220" height="220">
   <img src="scroll_length_v2.png" class="img-scrolling" alt="Shorter Scroll Thumb" width="220" height="220">

<h4>Events</h4>

<blockquote>An <em>event</em> is something that can happen to a user interface component. They are both conceptual and
  highly concrete in that events very frequently translate directly into a user interface component’s API.</blockquote>

<p> Using the scrollbar component, the most relevant scrolling event is the <code>click</code>. A <code>click</code> event
    indicates that the user has selected the scrollbar thumb. Secondary events include <code>hover</code>, indicating that a pointing device is explicitly within the bounds of the scrollbar thumb. In the event that the user clicks and holds a scrollbar, the <code>release</code> event is applicable. </p>

<p> The scrollbar will highlight during a <code>hover</code> event and then highlight brighter upon being clicked. This
    provides a form of feedback that indicates scrollbar response upon additional activity performed. </p>

    <img src="generic_scroll.png" class="img-scrolling" alt="Generic Scroll" width="140" height="300">
    <img src="generic_scroll_highlight.png" class="img-scrolling" alt="Highlighted Scroll" width="140" height="300">
    <img src="generic_scroll_selected.png" class="img-scrolling" alt="Selected Scroll" width="140" height="300">

<h4>State Diagram</h4>

<img src="state_diagram.png" class="img-scrolling" alt="State Diagram">

<p>Scrollbars share the following states because of their similar functionality. The <code>drag</code> and <code>
   instantaneous</code> "scrolling" states can be viewed as <code>enabled</code> scrolling states, since they must be activated through user interaction. The <code>initial</code> state can also be referred to as <code>dormant</code>, meaning that the user has yet to interact with the scrollbar.

<p>When a scrollbar is <code>enabled</code>, the two possible active states are:</p>

<ul>
  <li><code>dragging scroll</code>: The user is "dragging" the page up or down, whether by directly manipulating the scroll thumb or by taking advantage of the two-finger scroll function of the trackpad. </li>

  <li><code>instantaneous scroll</code>: The user "skips" across the page with keyboard functions (the up and down arrow keys, the space bar, page up and page down keys, etc.). The effect is an instantaneous jump, rather than a gradual pulling drag of a page. </li>
</ul>

<h4>Component in Action</h4>

<blockquote>
  <p>Here we have an image of scrolling down a screen:</p>
</blockquote>

<img src="scrolling_action.gif" class="img-scrolling" alt="Scrolling Gif" width="500">

  </div>

  <div class="col-sm-6">

<h3>Variants</h3>
  <ul>
    <li><b>Two Finger Scrolling</b> <br>
      Two finger scrolling, originally introduced by Apple, is a new and more efficient way to scroll through pages on
      laptops. Although it is an easier tool to use, it is difficult to learn how it works because it is not intuitive. When
      users scroll down with two fingers on the trackpad, they expect the page to go down. Similarly, when they scroll up, they
      anticipate the page will move upwards. This intuition is formed by the way the scroll bar is designed. However, both OS X
      and Windows 10 introduce two finger scrolling in the opposite manner. This can make it harder and more frustrating for
      users to adjust to the change. On the other hand, once users are acclimated with this adjustment, it is easier to
      remember how it works, and they are less likely to forget how to use it; essentially, it becomes second nature.</li>

      <img src="natural-scrolling-direction.gif" class = "img-scrolling" alt="Natural Scroll Gif" height="350" width="425">

    <li><b>Keyboard Controls</b> <br>
      There are alternative ways to scrolling, two of which can be accessed on the keyboard. The arrow keys on the bottom,
      right-hand side of the keyboard can be used as shortcuts to scroll up and down a page; the down arrow key shifts the page
      downwards while the up key moves it upwards. In addition, users can utilize the spacebar to scroll down the page and the
      keyboard shortcut Shift+Space to scroll upwards.</li>

    <li><b>Mouse Scroll Wheel</b> <br>
      The computer mouse is an accessory that can either be used wirelessly or attached to desktops and laptops. The scroll
      wheel, located in the middle of the mouse, can act as another scrolling agent. The scroll wheel can be used in two ways;
      it can either be scrolled or clicked on. Users can manipulate the scroll wheel to scroll up and down a page depending on
      the settings of their devices. They can also click on the wheel and drag the pointer in the direction they want to travel 
      on a page.</li>

  </ul>

<h3>Priority Metrics</h3>

<blockquote>Talk about the five usability metrics in relation to this component. Not all components will have the same
  metric priorities. For example:</blockquote>

  <ul>
  <li><b>Learnability</b></li>
  <li><b>Efficiency</b></li>
  <li><b>Memorability</b></li>
  <li><b>Errors</b></li>
  <li><b>Satisfaction</b></li>
</ul>

<p>Because the button is such a fundamental part of virtually every user interface available today, it can be said that
  all usability metrics are equally important for this component. Users who are seeing a button in a given platform for
  the first time must not have any issues recognizing it and knowing what to do with it (learnability). The high
  priority of learnability also implies that memorability is a given.</p>

<p>Users must also never experience undue delays with using a button (efficiency), particularly because using a button
  almost always involves an instantaneous, immediate-result action. Users should almost never trigger a button by
  mistake (errors)—especially buttons whose actions result in significant changes to data or the real world.</p>

<p>If any metric at all can be considered as a “low priority” for buttons, it would be satisfaction. The button is such
  a utilitarian component that “fun” or “enjoyment” is hardly associated with its use. One exception to this
  prioritization may be for buttons in applications whose primary metric is satisfaction (e.g., games, entertainment).
  As a part of that overall system, making buttons “fun” may then become more important than in other situations.</p>

<h3>Key Characteristics</h3>

<blockquote>This section is for describing “what makes for a good <em>your component here</em>?”
  Most likely, this is an amalgam of guidelines documents and platform-independent interaction design
  principles.</blockquote>

<h4>Feedback</h4>

<p>Perhaps the most important interaction design principle that a button must follow is <em>feedback</em>. Users must
  never doubt whether:</p>

<ol>
  <li>they did positively trigger a button (and thus its associated action)</li>
  <li>they successfully <em>cancelled</em> the triggering of a button, due to changing their minds midway through
    the action that triggers the button</li>
</ol>
  </div>
</div>

<h3>Platform-Specific Instances</h3>

<blockquote>
  <p>Below, we have a cross-platform comparison of scrolling amongst a variety of systems, including Mac OSX, Windows 10, and iOS. </p>
</blockquote>

<div class="row">
  <div class="col-sm-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Mac OSX</h4>
      </div>
      <div class="panel-body">

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Windows 10</h4>
      </div>
      <div class="panel-body">

      <blockquote>
        
        Microsoft's UX Guidelines prioritize two aspects of desktop design: simplicity and power. Here we will examine how those qualities apply to scrolling in Windows 10. 

      </blockquote>

      <p> In their description of good user design, the Microsoft Guidelines describe what exactly makes a program simple and powerful. To ensure simplicity, they argue for elimination of any controls that may be considered unessential; for Microsoft, simplicity is not equivalent to ease-of-use, but a method to attain it. To make an application powerful, it should be versatile and flexible while enabling users to perform all kinds of tasks.  </p>

      <p>The Windows 'Design and UI' category clearly states: "Windows has two scroller visualizations, which are based on the user's input mode: scroll indicators when using touch or gamepad; and interactive scroll bars for other input devices including mouse, keyboard, and pen." For Windows 10 devices that can toggle between laptop and tablet, the user now has more power in their method of scrolling (shown in the image below) between modes. </p>

      <br>

      <p> <img src="windows_scrollbar.png" class="img-scrolling" alt="Default Windows 10 Scrollbars" width="500"> </p>

      <p> In the images below, we can see how the Windows 10 interface applies the different modes of scrolling (default vs. tablet mode) with a simple change in design. The first example features a file explorer menu with the expected scrollbar view on the right side of the menu. The tablet scroll, however, is a slimmed-down, simpler feature that mimics the appearance of tabs (demonstrated by the purple tab on the left side of the screen). </p>

      <br>
      
      <p> <img src="windows_menuscroll.png" class="img-scrolling" alt="Windows Menu Example" width="500">  

      <img src="windows_tabletscroll.png" class="img-scrolling" alt="Windows Tablet Scrollbar" width="540"></p>

      <p><br>Unlike the Mac OSX in which the scroll bar will "hide," or slide out of view of the screen, if not in use, the Windows platform always has the scrollbar in view of the page, regardless of action indicated by the user. </p>

      <br>

      <p> <img src="arrow_scroll.gif" class="img-scrolling" alt="Windows Arrow Buttons" align = "left"> One majorly noticeable difference between Windows scrolling and other platforms is the advent of the up and down arrow buttons on either end of the scroll thumb. The user can either click these arrows instantaneously and move a small amount up and down the page, or they can click and hold the buttons to drag scroll the content. 
      <br><br> This is directly compliant with Windows' advocation for providing their clients with 'power' - with the addition of a button control, the user now has more choice for their preferred method of scrolling. Windows' extra keyboard controls further reflect this: not only can a Windows user scroll using the space bar, the 'Page Up' and 'Page Down' keys also perform a scrolling operation by jumping a full pages length up or down, respectively. </p>

      <p> This variety of control is unique to Windows platforms. Therein lies the criticism that the wealth of scrolling options provided by Windows is excessive and unnecessary; no user will, in their daily use, need over six different ways to navigate through content. The question naturally follows: are all these methods truly essential to the platform and in line with Windows' simplicity guidelines? The provision of choice can arguably compensate for this excess, however. Since Windows expects its users to range in computing proficiency, from expert to newbie, they will undoubtedly desire different methods of navigation - hence, the multitude of options. </p>
      

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">iOS</h4>
      </div>
      <div class="panel-body">

      </div>
    </div>

  </div>
</div>




<div class="row">
  <div class="col-xs-6 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Alto</h4>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Amiga</h4>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Material Design</h4>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">watchOS</h4>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>

<h3>Credits &amp; References</h3>

<blockquote>Provide references or links to any information, image, or media sources used.</blockquote>
