---
title: String Input
layout: component
---

<blockquote></blockquote>

<p class="lead"></p>

<div class="row">
  <div class="col-sm-6">

<h3>Typical Appearance</h3>

<blockquote></blockquote>

<h3>Typical Behavior</h3>
<blockquote></blockquote>

<h4>Events</h4>
<blockquote></blockquote>

<h4>State Diagram</h4>
<blockquote></blockquote>

<h4>Component in Action</h4>
<blockquote></blockquote>

<h3>Variants</h3>
<blockquote></blockquote>

<h3>Priority Metrics</h3>
<blockquote></blockquote>

<h3>Key Characteristics</h3>
<blockquote></blockquote>

<h3>Platform-Specific Instances</h3>
<blockquote></blockquote>

<h3>Credits &amp; References</h3>
<blockquote></blockquote>
