---
title: resizing
layout: component
---

<p class="lead">A critical feature of GUI based operating systems is the ability to resize a window.</p>

<div class="row">
  <div class="col-sm-6">

    <h3>Typical Appearance</h3>
      <p>Resizing is typically indicated by a change in the size of the affected window. When resizing with the mouse, the mousce icon will usually change from a pointer to multiple arrows.</p>

    <h3>Typical Behavior</h3>
      <p>Windows are typically resized by clicking one of the edges and dragging the mouse to the desired shape. They may alternatively be resized by accessing the window menu.</p>

    <h4>Events</h4>
    <p>The most relevant resize event is the <code>resize</code> event. A <code>resize</code> event is triggered when the size of the window has been changed.</p>

    <h4>State Diagram</h4>
    <p></p>

    <h4>Component in Action</h4>
    <p>An example of window resizing can be seen <a href="https://www.youtube.com/watch?v=e3XntupxxtA">here</a>.</p>

  </div>

  <div class="col-sm-6">

    <h3>Variants</h3>
    <p>Window resizing has remained relatively the same since the introduction of windows in GUI baed operating systems.</p>

    <h3>Priority Metrics</h3>
    <p>Since it is a critical aspect of any GUI based operating system, most of the priority metrics are  vital in this component's design analysis. Users who intend to resize a window must have no confusion as to how to accomplish the task. Resizing follows the natural way of thinking by allowing the user to increase the size from the corners and sides of the window, making the process simple to learn (learnability). Also, since resizing follows the natural mental model, the way in which the user resizes windows is easily memorable (memorability).</p>

    <p>Since window resizing corresponds to either mouse input or window menu input, the response is immediate (efficiency). Since window resizing is easily learnable and highly memorable, it is unlikely that users commit errors when attempting the task (errors).</p>
    
    <p>Due to its simplicity and utilitarian nature, resizing does very little in the way of providing satisfaction to the user (satisfaction). However, this does not detract from the overall good design of window resizing.</p>

    <h3>Key Characteristics</h3>
    <p>Key characteristics of resizing include the changing of the mouse icon from a pointer to arrows along with the visible change in window size.</p>

    <h4>Feedback</h4>
    <p>For resizing, the window visibly grows larger or shrinks according to user input. In older operating systems, a rectangle is shown to represent the size the window will change to when the user stops dragging the mouse.</p>

    <h3>Platform Specific Instances</h3>
    <p>When resizing windows with a mouse in older operating systems, a rectangle would be drawn to indicate the resulting shape of the resize once finished dragging. For modern operating systems, the window dynamically changes size and content within conforms to the shape as the window is resized.</p>

  </div>
</div>

<h3>Credits &amp; References</h3>
  <a href="https://developer.mozilla.org/en-US/docs/Web/Events/resize">Mozilla Firefox Documentation</a>
  <br>
  <a href="https://api.jquery.com/resize/">JQuery Documentation</a>
  <br>
  <p>Component in Action video is by user <a href = "https://www.youtube.com/channel/UC9fL_IbZvqQ-CrqxIpiLucw">FreeWebTeacher</a>.</p>