---
title: zooming
layout: component
contributors:
    - name: Chris Dellomes
      github: cjdellomes
---

<p class="lead">A critical feature of GUI based operating systems is the ability to zoom in or out by respectively magnifying or shrinking content.</p>

<div class="row">
  <div class="col-sm-6">

    <h3>Typical Appearance</h3>
      <p>Zooming is typically characterized by content growing or shrinking in size.</p>

    <h3>Typical Behavior</h3>
      <p>Zooming typically involves the magnification or minimizing of content.</p>

    <h4>Events</h4>
    <p>When zooming in or out of content, typically a <code>zoom</code> event occurs in the background processes.</p>

    <h4>State Diagram</h4>
    <img src="zoom_chart.png" alt="Zoom Chart" height="450" width="300">
    <p>A window is typically in a <code>standby</code> phase before being resized. Once the user begins resizing, either through keyboard shortcut or hand gesture, the window enters the <code>zooming</code> state. Once finished, the window reaches the <code>zoomed</code> state.</p>

    <h4>Component in Action</h4>
    <p>An example of zooming on a laptop and touch based device can be seen <a href="http://www.youtube.com/watch?v=2Ko655HOFhM&t=2m0s">here</a></p>

  </div>

  <div class="col-sm-6">

    <h3>Variants</h3>
    <p>Zooming on desktops is possible through the use of the <code>CTRL+</code> and <code>CTRL-</code> keyboard commands. Desktop zooming is also typically possible through the window menu. On the other hand, users on laptops mobile devices, such as tablets and smartphones, use a pinching motion to zoom out of content and reverse the motion in order to zoom in. Zooming in and out can also be found in some video games, especially strategy games. In many strategy games, such as Starcraft and Civilization, zooming can be done either through in game buttons or the mouse scroll wheel.</p>

    <h3>Priority Metrics</h3>
    <p>Since it is a fundamental aspect of modern GUI based operating systems, all priority metrics are a vital in this component's design analysis. For desktops, the learnability of zooming in and out is questionable because if the user did not have any prior knowledge that <code>CTRL</code> for windows and <code>Command</code>is typically used for keyboard shortcuts, the user would not learn to use the keyboard command as it is not clearly indicated.</p> The user also has the option to zoom in using the window menu, which also has questionable learnability since the option is located within a menu. For smartphones and laptops, the learnability of zooming is signficantly greater. In the physical world, it is natural to squeeze things, like paper, to compress them and stretch them to expand them. Smartphones and laptops follow the natural mental model by using a compressing motion, pinching, to zoom out and compress the content and making the reverse motion the zoom out.

    <p>For desktops, once the user realizes that <code>CTRL</code> / <code>Command</code> is the basis for most keyboard shortcuts, it is easy for users to memorize the zoom shortcut. For laptops and mobile devices, the mental model of for zooming follows the natural way of thinking, making the zoom function simple to remember. While initally trying to zoom on desktop, the user may make several mistakes. However, the user is likely to make few errors once the keyboard shortcut is known considering the high memorability of the shortcut. Laptop and mobile device users likely make few errors while zooming since the method follows the natural mental model and is highly memorable.</p>
    
    <p>Regardless of the device, users can efficiently zoom since the keyboard shortcut and the hand gesture are easily performable actions and garner immediate response and feedback. Due to the utilitarian nature of zooming, zooming provides little in the way of user satisfaction. However, the component's utilitarian nature means the lack of satisfaction does not detract from the overall component design.</p>

    <h3>Key Characteristics</h3>
    <p>Key characteristics of zooming include the magnification or shrinking of content.</p>

    <h4>Feedback</h4>
    <p>With the exception of slow machines, the user receives immediate feedback when zooming through the visual change in size of the affected content.</p>

    <h3>Platform Specific Instances</h3>
    <p>When viewing content on a desktop, users can zoom in or out by way of the window menu or through predefined keyboard bindings. For example, Windows users may zoom in or out using the <code>CTRL+</code> or <code>CTRL-</code> commands respectively. Users on OS X can zoom in using <code>Command+</code> and <code>Command-</code> keyboard shortcuts.</p>

    <p>Alternatively, users with a trackpad or viewing the content on a mobile smartphone are able to zoom out through the predefined gesture of pinching and zoom in by performing the gesture in reverse.</p>

  </div>
</div>

<h3>Credits &amp; References</h3>
  <a href="https://developer.apple.com/library/ios/samplecode/ZoomingPDFViewer/Introduction/Intro.html">iOS Developer Documentation</a>
  <br>
  <a href="http://leafletjs.com/reference.html#control-zoom">LeafletJS documentation</a>
  <a href="https://github.com/mbostock/d3/wiki/Zoom-Behavior">Javascript library</a>
  <p>Component in Action video is by Youtube user <a href="https://www.youtube.com/user/Theofficialwindows8/">FreeWebTeacher</a>.</p>
