---
title: zooming
layout: component
---

<p class="lead">A critical feature of GUI based operating systems is the ability is "zooming" by magnifying or shrinking content.</p>

<div class="row">
  <div class="col-sm-6">

    <h3>Typical Appearance</h3>
      <p>Zooming is typically characterized by content growing or shrinking in size.</p>

    <h3>Typical Behavior</h3>
      <p>Zooming typicall involves the magnification or minimizing of content in a window.</p>

    <h4>Events</h4>
    <p></p>

    <h4>State Diagram</h4>
    <p></p>

    <h4>Component in Action</h4>
    <p></p>

  </div>

  <div class="col-sm-6">

    <h3>Variants</h3>
    <p>Since it's introduction to GUI based operating systems, zooming has remained relatively the same in behavior.</p>

    <h3>Priority Metrics</h3>
    <p>Since it is a fundamental aspect of modern </p>

    <p></p>
    
    <p></p>

    <h3>Key Characteristics</h3>
    <p>Key characteristics of zooming include the magnification or shrinking of content.</p>

    <h4>Feedback</h4>
    <p>With the exception of slow machines, the user receives immediate feedback when zooming through the visual change in size of the affected content.</p>

    <h3>Platform Specific Instances</h3>
    <p>When viewing content on a desktop, users can zoom in or out by way of the window menu or through predefined keyboard bindings. For example, Windows users may zoom in or out using the <code>CTRL+</code> or <code>CTRL-</code> commands respectively.</p>

    <p>Alternatively, users with a trackpad or viewing the content on a mobile smartphone are able to zoom out through the predefined gesture of pinching and zoom in by performing the gesture in reverse.</p>

  </div>
</div>

<h3>Credits &amp; References</h3>