---
title: Information Transfer
layout: component
contributors:
    - name: Anindita Varshneya
      github: anuvarsh

---
<!--********************************************LEAD************************************************-->
<p class="lead">Information transfer allows users to efficiently move data between folders, applications, and computers.</p>

<hr>
  <div class="row">
    <div class="col-sm-6">
<!--**************************************TYPICAL APPEARANCE******************************************-->
      <h3>Typical Appearance</h3>

      <p>Due to the several different use cases for information transfer, there is no typical appearence for an information transfer action. Most commontly, information transfer presents in the form of Copy and Paste particular data, Drag and Drop operations between Windows, or specialized Sharing operations.</p>

<!--****************************************KEY CHARACTERISTICS*******************************************-->
      <h3>Key Characteristics</h3>

      <p>Because of the vast applications of information transfer, key guidelines differ between each of the major use cases of information transfer.</p>

      <h4>Copy and Paste</h4>
      <p></p>

      <ol>
        <li></li>
        <li></li>
      </ol>

      <h4>Drag and Drop</h4>
      <p></p>

      <ol>
        <li></li>
        <li></li>
      </ol>

      <h4>Sharing</h4>
      <p></p>

      <ol>
        <li></li>
        <li></li>
      </ol>

    </div>

    <div class="col-sm-6">
<!--****************************************TYPICAL BEHAVIOR*****************************************-->
      <h3>Typical Behavior</h3>

      <h4>Events</h4>

      <p>The most relevant button event is the <code>click</code>. A <code>click</code> event indicates that the user has triggered the button. Secondary events include <code>hover</code>, indicating that a pointing device is explicitly within the button’s bounds.</p>

      <h4>State Diagram</h4>

      <p>Most button designs have the following states. The <code>enabled</code> and <code>disabled</code> states can be
      viewed as “dormant” button states—they are the only states that a button can have when a user is not interacting with it. The <code>enabled</code> state means that a user <em>can</em> interact with it, while the <code>disabled</code> state means that a user <em>cannot</em> do so.</p>

      <p>When a button is <code>enabled</code>, additional states may be triggered. Not all states are present in all button implementations, but in general they are:</p>

      <ul>
        <li><code>hover</code>: For platforms with an explicit pointing element, positioning that element over a button may change the button’s appearance. This provides a form of feedback that states that the button will respond if additional activity is performed.</li>

        <li><code>armed</code>: If the user initiates button-triggered behavior, such as a click on mouse-capable systems, the button may enter a state indicating that it is ready to be invoked. Many button implementations allow an “out” from this state, in case the user changes his or her mind in mid-action.</li>
      </ul>

      <h4>Component in Action</h4>

    </div>
  </div>
</hr>

<hr>
  <div class="row">
    <div class ="col-sm-6 col-xs-12">
<!--********************************************VARIANTS************************************************-->
      <h3>Variants</h3>

      <ul>
        <li><em>Menu items</em> are very close to buttons in behavior—they perform individual action elements upon simple invocation by a user. However, they belong to a broader context/structure of a menu, and look sufficiently different that they are both conceptually and programmatically viewed as distinct from buttons.</li>

        <li><em>Links</em> can be considered as a specialized button—they are invoked almost identically, and their action is even more narrowly defined as moving the user to a different view or display. The distinction here is definitely less sharp than the distinction between a menu item and a button. For links within a document, the document might be viewed as a menu in itself, and thus links are “menu items” indicating what the user can view next. Thus, in some ways, links are hybrids between buttons and menu items.</li>
      </ul>
    </div>

    <div class ="col-sm-6 col-xs-12">
<!--************************************PRIORITY METRICS******************************************-->
      <h3>Priority Metrics</h3>
        <h4>Efficiency</h4>
          <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
        <h4>Errors</h4>
          <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
        <h4>Learnability</h4>
          <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
        <h4>Memorability</h4>
          <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
        <h4>Satisfaction</h4>
          <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
    </div>
  </div>
</hr>

<hr>
  <div class="row">
    <div class="col-xs-12">
<!--**********************************PLATFORM SPECIFIC INSTANCES***********************************-->
<!--SECOND TAB COMMENTED OUT UNTIL READY TO ADD INFORMATION-->
      <h3>Platform-Specific Instances</h3>

      <ul class="nav nav-tabs">
        <li class="active"><a href="#OSX" data-toggle="tab">OS X El Capitan</a></li>
        <!-- <li><a href="#W10" data-toggle="tab">Windows 10</a></li> -->
      </ul>

      <div class="tab-content">
        <div id="OSX" class="tab-pane active">
           <p>blah blah blah</p>
        </div>

        <!--
        <div id="W10" class="tab-pane">
          <p><em>To be added.</em></p>
        </div>
      -->
      </div>
    </div>
  </div>
</hr>
  

<h3>Credits &amp; References</h3>
<li><a href='https://developer.apple.com/library/content/documentation/UserExperience/Conceptual/OSXHIGuidelines/AppExtensions.html#//apple_ref/doc/uid/20000957-CH101-SW1'>mac OS Human Interface Guidelines</a></li>
<br>
