---
title: Task Switcher
layout: component
---


<p class="lead">A Task Switcher allows for quick and efficient switching between open programs for a streamlined workflow. There are a plethora of different ways to accomplish this, ranging from quick keyboard shortcuts, to using the command line. </p>

<div class="row">
  <div class="col-sm-6">

	<h3>Typical Appearance</h3>
		<p>Although there are many ways to switch between tasks, most operating systems have a similar feature that portrays all currently open programs (or their respective icons) in thumbnails across the screen. They typically prioritize the screen, displaying themselves in front of any and all open windows.

		<br><br>Windows 10<br>
		<img src="img/windowstask.png" style="width:100%; height:auto;" >
		<br><br>OSX El Capitan<br>
		<img src="img/osxtask.png" style="width:100%; height:auto;" >
		<br><br>iOS 9  <br>
		<iframe src="http://i.giflike.com/embed/zHXwTLz" width="236.6" height="420" scrolling="no"></iframe><!-- Commented out windows phone task switcher for now, once css will be working with w/10 for proper formatting -->
		<!-- <img src="windowsPhoneTaskSwitcher.png" style="width:44%; height:auto;" > -->
		</p>



	<h3>Typical Behavior</h3>
		<p>
		First, it is important to note that there is a long list of ways a user can switch between tasks. One way would be to use the mouse, locate the task launcher, hover over the task one wants to open, and click. Information on the task launcher can be found <a href="/paradixm/components/task-launcher/">here</a>.</p>

		<p>
		Another more efficient way, which is seen on most Operating Systems, including mobile, is to press and hold a set of keys (i.e. Windows: <code>Alt + Tab</code> ; OSX: <code>Cmd + Tab</code> ; iOS 9 double tap the <code>Home</code> button). While still holding the <code>Cmd</code> or <code>Alt</code> key, the user can keep tapping on <code>Tab</code> to quickly sift through currently open programs. Once the user lets go of all keys, the program that was selected will open. </p>

		<p>It is good to note that this is a very efficient way to jump back and forth between two programs. The end goal is to switch between tasks, and the quicker and more effortless the process is, the better it is for the user. There are many different shortcuts, and other platform-specific ways to allow for further efficient manipulation (i.e. hiding an app) that will be mentioned under the <a href="#pSpecific"> Platform-Specific Instances</a> section.</p>

	<h4>Events</h4>
		<p> The most relevant task launcher event is 

		<blockquote>An <em>event</em> is something that can happen to a user interface component. They are both conceptual and highly concrete in that events very frequently translate directly into a user interface component’s API.</blockquote>

		<p>The most relevant button event is the <code>click</code>. A <code>click</code> event indicates that the user has
		  triggered the button. Secondary events include <code>hover</code>, indicating that a pointing device is explicitly
		  within the button’s bounds.</p>

	<h4>State Diagram</h4>
		<p> <img src="img/stateDiagram.png" style="width:90%; height:auto;" > </p> 

		<p> Note that only one task can be selected at a time, so when one task is <code>selected</code> all the others are not. A task must be selected in order fo it to be launched, which occurs on key release. However, if the task switcher is <code>active</code> on the screen, a user can always interact with each task, and they are never <code>disabled</code> if the task launcher is open. Please see <a href="#pSpecific"> Platform-Specific Instances</a> for more states. </p>

	<h4>Component in Action</h4>

		<p> Below is a video showing off the task switcher in OSX. The taskbar pops up, taking priority of the screen, and the user can navigate to the left or to the right, quit tasks, hide them, or quickly "alt/tab" back and forth between a pair of tasks. 
		<br>

		<!-- Youtube video -->
		<div class="embed-responsive embed-responsive-16by9">
		  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hlIdz__YZN0"></iframe>
		</div>
		<!-- Youtube Video End -->
  
  </div>

  <div class="col-sm-6">

	<h3>Variants</h3>
		<p>Switching tasks is a standard operation on most devices. Below is a list illustrating the broad ways to accomplish task switching:</p>

		<ul>
			<li> <em> Mission Control </em>, an OSX variant, displays all open windows in thumbnail view across the screen. The difference is that there are no shortcuts to navigate between currently open windows, and you get a preview of the conent of each open task, rather than just the task icon. They are not aligned neatly across the middle of the screen, but scattered. A user can click on any task to switch to it. More information can be found in <a href="#pSpecific">Platform-Specific Instances</a>.</li>
			<li> Most smartphones have a task switcher. When launched, gesture-based controls allows the user to cycle through all open apps, and when they find the one they want to open, they tap on it to open it. </li>
			<li> Using <em>Voice Navigation</em> (i.e. Siri) and vocally ask to "open" a specific task. </li>

		</ul>

		There are different components all together that allow switching between apps, some examples are the <a href="/paradixm/components/task-launcher/"> Task Launcher </a>(the user clicks on an application to open it) and the command line.

	<h3>Priority Metrics</h3>

		<p>The learnability of task switching should be quick, as it is a single input (whether it is a gesture, a double tap of a button, or several key entries at once). It may take longer to discover all the features in a task switcher, like hiding or quitting applications, but it's main function of switching tasks should be intuitive. Once the task switcher is active, there should be no confusion and no series of extra steps to accompish switching to a different task. </p>

		<p>Efficiency is arguably the most important usability measure, as there should be no delay after launch. Because efficiency is of such high priority, there should be almost no mistakes (errors) from a user to accidentally open the wrong program, as the program selected should be the only one that is switched to.</p>

		<p>Memorability would be the biggest hurdle, as user needs to memorize the input to launch it. Once that one input is memorized, there should not be any confusion on what to do next.</p>

		<p>Satisfaction is of high priority, and is closely tied to efficiency. The user should feel that switching tasks is effortless, and feel a sense of "flow" as they are hopping between tasks.</p>

	<h3>Key Characteristics</h3>

		<blockquote>This section is for describing “what makes for a good <em>your component here</em>?”
		  Most likely, this is an amalgam of guidelines documents and platform-independent interaction design
		  principles.</blockquote>

	<h4>Feedback</h4>

	<p>Perhaps the most important interaction design principle that a button must follow is <em>feedback</em>. Users must
	  never doubt whether:</p>

	<ol>
	  <li>they did positively trigger a button (and thus its associated action)</li>
	  <li>they successfully <em>cancelled</em> the triggering of a button, due to changing their minds midway through
	    the action that triggers the button</li>
	</ol>
	  </div>
</div>

<div id="pSpecific">
	<h3>Platform-Specific Instances</h3>
</div>
<!-- REMINDER: ELABORATE ON STATES -->
<!-- REMINDER: ELABORATE ON CUSTOM FEATURES IN VIDEO -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">OSX El Capitan</h4>
      </div>
      
      <div class="panel-body">

     
      </div>

    </div>
<div class="container">
<h3>Credits &amp; References</h3>

<blockquote>
Image for OSX Task Launcher: https://blogs.vmware.com/teamfusion/2011/11/viewing-your-windows-programs-without-seeing-windows.html
<br>
Image for Windows Task Launcher: http://www.expertreviews.co.uk/software/operating-systems/1403610/how-to-switch-tasks-faster-in-windows-10
<br>
GIF for iOS 9 Task Launcher: https://www.youtube.com/watch?v=WBaAE7o5ia8
<br>
task switching source osx: http://osxdaily.com/2009/11/17/secrets-of-the-command-tab-mac-application-switcher/
</blockquote>
</div>
