---
title: Search
layout: component
contributors:
    - name: Lucas Almeida
      github: lalmeid2

    - name: Mondo Yamaguchi
      github: myamagu1

    - name: Mike McAuley
      github: mpmcauley

    - name: Edward Bachoura
      github: ebachoura

    - name: Simon Wroblewski
      github: simonwro120
---
<head>
  <link rel="stylesheet" href="mystyle.css">
</head>

<div class="text-justify row">
  <p class="col-12 lead">
    Search components are constantly present in computational systems. Generally providing an interface
    for text-based inputs, their main purpose is to help users finding files, programs and other resources
    in an easier way.
  </p>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div>
      <h3>Typical Appearance</h3>
      <p class="text-justify">
        Search components have their style changed from one system to another, but, in a general way, its main idea remains the same. As we  can see in the images below, the search bars are basically composed by a space where users can enter a text-based input and a button they can click to initiate the search:
      </p><br>

      <center><div id="searchBarCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="d-block img-fluid" src="search-bar-1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="search-bar-2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="search-bar-3.jpg" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="search-bar-4.jpg" alt="Fourth slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="search-bar-5.jpg" alt="Fifth slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#searchBarCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true" style="color:black;"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#searchBarCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true" style="color:black;"></span>
          <span class="sr-only">Next</span>
        </a>
      </div></center><br>
    </div>

    <div>
      <h3>Purpose</h3>
      <p class="text-justify">
        Search components allow users to quickly find a value in a large collection and also (depending
        on the search engine) create a filter to facilitate the search and make it more precise.
      </p>
    </div>

    <div>
      <h3>Typical Behavior</h3>
      <p class="text-justify">
        Basically, search components receive an input (the text-based input mentioned before), the user
        presses the search button (generally identified by the picture of a magnifying glass or by the word
        "search") and then, the results of the research are shown.
      </p>
    </div>

    <div>
      <h3>Events</h3>
      <p class="text-justify">
        As search boxes are composed by a text field and a button, the most relevant search events are
        <code>enterText</code>, <code>clear</code> and <code>click</code>. Secondary events include
        <code>dragAndDropText</code>.
      </p>
    </div>

    <div>
      <h3>State Diagram</h3>
      <center><img src="state-diagram.png" class="img-responsive center-block" alt="state-diagram"></center>
      <p class="text-center">
        State Diagram extracted from <a href="https://users.cs.jmu.edu/bernstdh/Web/CS345/h3/index.php">here.</a>
      </p>
    </div>

    <div>
      <h3>Component in Action</h3>
      <img src="search-bar-gif-1.gif" class="img-responsive center-block" alt="search-bar-gif-1"  >
      <p class="text-center">Example extracted from <a href="http://thiagonasc.com/page/2">here.</a></p>
    </div>

    <div>
      <h3>Key Characteristics</h3>
      <p class="text-justify">
        <b><em>What makes a search a "good" search?</em></b> Perhaps consistency is the most important
        interaction design principle that a search must follow. Users must know how to put their
        input in a search the moment they see it. For this reason, a search should have an identical
        icon and layout.
      </p>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <h3>Variants</h3>
    <p class="text-justify">
      Search has variations in its behavior. Despite their very similar appearances, their slight
      behavioral distictions create a big difference in efficiency.
    </p>
    <div>
      <h5>Search on a web browser</h5>
      <p class="text-justify">
        There are two different types of searches on web browsers: an address bar and a search box.
        They behave in the same manner as a typical search box, but an address bar helps improve
        efficiency if users know the exact URL of the site they are looking for. An address bar
        can directly go to a site when users input the site URL.
      </p>
      <img src="searchbox-addressbar.png" class = "img-responsive center-block" ></img>
    </div><br>

    <div>
      <h5>A find bar</h5>
      <p class="text-justify">
        A find bar, the search box that looks for text within a document, has interesting user
        behavioral and interface differences from a search box for web browsers. Users utilize
        this tool to jump to where the word is located, occurs on the page as soon as they start
        typing. It has up and down arrow bottons instead of a search botton. The arrow buttons
        guide users to search for other place the word occurs. A find bar saves users' time in
        finding what they want in the page.
      </p>

      <img src="find-tool.png" class = "img-responsive center-block" ></img>
    </div>
    <div>
      <h5>A system-wide search box and a system-wide search box</h5>
      <p class="text-justify">
        These search boxes look for all the files on a computer. They are simply two different ways
        of initiating searches. Although, some advanced system-wide search boxes such as the spotlight
        in OS X Yosemite searches the web as well.
      </p>

      <img src="download.jpeg" class = "img-responsive center-block" ></img>
    </div><br>

    <div>
      <h3>Priority Metrics</h3>
      <p class="text-justify">
        The usability metrics are essential for search because <em>every single user</em> utilize this component.
        Users have to recognize what to do with a search the moment they see it on any platform and should
        not have any problems (<b>learnability</b>).<br><br>

        All the search components should help improve user performance (<b>efficiency</b>). For instance, users
        invoke a find bar to save time. Therefore, if a search requires multiple clicks or is not instantly
        recognizable, then its design cannot be considered efficient.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="jumbotron">
      <h1 class="display-3">Platform-Specific Instances</h1>
      <p class="lead">
        This is where platform-specific sections go. We will be reviewing the follow systems: OS X from Apple, iOS from Apple,
        Windows RT 8.1 from Microsoft, Linux from Ubuntu, and SteamOS from Valve.
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-success btn-md" role="button" data-toggle="collapse" data-parent="#accordion" href="#yosemite" aria-expanded="false" aria-controls="collapseThree">OS X Yosemite</a>
        <a class="btn btn-info btn-md" role="button" data-toggle="collapse" data-parent="#accordion" href="#windowsrt" aria-expanded="false" aria-controls="collapseThree">Windows RT 8.1</a>
        <a class="btn btn-primary btn-md" role="button" data-toggle="collapse" data-parent="#accordion" href="#ios" aria-expanded="false" aria-controls="collapseThree">iOS</a>
        <a class="btn btn-danger btn-md" role="button" data-toggle="collapse" data-parent="#accordion" href="#ubuntu" aria-expanded="false" aria-controls="collapseThree">Ubuntu</a>
        <a class="btn btn-warning btn-md" role="button" data-toggle="collapse" data-parent="#accordion" href="#steam" aria-expanded="false" aria-controls="collapseThree">Steam OS</a>
      </p>
    </div>

    <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#yosemite" aria-expanded="true" aria-controls="collapseOne">
              OS X Yosemite
            </a>
          </h5>
        </div>

        <div id="yosemite" class="collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-block">
            <h1 class="text-center">OS X Yosemite</h1>
            <div class="panel-body row">
              <div class="col-12">
              <p class="text-justify lead">
                A search bar provides an interface for text-based searches with a text box and buttons
                such as search and cancel. A search bar accepts text from users which can be used as
                input for a search.
              </p>
              <center><img src="search-bar-apple-osx.png"  alt="search-bar-apple-website"></img></center>
              <p class="text-center"><em><sup>Example of the Search Bar</sup></em></p>

              <p class="text-justify">
                According to the Apple's Guidelines, a search bar can display optional elements, such as these:
              </p>
              <p>
                <b><em>Placeholder text:</em></b> The text showed in the element should state the function of
                the control (for example, 'Search' as shown above) or remind users in what context they are
                searching (for example, 'Google') so they can execute their search in a more accurate way.
              </p>

              <p>
                <b><em>The Bookmarks button:</em></b> This button can provide a shortcut to information users
                want to easily find again. For example, the Bookmarks button in the Maps search mode gives
                access to bookmarked locations, recent searches, and contacts.
              </p>
              <center><img src="search-bar-apple-osx-2.png"  alt="search-bar-apple-website-2"></img></center>
              <p class="text-center"><em><sup>Example of the Bookmark button</sup></em></p>

              <p>
                <b><em>The Clear button:</em></b> Most search bars include a Clear button which allows users
                to clear the contents in the text space in a single step. The button shows up when the user
                enters an input and hides when there is no text in the text field.
              </p>
              <center><img src="search-bar-apple-osx-3.png"  alt="search-bar-apple-website-3"></img></center>
              <p class="text-center"><em><sup>Example of the Clear button</sup></em></p>

              <p>
                <b><em>The results list icon:</em></b> This icon indicates the presence of results from a
                search done by the user. When users tap the results list icon, an application can display
                the results of their most recent search.
              </p>

              <center><img src="search-bar-apple-osx-4.png" alt="search-bar-apple-website-4"></img></center>
              <p class="text-center"><em><sup>Example of the results list icon</sup></em></p>

              <p>
                <b><em>A prompt:</em></b> A descriptive title (prompt) can be placed above the search bar. A
                prompt is a short, complete sentence that provides an introduction or an specific information
                for the search bar.
              </p>
              <center><img src="search-bar-apple-osx-5.png" alt="search-bar-apple-website-5"></img></center>
              <p class="text-center"><em><sup>Example of the prompt feature</sup></em></p>

              <h3>Apple's Spotlight</h3>
              <p class="text-justify">
                Spotlight is a resource provided by Apple that helps users quickly find anything on MacBook,
                including documents, emails, apps, songs, contacts, and more. Spotlight also provides suggestions
                (Spotlight Suggestions) from various sources (Wikipedia, Bing, Maps, news, and iTunes) so the
                user can have a complete set of information without leaving the app. Search results are composed by
                rich and interactive previews so the user can play song previews, get directions, send email, make
                phone calls, and more, directly from the results.
              </p>
              <center><img src="spotlight-1.png" alt="spotlight-1"></img></center>
              <p class="text-center"><em><sup>Spotlight initial screen</sup></em></p>

              <p class="text-justify">
                The Spotlight menubar item is located near the upper-right corner of the screen, next to the
                Notification Center icon while its window appears in the upper-middle of the screen.
              </p>
              <img src="spotlight-2.png"  class="img-responsive center-block" alt="spotlight-2"></img>
              <p class="text-center"><em><sup>Localization of the menubar item and the Notification Center</sup></em></p>

              <p class="text-justify">
                In Yosemite, Spotlight’s search results may show up in two different ways: immediate and
                detailed. As you begin to type, the word will be automatically completed according to what
                Spotlight guesses you are searching for. As an example, when you begin typing the word keynote,
                the application will complete the word in light-gray characters; to launch the application
                just press 'Enter'.
              </p>
              <img src="spotlight-3.png"  class="img-responsive center-block" alt="spotlight-3"></img>
              <p class="text-center"><em><sup>Example of the immediate search result</sup></em></p>

              <p class="text-justify">
                The detailed way shows up right after the immediate one and it is on this mode that Spotlight
                shows the matches found in the system (including documents, emails, apps, songs, contacts,
                and more).\
              </p>
              <img src="spotlight-4.png"  class="img-responsive center-block" alt="spotlight-4"></img>
              <p class="text-center"><em><sup>Example of the detailed search result</sup></em></p>

              <p class="text-justify">
                It is also possible to have a more complete description of the items showed by Spotlight.
                Selecting one of the options on the left side, the right side of the application will show
                the item in detail.
              </p>
              <img src="spotlight-5.png"  class="img-responsive center-block" alt="spotlight-5"></img>
              <p class="text-center"><em><sup>Example of an item showed in detail</sup></em></p>

              <p class="text-justify">
                Apple's website offers a tutorial to narrow down search results. When searching in Spotlight
                or the Finder, it is possible to add criteria to a basic search, perform Boolean queries,
                and search items’ metadata. This information can be found
                <a href="https://support.apple.com/kb/PH18758?locale=pt_BR&viewlocale=en_US">here</a>, also
                with a step-by-step on how to use Spotlight.
              </p>

              <h3>Variants</h3>
              <p class="text-justify">
                Some variants for searching in OS X Yosemite are: the search field in the web browser (in
                this case, Safari) and the search field inside text documents. Both follow the same
                characteristics mentioned above.<br><br>For the web browser:
              </p>

              <img src="search-bar-apple-osx-6.png"  class="img-responsive center-block" alt="search-bar-apple-website-6"></img>
              <p class="text-center"><em><sup>Search bar in a web browser (Safari)</sup></em></p>

              <img src="search-bar-apple-osx-7.png"  class="img-responsive center-block" alt="search-bar-apple-website-7"></img>
              <p class="text-center"><em><sup>The idea of showing results from various sources (from Spotlight)</sup></em></p>

              <img src="search-bar-apple-osx-8.png"  class="img-responsive center-block" alt="search-bar-apple-website-8"></img>
              <p class="text-center"><em><sup>By approaching the arrow, the search field completes the URL (the same idea from Spotlight)</sup></em></p>

              <p class="text-justify">For the search field inside documents:</p>

              <img src="search-bar-apple-osx-9.png"  class="img-responsive center-block" alt="search-bar-apple-website-9"></img>
              <p class="text-center"><em><sup>Search bar inside the application for reading text documents</sup></em></p>

              <img src="search-bar-apple-osx-10.png"  class="img-responsive center-block" alt="search-bar-apple-website-10"></img>
              <p class="text-center"><em><sup>Results of the search</sup></em></p>

              <h3>Priority Metrics</h3>
              <p class="text-justify">
                As said before, the usability metrics are essential for search because there are users that deal
                with this feature. Learnability, as shown, is an important metric when talking about search components;
                users should recognize the elements that compose the search box and know what to do.<br><br>
                Also, all the search components should help improve users' performances (efficiency) and turn the
                search experience as profitable as possible. That is what Apple's search functions try to do; provide
                the user with a complete environment that helps to find things faster and in a more accurate way.
              </p>

              <h3>Key Characteristics - <em>Strive for consistency</em></h3>
              <p class="text-justify">
                Maybe consistency is the most important interaction design principle that a search must follow.
                Users must know what to do when facing a search component and, besides, the results shown by the
                search process must be accurate and consistant too.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#windowsrt" aria-expanded="false" aria-controls="collapseTwo">
              Windows RT 8.1
            </a>
          </h5>
        </div>

        <div id="windowsrt" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-block">
            <h1 class="text-center">Windows RT 8.1</h1>
            <div class="panel-body row">
              <div class="col-12">
              <p class="text-justify lead">
                Search is a graphical control element, which users utilize within many apps. Despite their similar appearances, they provide a wide range of results such as web, device searches, a user's contact list, etc...
                Generally, all the search bars typically look like this.
              </p>
              <center><img src="search-bar-windows.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img></center>
              <p class="text-center"><em><sup>Example of the Search box</sup></em></p>

              <p class="text-justify">
                Search behaviors differ depending on the purpose of the search, such as these:
              </p>
              <p>
                <b><em>Zero Input Canvas:</em></b> Windows RT 8.1 displays a "zero input canvas" before the user enters text in a search. It usually appears in the app canvas and shows recent search history, trending searches, and hints.
              </p>
              <center><img src="zero-input-canvas.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img></center>
              <p class="text-center"><em><sup>Example of the zero input canvas</sup></em></p>

              <p>
                <b><em>Auto-suggest:</em></b> Once the user starts typing, auto-suggest replaces "zero input canvas." It continuously updates suggestions or hints to improve efficiency of the input process as the user types.
              </p>
              <center><img src="auto-suggest.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img></center>
              <p class="text-center"><em><sup>Example of Auto-suggest</sup></em></p>

              <p>
                Here is an example of some of the search components in action:
              </p>
              <center><img src="conponent-in-action.gif" class="img-responsive center-block" alt="search-bar-gif-1"></center>
              <p class="text-center"><em><sup>Example gif extracted from <a href="http://thiagonasc.com/page/2">http://helixbing.blob.core.windows.net</a></em>
              </p>

              <h3>Variants</h3>
              <p class="text-justify">
                Various examples of types of searches of Windows RT 8.1:
              </p>
              

                <img src="windows-tool-bar-search.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img>
                    <p class="text-center"><em><sup>A tool bar search</sup></em></p>

                    <img src="app-canvas-search.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img>
                    <p class="text-center"><em><sup>Search in the app canvas</sup></em></p>

                    <img src="navigation-pane.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img>
                    <p class="text-center"><em><sup>Search in a navigation pane</sup></em></p>

                    <img src="Inline-search.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img>
                    <p class="text-center"><em><sup>Inline search</sup></em></p>


                    <h4>Priority Metrics</h4>

                  <p class="text-justify">
                  The priority metrics of search remains the same as a general seach for Windows RT 8.1.
                </p>

                <h4>Key Characteristics</h4>

                  <p class="text-justify">
                  Having a search field as the search entry point is necessary because it provides notable footprint.
                </p>

                <img src="abc.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img>
                    <p class="text-center"><em><sup>Before clicking</sup></em></p>
                    <img src="def.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img>
                    <p class="text-center"><em><sup>After clicking</sup></em></p>

                  </div>
              </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ios" aria-expanded="false" aria-controls="collapseTwo">
              iOS
            </a>
          </h5>
        </div>
        <div id="ios" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-block">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title text-center">iOS 10</h3>
                  </div>

                  <div class="panel-body">
                    <h4>General Idea</h4>
                    <p class="text-justify">
                    Search is a graphical element of a user interface that allows users to sift
                    and sort through a specified range of information. For example, on iOS 10 search will help a user sift through Contacts, Apps, websites, etc. <p><p>
                    </p>

                  <h4>Typical Appearence</h4>
                  <p class = "text-justify">
                    Typically for all Apple products, the search component remains the same across the platforms.
                    So the example below for the iPhone platform is identical to OS X Yosemite because designers want to keep consistancy across platforms.
                  </p>
                  <h4>Purpose</h4>
                  <p class="text-justify">
                    The purpose of search remains basically the same cross platform for Apple products as well as for other software.
                  </p>

                  <h4>Typical Behavior</h4>
                  <p class="text-justify">
                    The typical behavior for iOS 10 remains the same, in that it takes an input,
                    the user presses the search button and the search results are shown.
                  </p>

                  <h4>Apple's Siri (Special Variant)</h4>
                  <p class="text-justify">
                    Much like Apple's Spotlight for the laptop/computer platform. IOS 10 provides a very unique search engine in Siri. Siri is Apple's built-in "intelligent assistant" which users can utilize voice commands to operate their mobile devices or, in the lense we are looking, search their mobile device and/or the internet. Also like Spotlight, Siri provides suggestions from the search commands given to "her" which are taken from sources like Google, Wikipedia, ect.
                  </p>

                  <div id="search-bars-examples" class="carousel slide" data-ride="carousel">

                     <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#siri_examples" data-slide-to="0" class="active"></li>
                      <li data-target="#siri_examples" data-slide-to="1"></li>
                    </ol>

                    <div class="carousel-inner" role="listbox">

                      <div class="item active">
                          <img src="siri.png" width= "50%" height= "50%" class="img-responsive center-block" alt="siri">
                          <div class="carousel-caption">
                            <p>Speak Button</p>
                          </div>
                      </div>

                      <div class="item">
                        <img src="siri2.png" width= "50%" height= "50%" class="img-responsive center-block" alt="siri">
                        <div class="carousel-caption">
                            <p>Suggestions</p>
                          </div>
                      </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#siri-examples" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                    <a class="right carousel-control" href="#siri-examples" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                  <p class= "text-justify">
                    The interesting part about Siri, is that "she" can function as a search however because of the voice command, Siri represents a drastic variant because there is no search bar, but rather a microphone button in which it graphically displays the noise being made.
                    When the user speaks, their search input shows up as text, and the search results show up once the user stops speaking.
                  </p>
                  <div id="search-bars-examples" class="carousel slide" data-ride="carousel">

                     <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#siri_examples" data-slide-to="0" class="active"></li>
                      <li data-target="#siri_examples" data-slide-to="1"></li>
                    </ol>

                    <div class="carousel-inner" role="listbox">

                      <div class="item active">
                          <img src="siri_search_1.png" width= "50%" height= "50%" class="img-responsive center-block" alt="siri_search_1">
                          <div class="carousel-caption">
                            <p>Spoken Search Example</p>
                          </div>
                      </div>

                      <div class="item">
                        <img src="siri_search_2.png" width= "50%" height= "50%" class="img-responsive center-block" alt="siri_search_2">
                        <div class="carousel-caption">
                            <p>Spoken Search Example</p>
                          </div>
                      </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#siri-examples" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#siri-examples" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                  <p class="text-justify">
                    After the search, the user is able to click the now available text bar in order to edit the search text (as shown below). This is where Siri becomes a more classic search component.
                  </p>

                  <img src="siri_search_3.png" width="50%" height="50%" class="img-responsive center-block" alt="siri_search_3"></img>
                    <p class="text-center"><em><sup>Siri Text Box Component</sup></em></p>

                  <p>
                    Having Siri as an "intelligent assistant" for the iPhone platform allows for a new approach towards effeicency when it comes to operating an iPhone and search both one's device and the internet. For example, if you were to give the voice command "SnapChat", then your SnapChat app will open because Siri reconized the command, searched through your apps and chose SnapChat. "She" represents a new variant to the search component which does not necissarily follow the classic User Interaction of the search component.
                  </p>

                  <h4>Component In Action (Siri Search)</h4>
                  <p>
                    <img src="siri_gif.gif" class="img-responsive center-block" alt="siri_gif">
                    <p class="text-center">Example extracted from <em><a href="http://giphy.com/gifs/forum">http://thiagonasc.com/page/2</a></em></p>
                  </p>


                  <h4>Priority Metrics</h4>
                  <p class="text-justify">
                    Consistency and Lear
                  </p>
                  <ul class="text-justify">
                    As previously mentioned, the usibility metrics for the search components do not change. The main ones are effiecncy and learnabilty. A search bar must be recognizable to users so they know what to do when they see it (learnability). This is why for Apple products they keep it the same across all platforms. The search component must stress efficiency becuase the is the main point of the search, it to find information as fast as possible.
                  </ul>

                  <h4>Key Components</h4>
                  <p class="text-justify">
                    What makes a search a "good" search?
                  </p>
                  <h5>Consistency and Efficiency</h5>
                  <ul class="text-justify">
                    Consistency is obviously number one in making a search component "good". And if we use Apple products as an example, they do well in keeping the search component consistent. Efficiency is the next key component, because that is the point of the search; to find information fast. However, in the example of Siri, consistency was devalued below efficiency, even though it is usually consistency which is held to the highest standard with search components. So when asking what makes a search "good"; both consitency and efficieny must be in the answer.
                  </ul>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ubuntu" aria-expanded="false" aria-controls="collapseThree">
              Ubuntu
            </a>
          </h5>
        </div>

        <div id="ubuntu" class="collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="card-block">
            <div class="container">
              <h1 class="text-center">Ubuntu</h1>
              <p class="text-justify lead">
                When looking at platform-specific instances of <em>Search</em> on Ubuntu, we find that all instances lie
                within category of application and file searching. We will be looking at three of Ubuntu's search capabilties
                (Search your computer, Files search, and Nautilus desktop search) and how they are different from their
                Windows and OS X alternatives.
              </p>
            </div>

            <div class="container">
              <h3>Search your computer</h3>
              <p class="text-justify">
                We have already looked at OS X's <em>Spotlight Search</em> and Window's Equivalent <em>Taskbar Search</em> and
                all of their features, and although Ubuntu's <em>Search your computer</em> is missing some features that both
                Window's and OS X offer, it is generally the same tool. You can use it to search within your own computer for
                anything and access it in the fastest way possible. You use the <em>Windows Button</em> to easily access this
                tool and then instantly start to type the name of anything you are looking for and click enter to load it up.<br><br>
                One key differences between the three version of the tool is that they all different placements of the tool. For
                example, Windows has decided that the best place for the tool is the bottom left, and now every Windows' user
                has become comfortable with that placement. OS X on the other hand decided that it should be a popover and
                that it should be in the middle of the screen. Ubuntu is also unique it their approach. They are the only one
                that decided that the tool should be fullscreen. When you open <em>Search your computer</em> it opens up a window
                that covers the entire screen.
              </p>
              <div id="ubuntuFinderVariations" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#ubuntuFinderVariations" data-slide-to="0" class="active"></li>
                  <li data-target="#ubuntuFinderVariations" data-slide-to="1"></li>
                  <li data-target="#ubuntuFinderVariations" data-slide-to="2"></li>
                  <li data-target="#ubuntuFinderVariations" data-slide-to="3"></li>
                  <li data-target="#ubuntuFinderVariations" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img class="d-block img-fluid" src="ubuntu/searchcomputer.png" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="ubuntu/searchcomputer-applications.png" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="ubuntu/searchcomputer-files.png" alt="Third slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="ubuntu/searchcomputer-music.png" alt="Fourth slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="ubuntu/searchcomputer-photos.png" alt="Fifth slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#ubuntuFinderVariations" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#ubuntuFinderVariations" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <p class="text-center"><em><sup>Search your Computer Tool</sup></em></p>
              <p class="text-justify">
                As you can see in the slideshow above, there are five different types of search within the <em>Search your
                computer</em> tool: <b>General Search, Application Search, Files and Folders Search, Music Search, and Photo
                Search</b>.<br><br>The <b>General Search</b> encompasses all of the other options and shows them together on
                one page. For example, if one were to type the query <em>"Ubuntu"</em>, the general tool is able to search
                the entire computer and display the results as follows:
              </p>
              <center><img src="ubuntu/searchcomputer-query-ubuntu.png" alt="Using the General Search Tool to search for Ubuntu"></center>
              <p class="text-center"><em><sup>Using the General Search Tool to search for Ubuntu</sup></em></p>
              <p class="text-justify">
                As you can see, with the query <em>"Ubuntu"</em> the General Search Tool has split the search results into
                Applications and Files & Folders, and we are able to see all of these results on one page. You can then
                select whichever application/file that you were intending to find, and you will be sent there.<br><br> In
                this example, I am using a fresh Virtual Machine and therefore don't have much of a problem finding anything when
                there are only ten items to choose from, but let's pretend that we were searching for a file from your
                class <em>"Biological Databases"</em> and you don't exactly remember what you named it. If one hundred files were
                displayed after the search, you could use the <b><em>filter</em></b> tool to slim down the search results, and make
                it a bit easier to find the file you are looking for.
              </p>
              <center><img src="ubuntu/searchcomputer-query-ubuntu-filter.png" alt="Closeup of Filter Options within General Search Tool"></center>
              <p class="text-center"><em><sup>Closeup of Filter Options within General Search Tool</sup></em></p>
              <p class="text-justify">
                As you can see, their filter tool comes with options beyond the five categories that are listed above. For example,
                you could restrict the search to look for only files that are <em>code</em> related. This is a very handy tool for developers,
                because you can search a folder and then click the code filter and it will show all the code within that folder. There is
                also an option to filter by source. The filter bar lists possible sources of the file. This means you can restrict the
                search space to files that you worked on in a specific application.<br><br>This tool is the fastest way to search and access
                anything within your computer. You would be constantly using it to run applications, find and open files, and search for media.
                Unlike it's Windows and OS X counterparts, Ubuntu's <em>Search you computer</em> tool is unable to search the internet or
                perform calculations. Regardless, it is a very intuitive and helpful tool to use.
              </p>
            </div>

            <div class="container">
              <h3>Files Search</h3>
              <p class="text-justify">
                Although you could, and would, use the <em>Search your computer</em> tool to find files in the fastest manner, Ubuntu
                still offers the traditional method of locating files through the <b>File Manager</b>. Once you have the File Manager
                open, you can use the Search icon to lower a search bar which allows you to search for files within the current
                directory. Their <em>File Manager</em> is the same as Windows and OS X with very subtle differences, most of which
                pertain to stylistic choices. All three operating systems' <em>File Manager</em> do the same thing.
              </p>
              <center><img src="ubuntu/filesearch.png" alt="File Manager Search Activated"></center>
              <p class="text-center"><em><sup>File Manager Search Activated</sup></em></p>

              <p class="text-justify">
                With the search bar open, you are able to type anything to search for it within your directory, but once again, if you
                have hundreds of files to search through and there are a lot that match the query, Ubuntu offers a filter here also.
                You are able to filter your query to search for <b>files</b> specifically (i.e. filter out any executables or applications)
                and then filter even more by selecting a period of time. This period of time, for example <em>1 day ago</em>, would filter
                the search to files that were created within the past day.
              </p>
              <center><img src="ubuntu/filesearch-filter.png" alt="File Manager Search with Filter"></center>
              <p class="text-center"><em><sup>File Manager Search with Filter</sup></em></p>
            </div>

            <div class="container">
              <h3>Desktop Search</h3>
              <p class="text-justify">
                The last platform-specific instance of search within Ubuntu is their <b>Desktop Search</b> which allows you to
                search and open any application, file, or folder just by typing the name and clicking enter. You do not have
                type in any shortcut to get to this option. Once you are on the desktop, you just start typing and the textbox
                pops up and begins matching your search to anything on the desktop, as shown by the slideshow below.
              </p>
              <div id="ubuntuDesktopSearch" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#ubuntuDesktopSearch" data-slide-to="0" class="active"></li>
                  <li data-target="#ubuntuDesktopSearch" data-slide-to="1"></li>
                  <li data-target="#ubuntuDesktopSearch" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img class="d-block img-fluid" src="ubuntu/desktopsearch-nautilus.png" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="ubuntu/desktopsearch-nautilus-query-terminal.png" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="ubuntu/desktopsearch-nautilus-open-terminal.png" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#ubuntuDesktopSearch" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#ubuntuDesktopSearch" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <p class="text-justify">
                Although Windows and OS X have a similar feature, but it seems that Ubuntu has the best version of this feature.
                Ubuntu's version of <em>Desktop Search</em> is the only one that has the search box that open's up and makes
                it much easier to track what you are searching for. On the other hand, for the Windows' version, I have never truly
                used the feature becuase you can type to search and open an application, but you have no idea what you are searching
                for because they are missing the text box that Ubuntu has.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#steam" aria-expanded="false" aria-controls="collapseThree">
              Steam OS
            </a>
          </h5>
        </div>
        <div id="steam" class="collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="card-block">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="padding-top:20px;">
  <div class="col-12">
    <h3>Credits &amp; References</h3>
    <p>
      <p>Search bar images (carousel): <em><a href="http://www.webdesigndev.com/20-amaaazing-psd-search-boxes/">http://www.webdesigndev.com/ 20-amaaazing-psd-search-boxes/</a></em></p>
      <p>Search bar animation (Component in Action): <em><a href="http://thiagonasc.com/page/2">http://thiagonasc.com/page/2</a></em></p>
      <p>State diagram: <em><a href="https://users.cs.jmu.edu/bernstdh/Web/CS345/h3/index.php">https://users.cs.jmu.edu/ bernstdh/Web/CS345/h3/index.php</a></em></p>
      <p>Search Introduction: <em><a href="http://guidelines.usability.gov/chapters/17/introduction">http://guidelines.usability.gov/ chapters/17/introduction</a></em></p>
      <p>Apple Guidelines (Search): <em><a href="https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/MobileHIG/Bars.html#//apple_ref/doc/uid/TP40006556-CH12-SW1">https://developer.apple.com/ library/ios/documentation/UserExperience/Conceptual/MobileHIG/ Bars.html#//apple_ref/doc/uid/ TP40006556-CH12-SW1</a></em></p>
      <p>Spotlight Analysis: <em><a href="http://www.macworld.com/article/2369722/hands-on-with-os-x-yosemite-spotlight-takes-center-stage.html">http://www.macworld.com/ article/2369722/hands-on-with-os-x-yosemite- spotlight-takes-center-stage.html</a></em></p>
      <p>Narrow down search results: <em><a href="ttps://support.apple.com/kb/PH18758?locale=pt_BR&viewlocale=en_US">https://support.apple.com/ kb/PH18758?locale=pt_BR&viewlocale=en_US</a></em></p>
      <p>Step-by-step on how to use Spotlight: <em><a href="https://support.apple.com/kb/PH18828?viewlocale=en_US&locale=en_US">https://support.apple.com/ kb/PH18828?viewlocale=en_US&locale=en_US</a></em></p>
      <p>An address bar & a search box image: <em><a href="http://i0.wp.com/tech-and-teaching.com/wp-content/uploads/2012/11/searchbox-addressbar.png?zoom=2&resize=300%2C196">http://i0.wp.com/ tech-and-teaching.com/wp-content/uploads/2012/11/searchbox-addressbar.png? zoom=2&resize=300%2C196</a></em></p>
      <p>A system-wide search box & a system-wide search box image: <em><a href="http://i.kinja-img.com/gawker-media/image/upload/s--35kCRGJS--/18fbqvoxoyo5bpng.png">http://i.kinja-img.com/ gawker-media/image/upload/s--35kCRGJS--/ 18fbqvoxoyo5bpng.png</a></em></p>
      <p>A system-wide search box & a system-wide search box image: <em><a href="http://winsupersite.com/site-files/winsupersite.com/files/uploads/2013/04/apps-view.jpg">http://winsupersite.com/ site-files/winsupersite.com/files/uploads/2013/04/apps-view.jpg</a></em></p>
      <p>Variants images: <em><a href="https://msdn.microsoft.com/en-us/library/windows/apps/hh465233.aspx">https://msdn.microsoft.com/ en-us/library/windows/apps/hh465233.aspx</a></em></p>
      <p>Windows Guidelines (Search): <em><a href="https://msdn.microsoft.com/en-us/library/windows/apps/hh465233.aspx">https://msdn.microsoft.com/ en-us/library/windows/apps/hh465233.aspx</a></em></p>
    </p>
  </div>
</div>
