---
title: Search
layout: component
contributors:
    - name: Lucas Almeida
      github: lalmeid2

    - name: Mondo Yamaguchi
      github: myamagu1

    - name: Mike McAuley
      github: mpmcauley
---

<blockquote class="text-justify">Search components are constantly present in computational systems. Generally providing an interface for text-based inputs, their main purpose is to help users finding files, programs and other resources in an easier way.
</blockquote>

<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
  
    <h3>Typical Appearance</h3>

    <blockquote class="text-justify">Search components have their style changed from one system to another, but, in a general way, its main idea remains the same. As we  can see in the images below, the search bars are basically composed by a space where users can enter a text-based input and a button they can click to initiate the search:
    </blockquote>
  
  
      <div id="search-bars-examples" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#search-bars-examples" data-slide-to="0" class="active"></li>
          <li data-target="#search-bars-examples" data-slide-to="1"></li>
          <li data-target="#search-bars-examples" data-slide-to="2"></li>
          <li data-target="#search-bars-examples" data-slide-to="3"></li>
          <li data-target="#search-bars-examples" data-slide-to="4"></li>
        </ol>
  
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

          <div class="item active">
              <img src="search-bar-1.jpg" class="img-responsive center-block" alt="search-bar-1">
              <div class="carousel-caption">
                <p>Example 1</p>
              </div>
          </div>
      
          <div class="item">
            <img src="search-bar-2.jpg" class="img-responsive center-block" alt="search-bar-2">
            <div class="carousel-caption">
                <p>Example 2</p>
              </div>
          </div>
      
          <div class="item">
            <img src="search-bar-3.jpg" class="img-responsive center-block" alt="search-bar-3">
              <div class="carousel-caption">
                <p>Example 3</p>
              </div>
          </div>
      
          <div class="item">
              <img src="search-bar-4.jpg" class="img-responsive center-block" alt="search-bar-4">
              <div class="carousel-caption">
                <p>Example 4</p>
              </div>
          </div>
      
          <div class="item">
            <img src="search-bar-5.jpg" class="img-responsive center-block" alt="search-bar-5">
              <div class="carousel-caption">
                <p>Example 5</p>
              </div>
          </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#search-bars-examples" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
        <a class="right carousel-control" href="#search-bars-examples" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

    </div>
  
  <h3>Purpose</h3>
         
        <blockquote class="text-justify">Search components allow users to quickly find a value in a large collection and also (depending on the search engine) create a filter to facilitate the search and make it more precise.</blockquote>
  
  <h3>Typical Behavior</h3>

    <blockquote class="text-justify">Basically, search components receive an input (the text-based input mentioned before), the user presses the search button (generally identified by the picture of a magnifying glass or by the word "search") and then, the results of the research are shown.</blockquote>

    <h4>Events</h4>

      <blockquote class="text-justify">As search boxes are composed by a text field and a button, the most relevant search events are <code>enterText</code>, <code>clear</code> and <code>click</code>. Secondary events include <code>dragAndDropText</code>.</blockquote>

    <h4>State Diagram</h4>

      <blockquote>
        <img src="state-diagram.png" class="img-responsive center-block" alt="state-diagram">
      <p class="text-center">State Diagram extracted from <em><a href="https://users.cs.jmu.edu/bernstdh/Web/CS345/h3/index.php">https://users.cs.jmu.edu/bernstdh/Web/CS345/h3/index.php</a></em></p>
      </blockquote>

    <h4>Component in Action</h4>

      <blockquote>
        <img src="search-bar-gif-1.gif" class="img-responsive center-block" alt="search-bar-gif-1">
      <p class="text-center">Example extracted from <em><a href="http://thiagonasc.com/page/2">http://thiagonasc.com/page/2</a></em></p>
      </blockquote>
    
    </div>
  
    <div class="col-md-6 col-sm-6 col-xs-12">
    <h3>Variants</h3>

    <blockquote class="text-justify">Search has variations in its behavior. Despite their very similar appearances, their slight behavioral distictions create a big difference in efficiency.
    </blockquote>

    <ul class="text-justify">
        <li><em>Search on a web browser:</em> There are two different types of searches on web browsers: an address bar and a search box. They behave in the same manner as a typical search box, but an address bar helps improve efficiency if users know the exact URL of the site they are looking for. An address bar can directly go to a site when users input the site URL.
        <p><p>
        </li>

        <img src="searchbox-addressbar.png" class = "img-responsive center-block"></img>
            <p class="text-center"><em>An address bar and a search box</em></p>

        <li><em>A find bar:</em> A find bar, the search box that looks for text within a document, has interesting user behavioral and interface differences from a search box for web browsers. Users utilize this tool to jump to where the word is located, occurs on the page as soon as they start typing. It has up and down arrow bottons instead of a search botton. The arrow buttons guide users to search for other place the word occurs. A find bar saves users' time in finding what they want in the page.<p><p>   
        </li>

        <img src="find-tool.jpg" class = "img-responsive center-block"></img>
            <p class="text-center"><em>A find bar</em></p>

            <li>A system-wide search box and a system-wide search box: These search boxes look for all the files on a computer. They are simply two different ways of initiating searches. Although, some advanced system-wide search boxes such as the spotlight in OS X Yosemite searches the web as well.<p><p>   
        </li>

        <img src="download.jpeg" class = "img-responsive center-block"></img>
            <p class="text-center"><em>A system-wide search box &amp; a system-wide search box</em></p>

      </ul>

      <h3>Priority Metrics</h3>

        <blockquote class="text-justify">
          The usability metrics in relation to Search.
      </blockquote>

      <ul class="text-justify">
          The usability metrics are essential for search because every single user utilize this component. Users have to recognize what to do with a search the moment they see it on any platform and should not have any problems (learnability). <p><p>

          All the search components should help improve user performance (efficiency). For instance, users invoke a find bar to save time. Therefore, if a search requires multiple clicks or is not instantly recognizable, then its design cannot be considered efficient.    
        </ul>

      <h3>Key Characteristics</h3>

      <blockquote class="text-justify">
        What makes a search a "good" search?
    </blockquote>

    <h4>Strive for consistency</h4>
        <ul class="text-justify">
          Perhaps consistency is the most important interaction design principle that a search must follow. Users must know how to put their input in a search the moment they see it. For this reason, a search should have an identical icon and layout.  
        </ul>

  </div>

<div class="col-md-12 col-sm-12 col-xs-12">
<h3>Platform-Specific Instances</h3>

  <blockquote>
    <p class="text-justify">This is where platform-specific sections go. The systems presented below are the OS X from Apple and Windows RT 8.1 from Microsoft.</p>
  </blockquote>

  <div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title text-center">OS X Yosemite</h3>        
          </div>
        <div class="panel-body">
      
            <h4>General Idea</h4>
              <blockquote class="text-justify">A search bar provides an interface for text-based searches with a text box and buttons such as search and cancel. A search bar accepts text from users which can be used as input for a search.<p><p>
      
              <img src="search-bar-apple-osx.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img>
              <p class="text-center"><em><sup>Example of the Search Bar</sup></em></p>

          According to the Apple's Guidelines, a search bar can display optional elements, such as these:<p><p>

                <ul>
                      <li><p><b><em>Placeholder text:</em></b> The text showed in the element should state the function of the control (for example, 'Search' as shown above) or remind users in what context they are searching (for example, 'Google') so they can execute their search in a more accurate way.</p></li><p><p>
              
                      <li><p><b><em>The Bookmarks button:</em></b> This button can provide a shortcut to information users want to easily find again. For example, the Bookmarks button in the Maps search mode gives access to bookmarked locations, recent searches, and contacts.</p></li><p><p>
              
                      <img src="search-bar-apple-osx-2.png"  class="img-responsive center-block" alt="search-bar-apple-website-2"></img>
                      <p class="text-center"><em><sup>Example of the Bookmark button</sup></em></p>
              
                      <li><p><b><em>The Clear button:</em></b> Most search bars include a Clear button which allows users to clear the contents in the text space in a single step. The button shows up when the user enters an input and hides when there is no text in the text field.</p></li><p><p>
              
                      <img src="search-bar-apple-osx-3.png"  class="img-responsive center-block" alt="search-bar-apple-website-3"></img>
                      <p class="text-center"><em><sup>Example of the Clear button</sup></em></p>
              
                      <li><p><b><em>The results list icon:</em></b> This icon indicates the presence of results from a search done by the user. When users tap the results list icon, an application can display the results of their most recent search.</p></li><p><p>
               
                      <img src="search-bar-apple-osx-4.png"  class="img-responsive center-block" alt="search-bar-apple-website-4"></img>
                      <p class="text-center"><em><sup>Example of the results list icon</sup></em></p>
               
                      <li><p><b><em>A prompt:</em></b> A descriptive title (prompt) can be placed above the search bar. A prompt is a short, complete sentence that provides an introduction or an specific information for the search bar.</p></li><p><p>
               
                      <img src="search-bar-apple-osx-5.png"  class="img-responsive center-block" alt="search-bar-apple-website-5"></img>
                      <p class="text-center"><em><sup>Example of the prompt feature</sup></em></p>
               
                </ul>
              </blockquote>

            <h4>Apple's Spotlight</h4>
              <blockquote class="text-justify">Spotlight is a resource provided by Apple that helps users quickly find anything on MacBook, including documents, emails, apps, songs, contacts, and more. Spotlight also provides suggestions (Spotlight Suggestions) from various sources (Wikipedia, Bing, Maps, news, and iTunes) so the user can have a complete set of information without leaving the app. Search results are composed by rich and interactive previews so the user can play song previews, get directions, send email, make phone calls, and more, directly from the results.<p></p>

              <img src="spotlight-1.png"  class="img-responsive center-block" alt="spotlight-1"></img>
                  <p class="text-center"><em><sup>Spotlight initial screen</sup></em></p>

                  The Spotlight menubar item is located near the upper-right corner of the screen, next to the Notification Center icon while its window appears in the upper-middle of the screen.<p></p>

                  <img src="spotlight-2.png"  class="img-responsive center-block" alt="spotlight-2"></img>
                  <p class="text-center"><em><sup>Localization of the menubar item and the Notification Center</sup></em></p>

                  In Yosemite, Spotlight’s search results may show up in two different ways: immediate and detailed. As you begin to type, the word will be automatically completed according to what Spotlight guesses you are searching for. As an example, when you begin typing the word keynote, the application will complete the word in light-gray characters; to launch the application just press 'Enter'.<p></p>

                  <img src="spotlight-3.png"  class="img-responsive center-block" alt="spotlight-3"></img>
                  <p class="text-center"><em><sup>Example of the immediate search result</sup></em></p>

                  The detailed way shows up right after the immediate one and it is on this mode that Spotlight shows the matches found in the system (including documents, emails, apps, songs, contacts, and more).<p></p>

                  <img src="spotlight-4.png"  class="img-responsive center-block" alt="spotlight-4"></img>
                  <p class="text-center"><em><sup>Example of the detailed search result</sup></em></p>

                  It is also possible to have a more complete description of the items showed by Spotlight. Selecting one of the options on the left side, the right side of the application will show the item in detail.<p></p>

                  <img src="spotlight-5.png"  class="img-responsive center-block" alt="spotlight-5"></img>
                  <p class="text-center"><em><sup>Example of an item showed in detail</sup></em></p>

                  Apple's website offers a tutorial to narrow down search results. When searching in Spotlight or the Finder, it is possible to add criteria to a basic search, perform Boolean queries, and search items’ metadata. This information can be found in <a href="https://support.apple.com/kb/PH18758?locale=pt_BR&viewlocale=en_US"><em>https://support.apple.com/kb/PH18758?locale=pt_BR&amp;viewlocale=en_US</em></a>. The website also provides a step-by-step on how to use Spotlight: <a href="https://support.apple.com/kb/PH18828?locale=pt_BR&viewlocale=en_US"><em>https://support.apple.com/kb/PH18828?locale=pt_BR&amp;viewlocale=en_US</em></a>

              </blockquote>

            <h4>Variants</h4>
              <blockquote class="text-justify">
              Some variants for searching in OS X Yosemite are: the search field in the web browser (in this case, Safari) and the search field inside text documents. Both follow the same characteristics mentioned above.<p></p>
              For the web browser:<p></p>

              <img src="search-bar-apple-osx-6.png"  class="img-responsive center-block" alt="search-bar-apple-website-6"></img>
                  <p class="text-center"><em><sup>Search bar in a web browser (Safari)</sup></em></p>

                  <img src="search-bar-apple-osx-7.png"  class="img-responsive center-block" alt="search-bar-apple-website-7"></img>
                  <p class="text-center"><em><sup>The idea of showing results from various sources (from Spotlight)</sup></em></p>

                  <img src="search-bar-apple-osx-8.png"  class="img-responsive center-block" alt="search-bar-apple-website-8"></img>
                  <p class="text-center"><em><sup>By approaching the arrow, the search field completes the URL (the same idea from Spotlight)</sup></em></p>

                  For the search field inside documents:<p></p>

                  <img src="search-bar-apple-osx-9.png"  class="img-responsive center-block" alt="search-bar-apple-website-9"></img>
                  <p class="text-center"><em><sup>Search bar inside the application for reading text documents</sup></em></p>

                  <img src="search-bar-apple-osx-10.png"  class="img-responsive center-block" alt="search-bar-apple-website-10"></img>
                  <p class="text-center"><em><sup>Results of the search</sup></em></p>

              </blockquote>

            <h4>Priority Metrics</h4>

            <blockquote class="text-justify">
            As said before, the usability metrics are essential for search because there are users that deal with this feature. Learnability, as shown, is an important metric when talking about search components; users should recognize the elements that compose the search box and know what to do. <p><p>

            Also, all the search components should help improve users' performances (efficiency) and turn the search experience as profitable as possible. That is what Apple's search functions try to do; provide the user with a complete environment that helps to find things faster and in a more accurate way.   
            </blockquote>

          <h4>Key Characteristics</h4>

            <blockquote class="text-justify">
              <h4>Strive for consistency</h4>
            
              Maybe consistency is the most important interaction design principle that a search must follow. Users must know what to do when facing a search component and, besides, the results shown by the search process must be accurate and consistant too.  
            
            </blockquote>


          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Windows RT 8.1</h3>
            </div>

            <div class="panel-body">
              <h4>General Idea</h4>
              <blockquote class="text-justify">Search is a graphical control element, which users utilize within many apps. Despite their similar appearances, they provide a wide range of results such as web, device searches, a user's contact list, etc.<p><p>
              </blockquote>

              <h4>Typical Appearance</h4>

          <blockquote class="text-justify">
          In general, all the searches look identical to each other.
          </blockquote>

          <img src="search-bar-windows.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img>
              <p class="text-center"><em><sup>Example of the Search box</sup></em></p>

              <h4>Purpose</h4>

          <blockquote class="text-justify">
          The purpose of the search remains the same as a general seach for Windows RT 8.1.
          </blockquote>

              <h4>Typical Behavior</h4>

          <blockquote class="text-justify">
          Search behaviors differ depending on the purpose of the search. 
          </blockquote>

            <ul>
                  <li><p><b><em>"zero input canvas":</em></b> Windows RT 8.1 displays a "zero input canvas" before the user enters text in a search. It usually appears in the app canvas and shows recent search history, trending searches, and hints.</p></li><p><p>
                </ul>

                <img src="zero-input-canvas.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img>
              <p class="text-center"><em><sup>"zero input canvas"</sup></em></p>

              <ul>
                  <li><p><b><em>Auto-suggest:</em></b> Once the user starts typing, auto-suggest replaces "zero input canvas." It continuously updates suggestions or hints to improve efficiency of the input process as the user types.</p></li><p><p>
                </ul>

                <img src="auto-suggest.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img>
              <p class="text-center"><em><sup>Auto-suggest</sup></em></p>

              <h4>Events</h4>

              <blockquote class="text-justify">As search boxes are composed by a text field and a button, the most relevant search events are <code>enterText</code>, <code>clear</code> and <code>click</code>. Secondary events include <code>dragAndDropText</code>.</blockquote>

                <h4>State Diagram</h4>

              <blockquote>
            <img src="state-diagram.png" class="img-responsive center-block" alt="state-diagram">
          <p class="text-center">State Diagram extracted from <em><a href="https://users.cs.jmu.edu/bernstdh/Web/CS345/h3/index.php">https://users.cs.jmu.edu/bernstdh/Web/CS345/h3/index.php</a></em></p>
          </blockquote>


              <h4>Component in Action</h4>

          <blockquote>
            <img src="conponent-in-action.gif" class="img-responsive center-block" alt="search-bar-gif-1">
          <p class="text-center">Example extracted from <em><a href="http://thiagonasc.com/page/2">http://helixbing.blob.core.windows.net</a></em></p>
          </blockquote>

        <h4>Variants</h4>

          <blockquote class="text-justify">
          Various examples of types of searches of Windows RT 8.1
          </blockquote>

          <img src="windows-tool-bar-search.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img>
              <p class="text-center"><em><sup>A tool bar search</sup></em></p>

              <img src="app-canvas-search.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img>
              <p class="text-center"><em><sup>Search in the app canvas</sup></em></p>
            
              <img src="navigation-pane.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img>
              <p class="text-center"><em><sup>Search in a navigation pane</sup></em></p>

              <img src="Inline-search.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img>
              <p class="text-center"><em><sup>Inline search</sup></em></p>     


              <h4>Priority Metrics</h4>

            <blockquote class="text-justify">
            The priority metrics of search remains the same as a general seach for Windows RT 8.1.
          </blockquote>   

          <h4>Key Characteristics</h4>

            <blockquote class="text-justify">
            Having a search field as the search entry point is necessary because it provides notable footprint.
          </blockquote> 

          <img src="abc.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img>
              <p class="text-center"><em><sup>Before clicking</sup></em></p>  
              <img src="def.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img>
              <p class="text-center"><em><sup>After clicking</sup></em></p>       
          
            </div>
        </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title text-center">iOS 10</h3>
            </div>

            <div class="panel-body">
              <h4>General Idea</h4>
              <blockquote class="text-justify">
              Search is a graphical element of a user interface that allows users to sift
              and sort through a specified range of information. For example, on iOS 10 search will help a user sift through Contacts, Apps, websites, etc. <p><p>
              </blockquote>

            <h4>Typical Appearence</h4>
            <blockquote class = "text-justify">
              Typically for all Apple products, the search component remains the same across the platforms.
              So the example below for the iPhone platform is identical to OS X Yosemite because designers want to keep consistancy across platforms.
            </blockquote>

            <img src="search_ios_10.png"  class="img-responsive center-block" alt="search_ios_10"></img>
              <p class="text-center"><em><sup>Example of the Search box</sup></em></p>

            <h4>Purpose</h4>
            <blockquote class="text-justify">
              The purpose of search remains basically the same cross platform for Apple products as well as for other software. 
            </blockquote>

            <h4>Typical Behavior</h4>
            <blockquote class="text-justify">
              The typical behavior for iOS 10 remains the same, in that it takes an input,
              the user presses the search button and the search results are shown. 
            </blockquote>

            <h4>Apple's Siri (Special Variant)</h4>
            <blockquote class="text-justify">
              Much like Apple's Spotlight for the laptop/computer platform. IOS 10 provides a very unique search engine in Siri. Siri is Apple's built-in "intelligent assistant" which users can utilize voice commands to operate their mobile devices or, in the lense we are looking, search their mobile device and/or the internet. Also like Spotlight, Siri provides suggestions from the search commands given to "her" which are taken from sources like Google, Wikipedia, ect. 
            </blockquote>

            <div id="search-bars-examples" class="carousel slide" data-ride="carousel">

               <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#siri_examples" data-slide-to="0" class="active"></li>
                <li data-target="#siri_examples" data-slide-to="1"></li>
              </ol>

              <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <img src="siri.png" width= "50%" height= "50%" class="img-responsive center-block" alt="siri">
                    <div class="carousel-caption">
                      <p>Speak Button</p>
                    </div>
                </div>
            
                <div class="item">
                  <img src="siri2.png" width= "50%" height= "50%" class="img-responsive center-block" alt="siri">
                  <div class="carousel-caption">
                      <p>Suggestions</p>
                    </div>
                </div>
              </div>
              <!-- Controls -->
              <a class="left carousel-control" href="#siri-examples" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
              <a class="right carousel-control" href="#siri-examples" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <blockquote class= "text-justify">
              The interesting part about Siri, is that "she" can function as a search however because of the voice command, Siri represents a drastic variant because there is no search bar, but rather a microphone button in which it graphically displays the noise being made. 
              When the user speaks, their search input shows up as text, and the search results show up once the user stops speaking. 
            </blockquote>
            <div id="search-bars-examples" class="carousel slide" data-ride="carousel">

               <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#siri_examples" data-slide-to="0" class="active"></li>
                <li data-target="#siri_examples" data-slide-to="1"></li>
              </ol>

              <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <img src="siri_search_1.png" width= "50%" height= "50%" class="img-responsive center-block" alt="siri_search_1">
                    <div class="carousel-caption">
                      <p>Spoken Search Example</p>
                    </div>
                </div>
            
                <div class="item">
                  <img src="siri_search_2.png" width= "50%" height= "50%" class="img-responsive center-block" alt="siri_search_2">
                  <div class="carousel-caption">
                      <p>Spoken Search Example</p>
                    </div>
                </div>
              </div>
              <!-- Controls -->
              <a class="left carousel-control" href="#siri-examples" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#siri-examples" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <blockquote class="text-justify">
              After the search, the user is able to click the now available text bar in order to edit the search text (as shown below). This is where Siri becomes a more classic search component. 
            </blockquote>

            <img src="siri_search_3.png" width="50%" height="50%" class="img-responsive center-block" alt="siri_search_3"></img>
              <p class="text-center"><em><sup>Siri Text Box Component</sup></em></p>

            <blockquote>
              Having Siri as an "intelligent assistant" for the iPhone platform allows for a new approach towards effeicency when it comes to operating an iPhone and search both one's device and the internet. For example, if you were to give the voice command "SnapChat", then your SnapChat app will open because Siri reconized the command, searched through your apps and chose SnapChat. "She" represents a new variant to the search component which does not necissarily follow the classic User Interaction of the search component. 
            </blockquote>

            <h4>Component In Action (Siri Search)</h4>
            <blockquote>
              <img src="siri_gif.gif" class="img-responsive center-block" alt="siri_gif">
              <p class="text-center">Example extracted from <em><a href="http://giphy.com/gifs/forum">http://thiagonasc.com/page/2</a></em></p>
            </blockquote>


            <h4>Priority Metrics</h4>
            <blockquote class="text-justify">
              Consistency and Lear
            </blockquote>
            <ul class="text-justify">
              As previously mentioned, the usibility metrics for the search components do not change. The main ones are effiecncy and learnabilty. A search bar must be recognizable to users so they know what to do when they see it (learnability). This is why for Apple products they keep it the same across all platforms. The search component must stress efficiency becuase the is the main point of the search, it to find information as fast as possible. 
            </ul>

            <h4>Key Components</h4>
            <blockquote class="text-justify">
              What makes a search a "good" search?
            </blockquote>
            <h5>Consistency and Efficiency</h5>
            <ul class="text-justify">
              Consistency is obviously number one in making a search component "good". And if we use Apple products as an example, they do well in keeping the search component consistent. Efficiency is the next key component, because that is the point of the search; to find information fast. However, in the example of Siri, consistency was devalued below efficiency, even though it is usually consistency which is held to the highest standard with search components. So when asking what makes a search "good"; both consitency and efficieny must be in the answer. 
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>

<h3>Credits &amp; References</h3>

  <blockquote>
    <small>
    <p>Search bar images (carousel): <em><a href="http://www.webdesigndev.com/20-amaaazing-psd-search-boxes/">http://www.webdesigndev.com/20-amaaazing-psd-search-boxes/</a></em></p>
    
    <p>Search bar animation (Component in Action): <em><a href="http://thiagonasc.com/page/2">http://thiagonasc.com/page/2</a></em></p>
    
    <p>State diagram: <em><a href="https://users.cs.jmu.edu/bernstdh/Web/CS345/h3/index.php">https://users.cs.jmu.edu/bernstdh/Web/CS345/h3/index.php</a></em></p>
    
    <p>Search Introduction: <em><a href="http://guidelines.usability.gov/chapters/17/introduction">http://guidelines.usability.gov/chapters/17/introduction</a></em></p>
    
    <p>Apple Guidelines (Search): <em><a href="https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/MobileHIG/Bars.html#//apple_ref/doc/uid/TP40006556-CH12-SW1">https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/MobileHIG/Bars.html#//apple_ref/doc/uid/TP40006556-CH12-SW1</a></em></p>
    
    <p>Spotlight Analysis: <em><a href="http://www.macworld.com/article/2369722/hands-on-with-os-x-yosemite-spotlight-takes-center-stage.html">http://www.macworld.com/article/2369722/hands-on-with-os-x-yosemite-spotlight-takes-center-stage.html</a></em></p>
    
    <p>Narrow down search results: <em><a href="ttps://support.apple.com/kb/PH18758?locale=pt_BR&viewlocale=en_US">https://support.apple.com/kb/PH18758?locale=pt_BR&viewlocale=en_US</a></em></p>
    
    <p>Step-by-step on how to use Spotlight: <em><a href="https://support.apple.com/kb/PH18828?viewlocale=en_US&locale=en_US">https://support.apple.com/kb/PH18828?viewlocale=en_US&locale=en_US</a></em></p>
    
    <p>An address bar & a search box image: <em><a href="http://i0.wp.com/tech-and-teaching.com/wp-content/uploads/2012/11/searchbox-addressbar.png?zoom=2&resize=300%2C196">http://i0.wp.com/tech-and-teaching.com/wp-content/uploads/2012/11/searchbox-addressbar.png?zoom=2&resize=300%2C196</a></em></p>

    <p>A system-wide search box & a system-wide search box image: <em><a href="http://i.kinja-img.com/gawker-media/image/upload/s--35kCRGJS--/18fbqvoxoyo5bpng.png">http://i.kinja-img.com/gawker-media/image/upload/s--35kCRGJS--/18fbqvoxoyo5bpng.png</a></em></p>

    <p>A system-wide search box & a system-wide search box image: <em><a href="http://winsupersite.com/site-files/winsupersite.com/files/uploads/2013/04/apps-view.jpg">http://winsupersite.com/site-files/winsupersite.com/files/uploads/2013/04/apps-view.jpg</a></em></p>

    <p>Variants images: <em><a href="https://msdn.microsoft.com/en-us/library/windows/apps/hh465233.aspx">https://msdn.microsoft.com/en-us/library/windows/apps/hh465233.aspx</a></em></p>

    <p>Windows Guidelines (Search): <em><a href="https://msdn.microsoft.com/en-us/library/windows/apps/hh465233.aspx">https://msdn.microsoft.com/en-us/library/windows/apps/hh465233.aspx</a></em></p>
    </small>
  </blockquote>

