---
title: Login/Unlock
layout: component
---
<p class="lead">The gateway to knowledge and the gateway to infinite knowledge at your fingertips, Login/Unlock screen for Windows is the gate to the wonders of computers.</p>

<h3>Typical Appearance</h3>

<blockquote>The Login/Unlock screen is possibly the most common attritube to any computer, Windows, Mac, Linux, etc. While the aesthetics may change from platform to platform, the same idea and function is prevalent in all platforms. Below are Windows 7 and OS X unlock screens and their attributes.</blockquote>

<h3>Typical Behavior</h3>

<blockquote> The Login/Unlock screens act simliar for both Windows and OS X. A </blockquote>


<div class="row">
  <div class="col-sm-6">
<h3>Windows 7</h3>

<blockquote>Windows 7</blockquote>

<h3>Typical Behavior</h3>
</div>

  <div class="col-sm-6">
<h3>OS X</h3>
  <p> While most of the the logins are very similiar to each other. The main two logins are Windows and Macs. Currently  
  </div>
</div>


<h3> History of Control Alt Delete </h3>

<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Windows</h4>
      </div>
      <div class="panel-body">
        <a href = "http://www.dummies.com/how-to/content/windows-7-logon-screen-options.html"> Windows Login Screen Instructions </a>
        <p> </p>
        <p> This is the image of Windows login screen</p>
        <img src = "http://res1.windows.microsoft.com/resbox/en/windows%207/main/a92d0061-28ab-4972-8f8f-eec6eda1fd59_61.jpg" alt = "Windows 7">
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Apple</h4>
      </div>
      <div class="panel-body">
        <a href = "https://www.youtube.com/watch?v=TjxAgiNqkDM"> Apple Login Screen Instructions </a>
        <p> </p>
        <p> This is the image of the OS X login screen. </p> 
        <img src = "http://images.techhive.com/images/article/2012/10/login20scree-100011060-large.png" alt = "Apple">
      </div>
    </div>
  </div>
<p>

<p> </p>
<p> References </p>
<a href ="http://www.joehallock.com/edu/COM498/preferences.html">http://www.joehallock.com/edu/COM498/preferences.html</a> 
<p> </p>
<a href = "http://www.colour-affects.co.uk/psychological-properties-of-colours"> http://www.colour-affects.co.uk/psychological-properties-of-colours</a>
<p> </p>
<a href = "https://www.manageengine.com/products/self-service-password/mac-os-x-login-agent.html"> https://www.manageengine.com/products/self-service-password/mac-os-x-login-agent.html</a>
<p> </p>
<a href = "http://mentalfloss.com/article/51674/history-ctrl-alt-delete"> http://mentalfloss.com/article/51674/history-ctrl-alt-delete </a> 
<p> </p>
<a href = "http://www.dummies.com/how-to/content/how-to-log-on-to-your-mac.html"> http://www.dummies.com/how-to/content/how-to-log-on-to-your-mac.html </a>
