---
title: Login/Unlock
layout: component
---
<p>Hello World</p> <p>lkjlkjlkj</p> <h1>From</h1> <hr> <p>There should be a line above</p>

<p>What does this do?</p>


Wait what does thing even do if I just keep typing in without all that stuff.... lolz 			<p> what this do? </p>								is it here?
<p>This don't even go here</p>

<div class="row">
  <div class="col-sm-6">
<h3> Temp1 </h3>
</div>

  <div class="col-sm-6">
<h3>Variants</h3>

  </div>
</div>
<img src= "https://www.manageengine.com/products/self-service-password/images/self-service-password-mac-os-x-login-agent.jpg" alt = "Hi">



<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Windows</h4>
      </div>
      <div class="panel-body">
        <a href = "http://www.dummies.com/how-to/content/windows-7-logon-screen-options.html"> Windows Login Screen Instructions </a>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Apple</h4>
      </div>
      <div class="panel-body">
        <a href = "http://www.dummies.com/how-to/content/how-to-log-on-to-your-mac.html"> Apple Login Screen Instructions </a>
      </div>
    </div>
  </div>
<p>

<p> References </p>
<a href ="http://www.joehallock.com/edu/COM498/preferences.html">http://www.joehallock.com/edu/COM498/preferences.html</a> 
<p> </p>
<a href = "http://www.colour-affects.co.uk/psychological-properties-of-colours"> http://www.colour-affects.co.uk/psychological-properties-of-colours</a>
<p> </p>
<a href = "https://www.manageengine.com/products/self-service-password/mac-os-x-login-agent.html"> https://www.manageengine.com/products/self-service-password/mac-os-x-login-agent.html</a>
