---
title: Menu
layout: component
---
<blockquote>Start your component pages with a quick description of the component, such as:</blockquote>

<p class="lead">Menus are probably the second most used components on a given graphical interface after buttons.</p>

<div class="row">
          <div class="col-sm-12">

        <h3>Appearance</h3>

        <blockquote>
            <p>Menus have been the go-to method for displaying (and hiding) lists of items and buttons for decades.</p>

            [Place a photo of menus here.]
            <img src="..." class="img-responsive" alt="Responsive image">

            <p>And like these examples, they tend to follow the standard form of having items listed from top to
                bottom with anywhere from 1 to around 25 items to choose from. Mac OS X menus have an added feature of 
                faint line dividers to group certain sets of options without adding too much clutter to the small menu.</p>
                
            [Photo of menu with a lot of line dividers]

            <p>Of course, these items can often be menus themselves within other menus.</p>

            [Place a photo of expanded menus here.]

        </blockquote>

        <h3>Placement</h3>
            <blockquote>
                <p>Menus are usually located on the "edges" of graphical interfaces. For example, the Mac OS X
                graphical interface provides menus at the top of the Desktop screen that are always available. This pattern
                seems to extend to application or browser windows as well.</p>

                [Photo of Mac menus] [Photo of a menu in a browser or application window]

                <p>Additionally, there are menus that remain hidden unless invoked by the user, such as the menu that
                    appears when a user right-clicks.</p>

                [Photo of right-click menu]

            </blockquote>

        <h3>Behavior</h3>

        <blockquote>
          <p>On most platforms, menus are usually accessed by first clicking on a button.</p>
          [Image of opening a menu]
          <p>The menus then expand to reveal the items they hold. On most platforms, users are also able to
            hover over to a different menu button and, without clicking, expand those other menus as well after having
            already clicked on one.</p>

        </blockquote>

        <h3>Key Characteristics</h3>

        <h4>Feedback</h4>
        <p>As for most components on a graphical interface, feedback to the user is a crucial aspect of Don Norman's Stages-of-Action Model, specifically for when the user is attempting to perceive the system state and evaluate its outcomes.</p>

        <ol>
          <li>bullet point 1</li>
          <li>bullet point 2</li>
        </ol>

        <blockquote>These attributes of standard menus across platforms have allowed much more choice and accessibility to
        be included in a single page (or single interface), as opposed to requiring users to constantly switch
        to different windows or screens each time they need to access a new list of items to choose from.</blockquote>


        <h3>Variants</h3>

        <h4>Accordion Menus</h4>

        <blockquote>
            <p>Accordion menus such the two featured below are emerging as a cool new menu trend on webpages or applications (especially those
              for mobile apps).</p>
        </blockquote>
        
          <div id="MainMenu">
        <div class="list-group panel">
          <a href="#demo3" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Item 3</a>
          <div class="collapse" id="demo3">
            <a href="#SubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubMenu1">Subitem 1 <i class="fa fa-caret-down"></i></a>
            <div class="collapse list-group-submenu" id="SubMenu1">
              <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 1 a</a>
              <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 2 b</a>
              <a href="#SubSubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubSubMenu1">Subitem 3 c <i class="fa fa-caret-down"></i></a>
              <div class="collapse list-group-submenu list-group-submenu-1" id="SubSubMenu1">
                <a href="#" class="list-group-item" data-parent="#SubSubMenu1">Sub sub item 1</a>
                <a href="#" class="list-group-item" data-parent="#SubSubMenu1">Sub sub item 2</a>
              </div>
              <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 4 d</a>
            </div>
            <a href="javascript:;" class="list-group-item">Subitem 2</a>
            <a href="javascript:;" class="list-group-item">Subitem 3</a>
          </div>
          <a href="#demo4" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Item 4</a>
          <div class="collapse" id="demo4">
            <a href="" class="list-group-item">Subitem 1</a>
            <a href="" class="list-group-item">Subitem 2</a>
            <a href="" class="list-group-item">Subitem 3</a>
          </div>
        </div>
      </div>

       <blockquote>
            <p>They allow users to access lists of items without expanding the menu into a different column on the screen or on top of other information that users are looking at.</p>
        </blockquote>
      </div>

    <div class="col-sm-6 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Content</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tbody><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Modules</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tbody><tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Invoices</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Shipments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Tex</a>
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                            </span>Account</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tbody><tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                            Delete Account</a>
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                            </span>Reports</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tbody><tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-6">

        <p>[More text here]</p>

        <ul>
          <li><em>Menu items</em> are very close to buttons in behavior—they perform individual action elements upon simple
            invocation by a user. However, they belong to a broader context/structure of a menu, and look sufficiently
            different that they are both conceptually and programmatically viewed as distinct from buttons.</li>

          <li><em>Italicized words!</em> (and some more words)</li>
        </ul>

      </div>

        <div class="col-sm-12">

            <h4>Events</h4>

            <blockquote>An <em>event</em> is something that can happen to a user interface component. They are both conceptual and
              highly concrete in that events very frequently translate directly into a user interface component’s API.</blockquote>


            <h4>State Diagram</h4>

            <blockquote>
              <p>A state diagram indicating the actions and states of a user interface component.</p>

              <p>This is most likely an image. Bonus props if you use SVG.</p>

              <p>And also, a state diagram implies, well, <em>states</em>. So be sure to describe them. Note also that there will
                usually be overlap between a component’s events and its state diagram. A sufficiently detailed state diagram,
                however, may have more activities than the “public” events that can be reported by a component.</p>
            </blockquote>

            <p>Most button designs have the following states. The <code>enabled</code> and <code>disabled</code> states can be
              viewed as “dormant” button states—they are the only states that a button can have when a user is not interacting with
              it. The <code>enabled</code> state means that a user <em>can</em> interact with it, while the <code>disabled</code>
              state means that a user <em>cannot</em> do so.</p>

            <p>When a button is <code>enabled</code>, additional states may be triggered. Not all states are present in all button
              implementations, but in general they are:</p>

            <ul>
              <li><code>hover</code>: For platforms with an explicit pointing element, positioning that element over a button may
                change the button’s appearance. This provides a form of feedback that states that the button will respond if
                additional activity is performed.</li>

              <li><code>armed</code>: If the user initiates button-triggered behavior, such as a click on mouse-capable systems,
                the button may enter a state indicating that it is ready to be invoked. Many button implementations allow an “out”
                from this state, in case the user changes his or her mind in mid-action.</li>
            </ul>

            <h4>Component in Action</h4>

            <blockquote>
              <p>Embedded or linked video (by you or by others [and if by others give credit]) showing the component in action.</p>

              <p>For components that are available on a web platform, you can embed an actual component right here, such as:</p>
            </blockquote>

            <p class="text-center">
              <button class="btn btn-default">Standard Bootstrap Button</button>
              <button class="btn btn-default disabled">Disabled Bootstrap Button</button>
            </p>

          </div>



        <div class="col-sm-12">
        

        <h3>Priority Metrics</h3>

        <blockquote>Talk about the five usability metrics in relation to this component. Not all components will have the same
          metric priorities. For example:</blockquote>

        <p>Paragraph 1</p>

        <p>Paragraph 2</p>

          </div>
</div>

<h3>Platform-Specific Instances</h3>

<blockquote>
  [place more information and images here]
</blockquote>