---
title: Menu
layout: component
contributors:
    - name: Francis Gow
      github: FrancisGow

    - name: Elizabeth Shen
      github: eshen1

    - name: Ed Seim
      github: SirSeim

    - name: Chris Franco
      github: cf7

    - name: Cherrell Finister
      github: cfinister
---

<p class="lead">One of the earliest and most common ways of representing equivalent information, the menu displays options for the user to select in order to find information or execute a function.</p>

<div id="carouselExampleIndicators" class="carousel slide bg-secondary" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex justify-content-center">
        <img class="d-block w-20" src="Mac_Finder.png" alt="OS X Finder List">
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block text-center">
        <img class="w-50" src="Mac_Messages.png" alt="OS X Messages List">
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block text-center">
        <img class="w-50" src="Mac_Tweetbot.png" alt="OS X Tweetbot List">
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block text-center">
        <img class="w-25" src="iOS_Contacts.jpg" alt="iOS Contact List">
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block text-center">
        <img class="w-50" src="iOS_Reminders.jpg" alt="iOS Reminders List">
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block text-center">
        <img class="w-25" src="Pebble_Menu.png" alt="Pebble">
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container">
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu1">OS X</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu2">iOS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu3">Pebble</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu4">Apple CarPlay</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu5">Android Auto</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu5">Android (General)</a>
  </li>
</ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="home" role="tabpanel">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title text-center">Typical Apperance</h4>
        </div>
        <div class="panel-body">
          <p>A menu is a displayed set of options or commands for the user to select. These options/commands are often stacked vertically in the form of a list that can be read from top to bottom, ideally in an order that is convenient for the user. Common occurrences of these vertical menus are shown in the above slide show. As well as a few sample images here:</p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title text-center">Typical Behavior</h4>
        </div>
        <div class="panel-body">
          <p>Menus behave by reacting when a user selects an option, typically in the form of a 'click'. </p>
          <p>The menu responds to a 'click' by carrying out the function that the user has selected. It is common behavior for menus to display contain one or more sub-menus, allowing for organization and efficiency. Accordian menus, for example, can expand/collapse to displace more/fewer options. This makes it easier for the user to navigate through a multitude of options without being overwhelmed with too much information at one time. </p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title text-center">Events</h4>
        </div>
        <div class="panel-body">
          <p>The most relevant menu event is the <code>click</code>. A <code>click</code> event indicates that the user has selected a particular action or item from the list. Another event is the <code>hover</code>, indicating that a pointing device is explicitly within the button’s bounds. Another event is the <code>scroll</code>, allowing the user to maneuver through the available options. Some platforms or implementations have included other components into an item, like a <code>swipe</code>, which can display alternative actions for the item, or a checkbox.</p>

          <p>In this instance, a click tells it whether to advance deeper or retreat out of the app. Scroll moves the selector around to allow the user to “click” what they want to.</p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title text-center">State Diagram</h4>
        </div>
        <div class="panel-body text-center">
          <img src="statediagram1.png" style="width: 50%; height: 50%" class="image-fluid" alt="State Diagram">
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Component in Action</h4>
      </div>
      <div class="panel-body text-center">
        <h5> iOS Contacts </h5>
        <img src="iOS_Contacts_video.gif" class="img-responsive center-block" alt="iOS Contacts">
      </div>
    </div>
  </div>

    <div id="menu1" class="tab-pane fade">
      <h3>iOS</h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title text-center">iOS</h4>
        </div>
        <div class="panel-body">
        <center>
          <img src="iOS_Contacts.jpg" style="width: 50%; height: 50%" class="img-responsive" alt="iOS Contacts List">
          <img src="iOS_Reminders.jpg" style="width: 50%; height: 50%"  class="img-responsive" alt="iOS Reminders List">
          <img src="iOS_Tweetbot.jpg" style="width: 50%; height: 50%" class="img-responsive" alt="iOS Tweetbot List">
          </center>
          <p>With iOS, Apple was able to create the first direct interaction between a person and the content they are manipulating. Instead of having some device like a mouse or click wheel be the abstraction between the human interaction and the menu, the interface revolves around the direct interaction between the person and the content by way of finger touching. The event of scrolling is done by way of pushing the content on the screen up and down the screen. </p>
        </div>
      </div>
    </div>

    <div id="menu2" class="tab-pane fade">
      <h3>Pebble</h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title text-center">Pebble Menu List</h4>
        </div>
        <div class="panel-body">
          <img src="Pebble_Menu.png" style="width: 50%; height: 50%" class="img-responsive center-block" alt="Pebble Menu List">
          <img src="Pebble_Old.png" style="width: 50%; height: 50%" class="img-responsive center-block" alt="Pebble Old List">
          <img src="Pebble_Timeline.png" style="width: 50%; height: 50%" class="img-responsive center-block" alt="Pebble Timeline List">
          <p>With Pebble, in the name of preserving battery life and minimizing user error, they decided to go with interaction by way of physical buttons along the side of the device, a touchscreen of that size argued as being a bit too clunky to hit the item you intend with your fingers.</p>
        </div>
      </div>
    </div>

    <div id="menu3" class="tab-pane fade">
      <h3>Apple CarPlay</h3>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title text-center">Apple CarPlay Home</h4>
        </div>
        <div class="panel-body">
          <img src="AppleHomeScreen.jpg" style="width: 50%; height: 50%" class="img-responsive center-block" alt="Apple Carplay Home">
          <p>Apple CarPlay is similar to iOS feel that it is based on. It allows the user to easily learn CarPlay since they are already familiar with their iPhone. It has a gridded menu system that is organized to mirror the iPhone that it is running on.</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title text-center">Apple CarPlay Music</h4>
        </div>
        <div class="panel-body">
          <img src="AppleMusic.jpg" style="width: 50%; height: 50%" class="img-responsive center-block" alt="Apple CarPlay Music">
          <p>The music app is has a different appearance than the iPhone as far as style and color scheme, but it is organized in a similar fashion. It is also very simple and easy to navigate through, which is an important feature since music apps are often used during car rides.</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title text-center">Apple CarPlay Home</h4>
        </div>
        <div class="panel-body">
          <img src="AppleMessages.jpg" style="width: 50%; height: 50%" class="img-responsive center-block" alt="Apple Messages">
          <p>Like many of the menus on Apple CarPlay, the message menu follows a consistent layout. The simplicity and consistency of these menu styles allow the user to make efficient selections without being distracted while driving.</p>
        </div>
      </div>
    </div>

      <div id="menu4" class="tab-pane fade">
        <h3>Android Auto</h3>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title text-center">Android Auto Home</h4>
          </div>
          <div class="panel-body">
            <img src="AndroidHome.jpg" style="width: 50%; height: 50%" class="img-responsive center-block" alt="Android Auto Home">
            <p>There is a bar on the bottom which houses (in order): Google Maps, Phone, “Home”, Music, and “Return to Audi MMI (Multimedia Interface).” Within those, you nudge the controller to the right to access “Hey Google” and to the left to access more options within the app, such as showing/disabling traffic on Google Maps. Menus are typically placed on the edges of the screen to minimize intrusiveness of the selected application in use</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title text-center">Android Auto Phone</h4>
          </div>
          <div class="panel-body">
            <img src="AndroidPhone.jpg" style="width: 50%; height: 50%" class="img-responsive center-block" alt="Android Auto Phone">
            <p>Although obviously a Google product, it’s not as continuous as Apple’s Carplay is. The difference between Android 6.0 to Android Auto isn’t as obvious until you get into individual apps, such as Google Maps or the music player. This phone app is a good example, which has an Android look and feel to it.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title text-center">Android Auto Music</h4>
          </div>
          <div class="panel-body">
            <img src="AndroidMusic.jpg" style="width: 50%; height: 50%" class="img-responsive center-block" alt="Android Auto Music">
            <p>Android Auto takes a form closer to it's device's music app than Apple's CarPlay, which although is less complicated, takes longer to learn shortcuts.</p>
          </div>
        </div>
      </div>

      <div id="menu4" class="tab-pane fade">
        <h3>Android Auto</h3>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title text-center">Android Auto Home</h4>
          </div>
          <div class="panel-body">
            <img src="AndroidHome.jpg" style="width: 50%; height: 50%" class="img-responsive center-block" alt="Android Auto Home">
            <p>There is a bar on the bottom which houses (in order): Google Maps, Phone, “Home”, Music, and “Return to Audi MMI (Multimedia Interface).” Within those, you nudge the controller to the right to access “Hey Google” and to the left to access more options within the app, such as showing/disabling traffic on Google Maps. Menus are typically placed on the edges of the screen to minimize intrusiveness of the selected application in use</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title text-center">Android Auto Phone</h4>
          </div>
          <div class="panel-body">
            <img src="AndroidPhone.jpg" style="width: 50%; height: 50%" class="img-responsive center-block" alt="Android Auto Phone">
            <p>Although obviously a Google product, it’s not as continuous as Apple’s Carplay is. The difference between Android 6.0 to Android Auto isn’t as obvious until you get into individual apps, such as Google Maps or the music player. This phone app is a good example, which has an Android look and feel to it.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title text-center">Android Auto Music</h4>
          </div>
          <div class="panel-body">
            <img src="AndroidMusic.jpg" style="width: 50%; height: 50%" class="img-responsive center-block" alt="Android Auto Music">
            <p>Android Auto takes a form closer to it's device's music app than Apple's CarPlay, which although is less complicated, takes longer to learn shortcuts.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>Credits &amp; References</h3>

<blockquote>
  <a href="http://getbootstrap.com/css/#overview">The Bootstrap website</a> <br />
  <a href="https://www.android.com/auto/">Android Auto</a> <br />
  <a href="http://www.apple.com/ios/carplay/">Apple CarPlay</a> <br />
  <a href="https://developer.pebble.com/sdk">Pebble Smartwatch</a> <br />
</blockquote>

<hr>
