---
title: Search
layout: component
---

<blockquote class="text-justify">Search components are constantly present in computational systems. Generally providing an interface for text-based inputs, their main purpose is to help users finding files, programs and other resources in an easier way.
</blockquote>

<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12">
  
  	<h3>Typical Appearance</h3>

		<blockquote class="text-justify">Search components have their style changed from one system to another, but, in a general way, its main idea remains the same. As we 	can see in the images below, the search bars are basically composed by a space where users can enter a text-based input and a button they can click to initiate the search:
		</blockquote>
	
  
  		<div id="search-bars-examples" class="carousel slide" data-ride="carousel">

  			<!-- Indicators -->
 	 		<ol class="carousel-indicators">
	    		<li data-target="#search-bars-examples" data-slide-to="0" class="active"></li>
	    		<li data-target="#search-bars-examples" data-slide-to="1"></li>
	    		<li data-target="#search-bars-examples" data-slide-to="2"></li>
	    		<li data-target="#search-bars-examples" data-slide-to="3"></li>
	    		<li data-target="#search-bars-examples" data-slide-to="4"></li>
	  		</ol>
	
	  		<!-- Wrapper for slides -->
	  		<div class="carousel-inner" role="listbox">

	    		<div class="item active">
	      			<img src="search-bar-1.jpg" class="img-responsive center-block" alt="search-bar-1">
	      			<div class="carousel-caption">
	      				<p>Example 1</p>
	      			</div>
	    		</div>
	    
	    		<div class="item">
	    			<img src="search-bar-2.jpg" class="img-responsive center-block" alt="search-bar-2">
	    			<div class="carousel-caption">
	      				<p>Example 2</p>
	      			</div>
	    		</div>
	    
	    		<div class="item">
	    			<img src="search-bar-3.jpg" class="img-responsive center-block" alt="search-bar-3">
	      			<div class="carousel-caption">
	      				<p>Example 3</p>
	      			</div>
	    		</div>
	    
	    		<div class="item">
	      			<img src="search-bar-4.jpg" class="img-responsive center-block" alt="search-bar-4">
	      			<div class="carousel-caption">
	      				<p>Example 4</p>
	      			</div>
	    		</div>
	    
	    		<div class="item">
	    	 	 	<img src="search-bar-5.jpg" class="img-responsive center-block" alt="search-bar-5">
	    		  	<div class="carousel-caption">
	    		  		<p>Example 5</p>
	    		  	</div>
	    		</div>

	    	</div>

	  		<!-- Controls -->
	  		<a class="left carousel-control" href="#search-bars-examples" role="button" data-slide="prev">
	  			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	 			<span class="sr-only">Previous</span>
			</a>
	  		<a class="right carousel-control" href="#search-bars-examples" role="button" data-slide="next">
	    		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    		<span class="sr-only">Next</span>
	  		</a>

		</div>
	
	<h3>Purpose</h3>
         
        <blockquote class="text-justify">Search components allow users to quickly find a value in a large collection and also (depending on the search engine) create a filter to facilitate the search and make it more precise.</blockquote>
	
	<h3>Typical Behavior</h3>

		<blockquote class="text-justify">Basically, search components receive an input (the text-based input mentioned before), the user presses the search button (generally identified by the picture of a magnifying glass or by the word "search") and then, the results of the research are shown.</blockquote>
	
		<h4>Component in Action</h4>

			<blockquote>
		  	<img src="search-bar-gif-1.gif" class="img-responsive center-block" alt="search-bar-gif-1">
			<p class="text-center">Example extracted from <em><a href="http://thiagonasc.com/page/2">http://thiagonasc.com/page/2</a></em></p>
			</blockquote>
	  
  	</div>


<!--Mondo's Code-->
  
  	<div class="col-md-6 col-sm-6 col-xs-12">
		<h3>Variants</h3>

		<blockquote class="text-justify">Search has variations in its behavior. Despite their very similar appearances, their slight behavioral distictions create a big differnce in efficiency.
		</blockquote>

		<ul class="text-justify">
  			<li><em>Search on a web browser:</em> There are two different types of a search on web browsers: an address bar and a search box. They behave in the same manner as a typical search, but an address bar helps improve efficiency if users know the exact URL of the site they are looking for because an address bar can go to the site directly when users put the site URL in a address bar.
  			<p><p>
  			</li>

  			<img src="searchbox-addressbar.png" class="img-responsive center-block"></img>
            <p class="text-center"><em>An address bar & a search box</em></p>

  			<li><em>The find bar:</em> The find bar,the search box that looks for text within a document has interesting user behavioral and interface differences from a search box for web browsers. Users utilize this tool to jump to where the word (which users hope to look for) occurs on the page as soon as they start typing and it has up and down arrow bottons instead of a search botton. The arrow bottons guide users to search for another places the word occurs on the page if any.<p><p>   
  			</li>

  			<img src="find-tool.jpg" class="img-responsive center-block"></img>
            <p class="text-center"><em>The find bar</em></p>

            <li><em>A system-wide search box & a system-wide search box: This search boxes looks for all the files on a computer and there are simply different way of initiating searches, although some advanced system-wide search box such as the spotlight in OS X Yosemite searches web as well.</em> <p><p>   
  			</li>

  			<img src="download.jpeg" class="img-responsive center-block"></img>
            <p class="text-center"><em>A system-wide search box & a system-wide search box</em></p>

  		</ul>
	</div>
 
 <!--End-->


<h3>Platform-Specific Instances</h3>

	<blockquote>
		<p class="text-justify">This is where platform-specific sections go. The systems presented below are the OS X from Apple and Windows 8 from Microsoft.</p>
	</blockquote>

	<div class="row">
		<div class="col-sm-6">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    		    	<h3 class="panel-title text-center">OS X Yosemite</h3>        
    			</div>
    		<div class="panel-body">
      
        		<h4>General Idea</h4>
        			<blockquote class="text-justify">A search bar provides an interface for text-based searches with a text box and buttons such as search and cancel. A search bar accepts text from users, which can be used as input for a search.<p><p>
      
        	 		<img src="search-bar-apple-osx.png"  class="img-responsive center-block" alt="search-bar-apple-website"></img>
        	 		<p class="text-center"><em><sup>Example of the Search Bar</sup></em></p>

					According to the Apple's Guidelines, a search bar can display optional elements, such as these:<p><p>

        	 			<ul>
        	      			<li><p><b><em>Placeholder text:</em></b> The text showed in the element should state the function of the control (for example, 'Search' as shown above) or remind users in what context they are searching (for example, 'Google') so they can execute their search in a more accurate way.</p></li><p><p>
              
            	  			<li><p><b><em>The Bookmarks button:</em></b> This button can provide a shortcut to information users want to easily find again. For example, the Bookmarks button in the Maps search mode gives access to bookmarked locations, recent searches, and contacts.</p></li><p><p>
              
              				<img src="search-bar-apple-osx-2.png"  class="img-responsive center-block" alt="search-bar-apple-website-2"></img>
              				<p class="text-center"><em><sup>Example of the Bookmark button</sup></em></p>
              
            	  			<li><p><b><em>The Clear button:</em></b> Most search bars include a Clear button which allows users to clear the contents in the text space in a single step. The button shows up when the user enters an input and hides when there is no text in the text field.</p></li><p><p>
              
            	  			<img src="search-bar-apple-osx-3.png"  class="img-responsive center-block" alt="search-bar-apple-website-3"></img>
            	  			<p class="text-center"><em><sup>Example of the Clear button</sup></em></p>
              
            	  			<li><p><b><em>The results list icon:</em></b> This icon indicates the presence of results from a search done by the user. When users tap the results list icon, an application can display the results of their most recent search.</p></li><p><p>
               
            	  			<img src="search-bar-apple-osx-4.png"  class="img-responsive center-block" alt="search-bar-apple-website-4"></img>
            	  			<p class="text-center"><em><sup>Example of the results list icon</sup></em></p>
               
            	  			<li><p><b><em>A prompt:</em></b> A descriptive title (prompt) can be placed above the search bar. A prompt is a short, complete sentence that provides an introduction or an specific information for the search bar.</p></li><p><p>
               
              				<img src="search-bar-apple-osx-5.png"  class="img-responsive center-block" alt="search-bar-apple-website-5"></img>
              				<p class="text-center"><em><sup>Example of the prompt feature</sup></em></p>
               
         				</ul>
         			</blockquote>

         		<h4>Apple's Spotlight</h4>
         			<blockquote class="text-justify">Spotlight is a resource provided by Apple that helps users quickly find anything on MacBook, including documents, emails, apps, songs, contacts, and more. Spotlight also provides suggestions (Spotlight Suggestions) from various sources (Wikipedia, Bing, Maps, news, and iTunes) so the user can have a complete set of information without leaving the app. Search results are composed by rich and interactive previews so the user can play song previews, get directions, send email, make phone calls, and more, directly from the results.<p></p>

         			<img src="spotlight-1.png"  class="img-responsive center-block" alt="spotlight-1"></img>
              		<p class="text-center"><em><sup>Spotlight initial screen</sup></em></p>

              		The Spotlight menubar item is located near the upper-right corner of the screen, next to the Notification Center icon while its window appears in the upper-middle of the screen.<p></p>

              		<img src="spotlight-2.png"  class="img-responsive center-block" alt="spotlight-2"></img>
              		<p class="text-center"><em><sup>Localization of the menubar item and the Notification Center</sup></em></p>

              		In Yosemite, Spotlight’s search results may show up in two different ways: immediate and detailed. As you begin to type, the word will be automatically completed according to what Spotlight guesses you are searching for. As an example, when you begin typing the word keynote, the application will complete the word in light-gray characters; to launch the application just press 'Enter'.<p></p>

              		<img src="spotlight-3.png"  class="img-responsive center-block" alt="spotlight-3"></img>
              		<p class="text-center"><em><sup>Example of the immediate search result</sup></em></p>

              		The detailed way shows up right after the immediate one and it is on this mode that Spotlight shows the matches found in the system (including documents, emails, apps, songs, contacts, and more).<p></p>

              		<img src="spotlight-4.png"  class="img-responsive center-block" alt="spotlight-4"></img>
              		<p class="text-center"><em><sup>Example of the detailed search result</sup></em></p>

              		It is also possible to have a more complete description of the items showed by Spotlight. Selecting one of the options on the left side, the right side of the application will show the item in detail.<p></p>

              		<img src="spotlight-5.png"  class="img-responsive center-block" alt="spotlight-5"></img>
              		<p class="text-center"><em><sup>Example of an item showed in detail</sup></em></p>

              		Apple's website offers a tutorial to narrow down search results. When searching in Spotlight or the Finder, it is possible to add criteria to a basic search, perform Boolean queries, and search items’ metadata. This information can be found in <a href="https://support.apple.com/kb/PH18758?locale=pt_BR&viewlocale=en_US"><em>https://support.apple.com/kb/PH18758?locale=pt_BR&viewlocale=en_US</em></a>. The website also provides a step-by-step on how to use Spotlight: <a href="https://support.apple.com/kb/PH18828?locale=pt_BR&viewlocale=en_US"><em>https://support.apple.com/kb/PH18828?locale=pt_BR&viewlocale=en_US</em></a>

         			</blockquote>

         		<h4>Variants</h4>
         			<blockquote class="text-justify">
         			Some variants for searching in OS X Yosemite are: the search field in the web browser (in this case, Safari) and the search field inside text documents. Both follow the same characteristics mentioned above.<p></p>
         			For the web browser:<p></p>

         			<img src="search-bar-apple-osx-6.png"  class="img-responsive center-block" alt="search-bar-apple-website-6"></img>
              		<p class="text-center"><em><sup>Search bar in a web browser (Safari)</sup></em></p>

              		<img src="search-bar-apple-osx-7.png"  class="img-responsive center-block" alt="search-bar-apple-website-7"></img>
              		<p class="text-center"><em><sup>The idea of showing results from various sources (from Spotlight)</sup></em></p>

              		<img src="search-bar-apple-osx-8.png"  class="img-responsive center-block" alt="search-bar-apple-website-8"></img>
              		<p class="text-center"><em><sup>By approaching the arrow, the search field completes the URL (the same idea from Spotlight)</sup></em></p>

              		For the search field inside documents:<p></p>

              		<img src="search-bar-apple-osx-9.png"  class="img-responsive center-block" alt="search-bar-apple-website-9"></img>
              		<p class="text-center"><em><sup>Search bar inside the application for reading text documents</sup></em></p>

              		<img src="search-bar-apple-osx-10.png"  class="img-responsive center-block" alt="search-bar-apple-website-10"></img>
              		<p class="text-center"><em><sup>Results of the search</sup></em></p>

         			</blockquote>
      
      		</div>
    		</div>
  		</div>

  		<div class="col-sm-6">
    		<div class="panel panel-default">
      			<div class="panel-heading">
        			<h3 class="panel-title text-center">Windows 8.1</h3>
      			</div>
      			<div class="panel-body">
      				<!--The content goes here-->
      			</div>
    		</div>
  		</div>
	</div>

<h3>Credits &amp; References</h3>

	<blockquote>
		<p>Search bar images: http://www.webdesigndev.com/20-amaaazing-psd-search-boxes/</p>
		<p>Search bar animation: http://thiagonasc.com/page/2</p>
		<p>Search Introduction: http://guidelines.usability.gov/chapters/17/introduction</p>
		<p>Apple Guidelines (Search): https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/MobileHIG/Bars.html#//apple_ref/doc/uid/TP40006556-CH12-SW1</p>
		<p>Spotlight Analysis: http://www.macworld.com/article/2369722/hands-on-with-os-x-yosemite-spotlight-takes-center-stage.html</p>
		<p>Narrow down search results: https://support.apple.com/kb/PH18758?locale=pt_BR&viewlocale=en_US</p>
		<p>Step-by-step on how to use Spotlight: https://support.apple.com/kb/PH18828?viewlocale=en_US&locale=en_US</p>
	</blockquote>
