---
title:  Mac OS X Buttons 
layout: component
---
<head><em>Buttons are probably the most common and useful graphical user interface element found in the Mac OS X interface</em></head>

<p class="lead"></p>

<h4>Typical Appearance</h4>
  <blockquote><font size="2">There are various types of buttons found throughout the Mac OS X interface, each providing a useful function. Examples of these buttons are shown in the following</font></blockquote>

<h4>Variants of Buttons</h4>
	<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Push Buttons</h4>
      </div>
      <div class="panel-body">
        <div class="row"> 
          <div class="col-sm-4">
            <left>
              <img src="https://i.gyazo.com/523757cf9a1ad652d7b1a6c36642d78c.png" width="150"></img>
              <br></br>
              <br></br>
              <img src="https://developer.apple.com/library/mac/documentation/UserExperience/Conceptual/OSXHIGuidelines/Art/push_buttons_2x.png" height="200" width="150"></img>
            </left>
          </div>
          <right>
            <blockquote><font size="2"><ul>
              <li>Push buttons in OSX are meant to be used specifically in the window body only and always contain text, never an image.</li>
              <li>By default, Mac OSX buttons are white unless it is the default button in a dialog window, in which case it is light blue</li>
              <li>Push buttons are also meant to be used to perform an instantaneous action, such as Print, Delete, or Open (In these cases, the push buttons are also blue).</li>
              <li>Push buttons should NEVER mimic the behavior of other controls. This is because push buttons are meant to give an immediate reaction when the user clicks a push button.</li>
              <ul>
                <li>Push buttons shouldn't indicate a state such as on or off. Instead, checkboxes should be used</li>
                <li>Push buttons also shouldn't be used as a label or a menu</li>
              </ul>
            </ul>
          </right>
        </font>
          </blockquote>
      </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6 ">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Radio</h4>
      </div>
      <div class="panel-body">
        <center>
          <img src="https://i.gyazo.com/2458883edb1722daa8b1ddd5fdca854c.png"></img>
        </center>
        <blockquote>
          <font size="2">
            <ul>
              <li>Radio buttons are used to display a group of mutulally exclusive, but related, choices</li>
              <li>The content and labels of radio buttons don't change depending on the context nor do they display customs texts or images</li>
              <li>Radio buttons should contain a text label to describe the choice it represents. This should be implemented in because Users need to know exactly what they're choosing.</li>
              <li>Unlike checkboxes, radio buttons should be use ONLY if the user is picking multiple choice at the same time. Radio buttons should only be used for selecting 1 option</li>
              <li>When it comes to labeling and arranging radio buttons, each one should contain a text label that describes the choice it represents and alos have a consistent amount of spacing between each one</li>
            </ul>
          </font>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Check Box</h4>
      </div>
      <div class="panel-body">
        <center>
          <img src="https://i.gyazo.com/1e30fcf964ea830aeeee6a02f3df962d.png"></img>
          <br></br>
          <img src="https://i.gyazo.com/35532b86486f4de50b00c1b9b611f6d0.png"></img>
        </center>
        <blockquote>
          <font size="2">
            <ul>
              <li>Checkboxes work like a toggle switch: they are used to describe a state, action, or value that can either be on or off.</li>
              <li>Like radio buttons, checkboxes are used for choice selection. However, unlike the radio buttons, checkboxes are used to select more than one option or toggle a setting on or off (as shown in the picture above)</li>
              <li>Checkboxes are also used to toggle other selections on or off. For example, in the second picture shown above, when a checkbox selection is unselected, other options such as the dropdown menu and the push button become disabled</li>
              <li>Checkboxes should be arranged in a column. This makes it easier for users to distinguish states from one another</li>
            </ul>
          </font>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Gradient Button</h4>
      </div>
      <div class="panel-body">
        <center>
          <img src="https://i.gyazo.com/f2abbaebbb3211497893d0913e8172d1.png"></img>
        </center>
        <blockquote>
          <font size="2">
            <ul>
              <li>Gradient buttons perform instantaneous actions related to view, such as a source list</li>
              <li>Gradient buttons can contain push buttons, toggles, or popup menu behavior.</li>
              <li>Unlike other buttons such as the radio button or the push button, gradient buttons only contain images. NOT text</li>
              <li>Gradient buttons are also used to offer functionality that is closely tied to a particular action without the need to include text.</li>
              <li>To make gradient buttons more user friendly, it is better to use system provided images as gradient buttons as they are more familiar to the user.</li>
            </ul>
          </font>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Help Button</h4>
      </div>
      <div class="panel-body">
        <center>
          <img src="https://developer.apple.com/library/mac/documentation/UserExperience/Conceptual/OSXHIGuidelines/Art/help_button_2x.png"></img>
        </center>
        <blockquote>
          <font size="2">
            <ul>
              <li>The help button is always designated as a clear, circular button with a question mark graphic.</li>
              <li>When pressed, the help button opens up a popup window that displays app-specific help.</li>
              <li>Help buttons should be used to perform the function of the standard Help button. A custom button should not be made in replacement</li>
              <li>In most windows found on OS X, the help button is always located on the bottom right corner. In dialog boxes that include push buttons such as "OK" and "Cancel", the help button is located on the bottom left of the window</li>
            </ul>
          </font>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<h3>Priority Metrics</h3>
  <p>Because the button is such a fundamental part of virtually every user interface available today, it can be said that
  all usability metrics are equally important for this component. Users who are seeing a button in a given platform for
  the first time must not have any issues recognizing it and knowing what to do with it (learnability). The high
  priority of learnability also implies that memorability is a given.</p>

  <p>Users must also never experience undue delays with using a button (efficiency), particularly because using a button
  almost always involves an instantaneous, immediate-result action. Users should almost never trigger a button by
  mistake (errors)—especially buttons whose actions result in significant changes to data or the real world.</p>

  <p>If any metric at all can be considered as a “low priority” for buttons, it would be satisfaction. The button is such
  a utilitarian component that “fun” or “enjoyment” is hardly associated with its use. One exception to this
  prioritization may be for buttons in applications whose primary metric is satisfaction (e.g., games, entertainment).
  As a part of that overall system, making buttons “fun” may then become more important than in other situations.</p>

<br></br>

<h4>Source</h4>
  <font size="1">
  <p>All information on Mac OS X buttons, as well as other features found on OS X, can be found here: https://developer.apple.com/library/mac/documentation/UserExperience/Conceptual/OSXHIGuidelines/ControlsButtons.html#//apple_ref/doc/uid/20000957-CH48-SW1 </p>
</font>

