---
title: Window
layout: component
---

<h3>Window Screenshots from Selected Platforms</h3>

<p>Screenshots of windows are currently available for the following platforms. Please click on each box for more details.</p>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="well">Yosemite</div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="well">Ubuntu 15.04</div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="well">Original Mac</div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="well">Windows 8.1</div>
  </div>
</div>
