---
title: Window
layout: component
---

<p class="lead"> Not to be confused with Microsoft Windows, a window
is a rectangular shape that displays content on a computer monitor. It is so common that even a 
In fact, a window is used to view the content of the page! 
</p>

<div class="row">
  <div class="col-sm-6">

<h3>Typical Appearance</h3>
  <blockquote>The appearance of a standard window varies across different
  platforms as well as some functionality. Generally windows are made up of three components:

  Generally windows have two components.
  <ul>
    <li>Frame</li>
    <img src="Frame.png" alt="An example of a frame" width="400">
    <small>An example of the "Frame"</small>
    <li> Content</li>
    <img src="Content.png" alt="An example of content of a window" width="400">
    <small>An example of the "Content"</small>
  </ul>
  In the frame there are buttons located on the top left corner or top right corner of the frame. There is a slight variation on the frame depending on what type of window one is accessing. <em>(See the <a href="http://127.0.0.1:4000/paradixm/components/window/#variants">'Variants'</a> section below.)</em> Generally in the middle of the frame, there is a title containing the location of the content one is viewing.
  <br> <br>
  The content component of  the window, varies greatly and is dependent upon the type of window you are accessing. Depending on the operating system one is using the frame might envelope the content and acting in a literal sense like a frame.


  </blockquote>
  <img src="Yosemite-Screenshot.png" alt="picture of Yosemite window" height="200">

<h3 id="variants">Variants</h3>
  <blockquote> There are five common variants of windows. <ol>
    <li>File Explorer</li>
    <img src="GeneralWindow.PNG" alt="picture of File Explorer Window" height="200">
    <blockquote>The file explorer window is usually accessed when one clicks a folder on their computer. There are three buttons located in the frame in the left or right corner depending on the operating system one is using.  </blockquote>
    <li>Dialog</li>
    <img src="dialog.PNG" alt="A picture of a Dialog Window" height="200">
    <blockquote>The dialog window usually appears the computer prompts the user for input in the form of button or string input. In the frame there will only be one or no button depepending on the operating system.</blockquote>
    <li>Alert</li>
    <img src="alert.PNG" alt="A picture of a alert Window" height="200">
    <blockquote>The alert window occurs when the computer wants to notifies the user of an action. It prompts the user for input in the form of a single button signiging that the user acknowledges the message. In its frame there will be a single or no button. </blockquote>
    <li>Properties</li>
    <img src="Properties.PNG" alt="A picture of a Properties window" height="200">
    <blockquote>The properties windows is usally accesed when one wants to edit the properties of a local file. The content of the window contains tabs that changes the content of the window. </blockquote>
    <li>Application</li>
    <img src="Application.PNG" alt="A picture of an Application window" height="200">
    <blockquote>Out of the four, categories of windows the appearance varies greatly due to the nature of 3rd party developers.</blockquote>
  </ol> 
Most of these variants's appearance vary. For more details on a specific variant check out the different OS tags below.
  </blockquote>

</div>

<!-- Second Column -->
<div class="col-sm-6">
<h3>Typical Behavior</h3>
<h4>Events</h4>
  <blockquote> The three buttons in the frame exhibit three different behaviors.
  <img src="Three-buttons.PNG" alt="The three buttons within the frame">
  <ul><li>When the button to the outermost left is <code>clicked</code> the window closes.</li>
  <li>The button in the middle hides the window. The window can be accessed again by <code>clicking</code> in within the dock/menu bar.</li>
  <li>The button on the right maximizes the window, making the window's height and width the size of the screen.</li>
  <em>(For more info on the button component see <a href="../button/index.html">button</a>)</em>
  </ul>
  </blockquote>
  <br>
  
  
  </div>
</div>

<h3>Window Screenshots from Selected Platforms</h3>

<p>Screenshots of windows are currently available for the following platforms. Please click on each box for more details.</p>


<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="well">Yosemite</div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="well">Ubuntu 15.04</div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="well">Windows 8.1</div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

<div id="window-screenshot-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#window-screenshot-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#window-screenshot-carousel" data-slide-to="1"></li>
    <li data-target="#window-screenshot-carousel" data-slide-to="2"></li>
    
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="Yosemite-Screenshot.png" alt="yosemite">
      <div class="carousel-caption">
        Yosemite screenshot
      </div>
    </div>
    <div class="item">
      <img src="Ubuntu-Screenshot.png" alt="Ubuntu 15.04">
      <div class="carousel-caption">
        Ubuntu 15.04
      </div>
    </div>
    
    <div class="item">
      <img src="Windows8.1fitted.jpg" alt="Windows 8.1" width="1000" height="1000">
      <div class="carousel-caption">
        Windows 8.1
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#window-screenshot-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#window-screenshot-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  </div>
</div>
