---
title: Macro View
layout: component
contributors:
    - name: Anson Adams
      github: ansonadams
    - name: Khiem Lu
      github: khiemlu96
    - name: Danico Pidlaoan
      github: danicobryan
---

<p class="lead">A macro view arranges an entire, often complex, information system into a single view for the purpose of “contrast, comparison, [or] choice.”<sup>1</sup></p>

<ul class="nav nav-tabs nav-justified" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#overview" role="tab" data-toggle="tab">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#mac" role="tab" data-toggle="tab">Mac OS X Mission Control</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#windows" role="tab" data-toggle="tab">Windows 10 Task View</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#ios" role="tab" data-toggle="tab">iOS 11 App Switcher</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

<!--*********** OVERVIEW *************-->

  <div role="tabpanel" class="tab-pane fade show active" id="overview">
    <div class="row">
      <div class="col-sm-6">
        <br>
        <h3>Typical Appearance</h3>

        <p>A macro view describes not a single component, but a visual design technique. The appearance of a macro view can only be extrapolated from the design principles it emphasizes. Therefore, the variation of its appearance is only limited to the designer’s imagination. Most notably, a macro view is most effective when enough details are present that the user absorb the information in its full complexity and subtlety. Macro views are consequentially information-dense; information systems are usually complex and screen space is limited.</p>

        <div class="thumbnail">
          <a href="https://upload.wikimedia.org/wikipedia/en/a/a2/Mac_OS_X_Lion_Preview_-_Mission_Control.jpg" class="caption">
            <img src = "images/Mac Overview.jpg" alt = "Mac Mission Control" height="400px" class="img-fluid">
          </a>
        </div>

        <p> Overall, The appearance of a macro view across any platform may differ in design, but conveniently displays information for the user to easily switch between tasks. Data is pulled apart and organized in a way that the user can easily access, compare, and select. </p>

        <h3>Typical Behavior</h3>

        <h4>Events</h4>

        <p>When a user calls the macro viewing function, the system instantly organizes and separates all the displayed information from one another. Typically throughout various systems, windows/applications are physically pulled apart from each other and viewed at a macro level.</p>

        <p>However, it is possible to narrow one’s focus on a particular subsection of the view. For this, the user can <code>zoom</code> or perform an action accomplishing a narrowing or broadening of focus. To accomplish a <code>zoom</code>, a user could <code>select</code> progressively smaller areas of the data and the display could <code>zoom</code> on the selections. Although, this is only one imagined implementation of events when there are far more possible control schemes.</p>

        <p>Under “Platform-Specific Instances” we can see how different systems apply macro viewing.</p>

        <h4>State Diagram</h4>
        <div class="thumbnail">
          <img src = "images/state-diagram.jpg" alt = "Mac Mission Control Animated" class="img-fluid">
        </div>

        <h4>Component in Action</h4>

        <div class="thumbnail">
          <a href="http://www.macworld.com/article/2987277/operating-systems/os-x-el-capitan-review-mac-upgrade-thats-as-solid-as-a-rock.html" class="caption">
            <img src = "images/Mac Overview Animated.gif" alt = "Mac Mission Control Animated" class="img-fluid">
          </a>
        </div>

        <div class="thumbnail">
          <a href="http://mashable.com/2015/07/29/windows-10-gifs/#GZBySF8hGkqx" class="caption">
            <img src = "images/Windows 10 Task View Animated.gif" alt = "Windows Task View Animated" class="img-fluid">
          </a>
        </div>

        <h3>Priority Metrics</h3>

        <p>Learnability is crucial to the effective use of a macro view. A macro view displays a necessarily complex dataset. Therefore, if a design isn’t thoughtfully organized and clear, the sheer amount of information will overwhelm the user. A macro view’s quality can be best measured by its learnability because at its core, a macro view must present large amounts of information in an easily understandable manner. However, if you were to ask a person who has never used the system before to display the macro view, there is a high chance the user would not be able to figure it out on his or her own. Reasons for this can be due to the vast amount of functions on the particular system or the confusion of what macro viewing does.</p>

        <p>Efficiency could be considered important if a macro view is used frequently. Being able to quickly and easily call the macro view can exponentially increase a user’s total efficiency in executing a task on the system. The user would be able to swiftly switch, select, and compare different data. For instance, a macro view could be used as a root page in an application. Efficiency could also be key for operators who need to work with large amounts of data in small amounts of time, such as air traffic control operators or, as Tufte notes in Envisioning Information, high speed train managers.</p>

        <p>Errors are more application-specific. A user could have committed an error if they did not understand the macro view’s representation of the data. For example, they could misconstrue one variable as another on a graph. More importantly, it could be the macro view itself that causes errors due to confusing design or poor organization of data. Overall, a system’s failure to clearly depict a macro view by organizing data in an efficient manner can result in errors. </p>

        <p>Memorability and satisfaction play less of a critical role. A poorly designed macro view would require high memorability because the user would have to partially relearn it each time they reencountered it. If accessing macro view is highly efficient and learnable, the user should be able to remember how to access it once again. Problems may occur in memorability if the physical function of accessing the macro view is extremely similar to another function. Satisfaction has little to do with macro views because they attempt to communicate data. Satisfaction would also derive from the learnability of the macro view, since a macro view that is difficult and confusing to learn will surely frustrate users.</p>

      </div>

      <div class="col-sm-6">
        <br>
        <h3>Variants</h3>

        <p>Macro views can either retain or hide detail. Edward Tufte describes a particular form of macro view, which he calls a “macro / micro reading” of an information set. Tufte’s macro view not only retains the data’s details, but relishes in them since “detail cumulates into larger coherent structures.“ In this case, a macro view is “rich with data” and “can report immense detail” if properly organized.<sup>1</sup></p>

        <div class="thumbnail">
          <a href="http://www.brianjcoleman.com/tutorial-setting-an-event-in-ical/" class="caption">
            <img src = "images/Iphone Calendar.jpg" alt = "Iphone Calendar App" class="img-fluid">
          </a>
        </div>

        <p>A macro view could also hide subtleties and conglomerate data into larger chunks. However, this has the potential to undermine the core strengths of a macro view. One instance of this would be the iPhone’s default calendar application: in the single day view, users can chart their scheduled events across a list of individual hours. When they zoom out to the month view, hourly information is reduced to a binary “has” or “does not have” an event or multiple events on a given day.</p>

        <p>Further variation can be broken down into how a macro view is implemented.</p>

        <div class="thumbnail">
          <a href="http://www.macworld.com/article/1165784/macs/how-to-restore-data-from-time-machine.html" class="caption">
            <img src = "images/Mac Backup.png" alt = "Mac Backup App" class="img-fluid">
          </a>
        </div>

        <p>The Time Machine history window on a Mac could possibly be considered a macro view in that it displays many backups at once on a single screen. However, the view could be considered ineffectual because the backups are displayed on top of each other, making visual comparison impossible. Furthermore, the entire system directory is displayed for each backup rather than highlighting the changes between states like in GitHub’s commit history.</p>

        <div class="thumbnail">
          <a href="https://play.google.com/store/apps/details?id=com.google.android.diskusage" class="caption">
            <img src = "images/Android Memory.jpg" alt = "DiskUsage Android App" style="max-height:400px" class="img-fluid">
          </a>
        </div>

        <p>The DiskUsage application for the Android phone is an excellent example of a macro view. Differently sized rectangles correspond to the relative memory usage of different types of files, resulting in an instantly clear, navigable graph. For a complete macro / micro view, the rectangles could be broken down into further subsections until individual file specificity is achieved.</p>

        <h3>Key Characteristics</h3>

        <h4>Leverages Detail</h4>

        <p>A macro view is highly effective when it captures an information system fully and completely. Tufte argues that detail in macro views have two primary benefits. Detail complements the human ability to read complex visual data and also enriches comparative tasks, the main purpose of using macro views. He summarizes that “to clarify, add detail.”<sup>1</sup></p>

        <h4>Thoughtful Arrangement / Structure</h4>

        <p>A macro view cannot work without an intelligently designed presentation of the designer’s mental model and or data. This is due to the inherent complexity of the presented information. A commonly overlooked distinction that Tufte notes is that “the quantity of detail is an issue completely separate from the difficulty of reading.”<sup>1</sup> Macro views must be properly designed so that they take advantage of the available details. Else, they will simply be plain, unreadable graphs of massive amounts data.</p>

        <p> Overall, macro viewing would not work if design and structure were not explicit. It is key for every priority metric and can determine whether a user would like to use macro viewing or not.</p>

        <h4>Empowerment of User</h4>

        <p>Macro viewing allows a user to swiftly switch between tasks and efficiently view and organize data. Should a macro view be excellently designed, the user will be empowered in their experience of the data or system. The presentation will be so clear that they will control the flow of information, rather than the “editors, designers, or decorators” of the view.<sup>1</sup></p>

      </div>
    </div>
  </div>


<!--***** MAC ***** -->

  <div role="tabpanel" class="tab-pane fade" id="mac">

    <div class="row">
      <div class="col-sm-6">
        <br>
        <h3>Appearance</h3>
        <div class="thumbnail">
          <a href="https://upload.wikimedia.org/wikipedia/en/a/a2/Mac_OS_X_Lion_Preview_-_Mission_Control.jpg" class="caption">
            <img src = "images/Mac Overview.jpg" alt = "Mac Mission Control" height="400px" class="img-fluid">
          </a>
        </div>

        <p>Mac OS X’s Mission Control feature exhibits a well-designed macro view. According to the Mission Control panel in the Mac System Preferences, “Mission Control gives you an overview of all your open windows, thumbnails of your full-screen applications, and Dashboard, all arranged in a unified view.”<sup>3</sup></p>

        <p>To access the Mission Control view, a Mac user must simply swipe up with three or more fingers. The following then occurs:</p>

        <ul>
          <li>Every application open in the desktop decreases in size and moves to a position onscreen such that no two applications are overlapping. Every open application is now viewable. Optionally, applications of the same type can stack together.</li>
          <li>Every application or application cluster is annotated at the bottom of its window with the application logo and typed name.</li>
          <li>The application dashboard becomes visible if normally hidden.</li>
          <li>The desktop dashboard, which allows users to switch between desktops, slides in from above to allow use. The desktop dashboard is a macro view in itself, rendering the open desktops in a horizontal array.</li>
        </ul>

      </div>

      <div class="col-sm-6">
        <br>
    <h5>Events</h5>

    <p>While in the Mission Control macro view, users can:</p>

    <ul>
      <li>Click on an application window. The computer will exit the Mission Control view and resume the normal view, but with the selected application in the front of the screen and active.</li>
      <li>Drag an application window up onto the desktop dashboard to send the application window to a different desktop.</li>
      <li>Run a new application by clicking on an application icon in the application dashboard.</li>
    </ul>

    <h3>Priority Metrics</h3>

    <p>Mission Control is highly learnable for two primary reasons. First, the controls are simple: swipe up. They are also intuitive, employing direct object manipulation when users drag windows from one desktop to another. Additionally, the layout is effortlessly understandable. Different components belong exclusively to different areas of the screen. Open application windows are separated by empty space, making the layout faster to read.</p>

    <p>Windows are also annotated, so errors are rendered nearly impossible. However, an error could occur if the user opts to group windows of the same application. Then, windows could potentially be hidden and not selectable by the user.</p>

    <p>The view is also extremely efficient. The windows animate from their original position to organized position. The animation is slow enough for the user to track the movement, but not slow enough for the user to have to wait.</p>

    <p>The simplicity of design makes Mission Control controls highly memorable. The only gesture that seems arbitrary is swiping up to activate mission control. Considering the other controls (click to select, drag to move) are so logical, perhaps a zooming out gesture would have been more consistent. Ease of use leads to high satisfaction. The layout is aesthetically pleasing, animates smoothly, and is ultimately an extremely productive tool.</p>

      </div>
    </div>
  </div>




<!--***** WINDOWS ***** -->

  <div role="tabpanel" class="tab-pane fade" id="windows">

    <div class="row">
      <div class="col-sm-6">
        <br>
        <h3>Appearance</h3>

        <p>Task View is a useful Windows 10 function that displays a macro view of the desktop in order to organize and view open applications simultaneously. </p>

        <div class="thumbnail">
          <a href="http://www.pcworld.com/article/2952864/windows/how-to-use-windows-10s-task-view-and-virtual-desktops.html" class="caption">
            <img src = "images/Windows 10 Task View.jpg" alt = "Windows 10 Task View" class="img-fluid">
          </a>
        </div>


        <p>To access the Task View, a Windows 10 user must simply hit the Windows Key + Tab. The following then occurs:</p>

        <p>The appearance of a macro view on Windows 10 looks like a zoomed out desktop in which open windows are pulled apart and labeled at the top. On the bottom of the screen, there are also multiple desktops that the user can switch between if they have more than one desktop open. Essentially, all the applications currently open are viewable at once for the user to easily switch between tasks. </p>

        <h5>Events</h5>

        <p>While in Task View, users can:</p>

        <ul>
          <li>Add a Desktop- There is a black bar on the bottom of the screen that has a plus sign with “Add a desktop” next to it. This function allows a user to open up multiple desktops.</li>

          <div class="thumbnail">
            <a href="http://www.techrepublic.com/article/how-to-use-task-view-in-windows-10/" class="caption">
              <img src = "images/Windows 10 Add Desktop.png" alt = "Windows 10 Add Desktop" class="img-fluid">
            </a>
          </div>

          <li>Delete a Desktop- If a desktop is no longer desired, the user can delete the desktop by clicking on the black “X” button on the top right corner of the desktop thumbnail in the black bar.</li>

          <div class="thumbnail">
            <a href="http://www.techrepublic.com/article/how-to-use-task-view-in-windows-10/" class="caption">
              <img src = "images/Windows 10 Delete Desktop.png" alt = "Windows 10 Delete Desktop" class="img-fluid">
            </a>
          </div>

          <li>Move an Application-  A user could also move applications from one desktop to another by right clicking on the desired window and <code>selecting</code> which desktop to move the window to.  </li>

          <div class="thumbnail">
            <a href="http://www.techrepublic.com/article/how-to-use-task-view-in-windows-10/" class="caption">
              <img src = "images/Windows 10 Move Application.png" alt = "Windows 10 Move Application" class="img-fluid">
            </a>
          </div>

        <li>Switch Between Applications/Desktops- The user may notice that on the bottom task bar, applications currently open on the desktop have a translucent overlay on them. Applications open on another desktop have a translucent overlay under the icon. Clicking the icon of applications open on other desktops will automatically take you to the desktop that the application is open on. </li>

        <div class="thumbnail">
        <a href="http://www.techrepublic.com/article/how-to-use-task-view-in-windows-10/" class="caption">
        <img src = "images/Windows 10 Switch Application.png" alt = "Windows 10 Switch Application" class="img-fluid">
        </a>
        </div>

        </ul>

      </div>

      <div class="col-sm-6">
        <br>
        <h3>Variants</h3>

        <p>Windows Flip: Allows the user to switch between running applications. It does not display the windows in the same organized manner as the Task View, but allows for a quicker way to switch between windows.</p>

        <div class="thumbnail">
          <img src = "images/Windows 10 Flip.png" alt = "Windows 10 Flip View" class="img-fluid">
          <p class="caption">
            Image courtesy of Windows 10.
          </p>
        </div>

        <p>Task View and Snap: Allows the user to select a window to take half the screen while the other half displays the Task View of the desktop.</p>

        <div class="thumbnail">
          <a href="http://www.pcworld.com/article/2952864/windows/how-to-use-windows-10s-task-view-and-virtual-desktops.html" class="caption">
            <img src = "images/Task View and Snap.png" alt = "Windows 10 Task View and Snap" class="img-fluid">
          </a>
        </div>

        <h3>Priority Metrics</h3>

        <p><strong>Efficiency:</strong> Accessing Task View is efficient through keyboard shortcuts embedded on a machine running Windows 10. The desktop organizes the running applications in a clean and smooth manner that allows for easy access of open windows. The functions within Task View are also simple and intuitive.  </p>

        <p><strong>Memorability:</strong> The main problem with memorability may be remembering the keyboard shortcut. Although there is only one keyboard shortcut to accessing the Task View (Windows key + Tab), users may be confused with all of the other functions that involve the Windows key. However, if accessed a couple of times, the user should be able to familiarize themselves with the shortcut. On the other hand, memorability with the functions inside Task View should be easy due to the simple, clear-cut design. Being able to select, move, or delete certain desktops or applications are clearly shown. </p>

        <p><strong>Learnability:</strong> Task View may be easy to access, but can be confusing to learn without any help or guidance. If you were to ask a new Windows 10 user to open up the Task View, it would be hard for them to figure it out with all the other functions on a computer. However, similar to memorability, learning to use the functions within task view should be relatively quick for a new user due to the clear design and minimal excess functions. </p>

        <p><strong>Errors:</strong> Errors can occur if a different keyboard shortcut is mistaken to be Task View. Other than that, the simplicity of the functions within Task View should not cause any remarkable errors.</p>

        <p><strong>Satisfaction:</strong> User satisfaction in Task View is dependent on design, and Windows 10 does a great job displaying the macro view of the desktop. Task View is easy to access and understand making it highly satisfying.</p>


      </div>
    </div>
  </div>


<!--***** IOS *****-->

  <div role="tabpanel" class="tab-pane fade" id="ios">
    <div class="row">
      <div class="col-md-6">
        <br>
        <h3>Appearance</h3>
        <p>The new iOS 11 update that was released in October 2017 brought a new user interface with the
        ability to diplay running applications in a macro view. The new macro view implementation
        is a combination of Mac OSX's Mission Control feature that displays the windows of running applications
        and the new Control Center interface, which displays controls such as Wifi, volume and music
        controls, flashlight, camera, and more.</p>
        <div class="thumbnail">
          <img src = "images/ios11-macro.jpg" alt = "Windows 10 Task View" class="img-fluid">
          <a href="https://cdn2.macworld.co.uk/cmsdata/reviews/3659954/ios11_review_control_centre_dock_app_switcher_1200_thumb.jpg" class="caption">
            Image courtesy of Macworld UK
          </a>
        </div>

        <ul>
          <li>Every application that is running on the device decreases in size, and moves to a layout
            where screenshots of the application windows are arranged in two rows, with the top right
            being the most recently used application, and the farmost bottom left being the least
            recently used application.</li>
          <li>No two applications overlap and all the windows are the same size</li>
          <li>Not all applications will fit on the screen. Some windows are cut off but visible
            on the left side of the screen, indicating to a user that they will have to scroll
            to the left in order to see the rest of the windows.
          <li>The doc on the bottom of the interface remains visible and in the same place</li>
          <li>Control Center is visible on the right side of the screen. The new look of Control Center
            has controls separated into different category boxes, ie. the connectivity controls like
            Wifi and Bluetooth are in one box, music control are in another box, and the rest of controls
            are their own button.</li>
        </ul>

        <h3>Behavior</h3>
        <p>
        <h4>Events</h4>
        <p>To access App Switcher View, users can:
          <ul>
            <li><code>Swipe</code> up with four fingers.</li>
            <li><code>Double-click</code> the home button.</li>
          </ul>
        </p>
        <p>While in App Switcher View, users can:
          <ul>
            <li><code>Scroll</code> to the right to view the rest of the applications.</li>
            <li><code>Swipe</code> up on any application to quit and stop running the application.</li>
            <div class="thumbnail">
              <a href="http://cdn.iphonehacks.com/wp-content/uploads/2017/08/iOS-11-App-Switcher-Quitting-Apps.gif" class="caption">
                <img src = "images/ios11-quit-app.gif" alt = "Windows 10 Task View" class="img-fluid">
              </a>
            </div>
            <li><code>Click</code> on any application window to visit the application.
            <li><code>Click</code> on Control Center buttons like Wifi, music control buttons, night shift, camera, and more.</li>
          </ul>
        </p>
        <p>To exit App Switcher View, users can:
          <ul>
            <li><code>Double-click</code> the home button</li>
          </ul>
        </p>


        <h4>Component In Action</h4>
        <p>Here is a demo of iOS App Switcher in action on the iPad, featuring how to activate the macro view
          and different controls and events the user can implement while in the view.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DFiB6mrQ2C4" frameborder="0" allowfullscreen></iframe>
        <p><i>Note: The most recent version of iOS 11 implements a <code>swipe up</code>
          function to exit out of an application rather than the <code>hold</code> and
          <code>exit</code> controls.</i></p>
      </div>

      <div class="col-md-6">
        <br>
        <h3>Variants</h3>
        <p>The only noticable variant of iOS 11's App Switcher interface is on the iPhone.
          As opposed to the iPad, the iPhone UI cannot comofrtably display the applications so that
          they do not overlap given the width of the screen, so the current or most recently used
          application covers the rest of the applications, and the user must scroll to the right
          to view the rest of the applications. </p>
        <div class="thumbnail text-center">
          <a href="http://media.idownloadblog.com/wp-content/uploads/2017/06/iOS-10-3D-Touch-app-swticher-iphone-screenshot-001.jpg" class="caption">
            <img src = "images/ios11-iphone.jpg" alt = "Windows 10 Task View" class="img-fluid" style="max-height:375px">
          </a>
        </div>
        <p>Functionality remains the same in that the user must still <code>swipe</code> up to exit
          out of an application and the applications are sorted from right to left by most recently used.
          The interface is also different in that the Doc and Control Center is not visible.</p>
        <h3>Priority Metrics</h3>
        <p><strong>Efficiency:</strong> Accessing and using App Switcher is very easy and efficient. Controls are minimal:
          accessing App Switcher only requires a double click of the home button or a swipe with four
          fingers. Scrolling to the right to view more apps and swiping up to exit an app is effortless
          to most users because of the simplicity and intuitiveness of the interface.</p>
        <p><strong>Memorability:</strong> The only issue that may fall under memorability might be
        the user forgetting what the controls are to access App Switcher, since there are no specific
        instructions or buttons on a mobile's interface. However, since the controls are very simple,
        usually users would be able to remember controls after the third time. Something that may contribute
        to lack of memorabiity might include different functions in iOS, ie. some gestures include holding
        down on a component or button to delete or exit out of something, whereas App Switch requires a
        swipe up with one finger, which can end up confusing a user.</p>
        <p><strong>Learnability:</strong> Drawing off the points mentioned in memorability, App Switcher is
          very learnable due to its simplicity. However, since there are no instructions or buttons, it may take
          a user a few times to get the hang of it.</p>
        <p><strong>Errors:</strong> To enter App Switcher view, the user can swipe up with four fingers or
          double click the Home button. However, to exit the view, the user can only double click the home
          button to exit, not use four fingers. One error that may occur is if the user attempts to swipe down with four fingers
          in order to exit out of App Switcher view. Additional errors that may arise, since the interface
          is motion controlled, can include the user accidentally exiting out of an app while trying to scroll
          or accidentally clicking on and visiting an app while trying to scroll or exit. </p>
        <p><strong>Satisfaction:</strong> User satisfaction is dependent on the user's personal preferences and
          comfortability with an iOS mobile device. However, since the macro view is easy to access, easy to
          control, and easy to learn, satisfaction rates would most likely be relatively high.
        <h3>Characteristics</h3>
        <p>iOS 11 App Switcher correlates very well to the Key Characteristics of a Macro View. App Switcher
          leverages detail by presenting the reader with a full range of details of what apps are running
          on the device as well as any controls they may need to use in Control Center. The arrangement and
          structure is very well organized and thought out, as there is no overlap of application windows
          and the interface conveys what the user needs to do to carry out any actions. Finally, iOS 11
          Macro View allows users to see a wide range of what is running on the system and empowers the user
          with the knowledge and control of everything taking place in the system.
      </div>
    </div>
  </div>
</div>


<h3>Credits &amp; References</h3>

<ol type="1">
  <li>Tufte, Edward R. <i>Envisioning Information.</i> Cheshire, CT: Graphics, 1990. Print.</li>
  <li>http://www.howtogeek.com/180677/mission-control-101-how-to-use-multiple-desktops-on-a-mac/</li>
  <li>https://support.apple.com/en-us/HT204100</li>
  <li>http://www.windowscentral.com/best-windows-10-keyboard-shortcuts</li>
  <li>http://www.pcworld.com/article/2952864/windows/how-to-use-windows-10s-task-view-and-virtual-desktops.html</li>
  <li>http://www.techrepublic.com/article/how-to-use-task-view-in-windows-10/</li>
  <li>http://media.idownloadblog.com/wp-content/uploads/2017/06/iOS-10-3D-Touch-app-swticher-iphone-screenshot-001.jpg</li>
  <li>https://www.youtube.com/watch?v=DFiB6mrQ2C4</li>
  <li>http://cdn.iphonehacks.com/wp-content/uploads/2017/08/iOS-11-App-Switcher-Quitting-Apps.gif</li>
  <li>https://cdn2.macworld.co.uk/cmsdata/reviews/3659954/ios11_review_control_centre_dock_app_switcher_1200_thumb.jpg</li>
</ol>
