---
title: Selecting
layout: component
---

<p class="lead"> A common task where a user is able to grab certain items such as text, images, or other medias that are on the computer. It is a quick way for the computer to know what it is that the user is focusing on. </p> 


<h3> Typical Appearance <small> how it usually looks </small> </h3> 
<!-- Used information from this stackoverflow http://stackoverflow.com/questions/10591422/bootstrap-carousel-image-doesnt-align-properly */-->
<style> 
	.carousel-inner > .item > img {
	    margin: 0 auto;
	}
	
</style>

<div id="selection_appearance_carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#selection_appearance_carousel" data-slide-to="0" class="active"></li>
    <li data-target="#selection_appearance_carousel" data-slide-to="1"></li>
    <li data-target="#selection_appearance_carousel" data-slide-to="2"></li>
    <li data-target="#selection_appearance_carousel" data-slide-to="3"></li>
    <li data-target="#selection_appearance_carousel" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
    <div class="item active">
    	<img style="height: 300px; width:auto;" align="middle" src="images/file_selection.png" alt="File Selection screenshot">
    	<div class="carousel-caption">
        <p > File Selection</p>
    </div>
</div>
    <div class="item">
      <img style="height: 300px; width:auto;" align="middle" src="images/icon_selection.png" alt="icon selection screenshot">
      <div class="carousel-caption">
        <p> Icon Selection on OSX </p>
      </div>
    </div>

    <div class="item">
    	<img style="height: 300px; width:auto;" align="middle" src="images/menu_selection.png" alt="menu selection screenshot">
      	<div class="carousel-caption">
        	<p> Menu Selection on OSX </p>
      	</div>
    </div>

    <div class="item">
      	<img style="height: 300px; width:auto;" align="middle" src="images/text_selection.png" alt="text selection screenshot">
      	<div class="carousel-caption">
        	<p> Text Selection on OSX </p>
      	</div>
    </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<p style="text-align: center"> Selecting is usually seen as blue highlights for text and a white half-opaque rim around a file icon.</p> 


<h3> Typical Behavior <small> how it usually behaves </small> </h3>

<p> When a user selects, the most typical appearance is that the item itself highlights in a different color. However for different items the selection will look different. 
</p>

<p>For text, the cursor turns into a text cursor as the mouse hovers over. When the user clicks and drags the mouse, it is then that the choosen characters highlight in a different color.
</p>

<p> For items such as folders and files, when the item is clicked the a rim halo appears around the folder to signify that the computer is currently focusing on that particular object. It is from there that the user can choose to open it and do other commands with it.</p>

<h4> Events </h4>			
<div class="row"> 	
	
	<div class="col-sm-6">
		<div class="well"> 
			<p> <b> Text selection </b>: When text-selecting the major actions is clicking, dragging, and letting go. 
				<ul>
					<li> Click: The click signifies the beginning of the selection. As the user is hovering over the text, the mouse cursor will then turn into a text cursor. That is usually the sign that a user is able to do a text selection. Another event that occurs due to clicking is after the user has made their selection if they click without holding down the command or shift keys they will unselet that particular item. </li>

					<li> Dragging: From the starting point, the user drags along the text to the last point of where they would like to select. Whereever the mouse hovers during this dragging state is what is selected. </li> 

					<li> Letting go: When the user reaches the end of their selection, by letting go they signify that that is the end of what they choose. At this point the cursor now turns back into a normal mouse cursor and the text that they would like to select is in blue. It is from this step that the user can do whatever action they would like with the text, whether that is copying it to the clipboard etc. </li>
				</ul>
			</p> 
		</div>
	</div>
	<div class= "col-sm-6">
		<div class="well"> 
			<p> <b> File selection</b>: File selecting is very similar to the text selection except the major event is clicking.</p> 
			<ul>
				<li> Click: When the user clicks on the icon that they would like, that is when the item highlights and it signifies that it is selected. For most computers, when holding down shift and command keys, more items can be selected. When a file is seleected, if a user clicks on an area that is not another file or the same sort of icon, it will deselect the selection. </li>
			</ul>
		</div>
	</div>
</div>

<h4> State Diagram <h4> 
<img src="images/SelectingState.svg" class="img-responsive center-block" alt="Responsive image">
	

<h4> Component in Action </h4>
<div class="row">
	<div class="col-sm-6">
		<p> Text-Selection: Click and Drag the text to see it highlight. </p>
		<div class="form-group">
  			<label for="select">Text Selection:</label>
  			<textarea class="form-control" rows="5" id="select"> Select this text!</textarea>
		</div>


	</div>
	<div class="col-sm=6">

		<p> File Selection: Hold shift/command while clicking to select multiple items in this list. </p>
		<div class="selecting_group" align="middle">
	  		<label for="selectGroup">Select list:</label>
	  		<select multiple class="group-control" id="selectGroup">
	    		<option>Select Me!</option>
	    		<option>No, Select Me!</option>
	    		<option>Select Me too!</option>
	    		<option>Me, four!</option>
	  		</select>
		</div>
	</div>
</div>


<h3> Variants <small> how it varies per location </small> </h3>
	<p> Though the act of selecting is very similar, how it displays can be different depending on the user preference. In a computer interface, selecting is done primarily with clicking and dragging. Meanwhile for touch devices, selecting is done primarily with taps and holds. 
	</p> 
	<p>
		Depending on the user preferences, selecting's apperance may change to different colors. 
	</p>

<h3> Priority Metrics <small> Selecting and its Usability Metrics </small> </h3>

	<p> Selecting is something in which learnability, memorability, as well as errors are very important metrics. Users use selecting to do other functions and being able to quickly select to go to the next action is very important. Being able to learn how to select quickly as well as efficiently is important. Also because selecting is a prior action needed for other commands such as copying or moving files, the quicker it is to get selection done is also very important (efficiency). Also if the user has not done this in a while this information should be easily recalled (memorability). Errors should also be very low, for if there are any errors in selection it could lead to dire consequences such as deleting files or overwriting data. 
	</P> 
	<p> The only metric that is not as important is satisfaction. This is because selecting is a much more utilitarian action and component and the user's enjoyment does not vary with selecing. The user could get annoyed if selecting is not memorable or efficient but the act of selecting does not need satsifaction for it to be a great component. </p> 

<h3> Key Chararacteristics <small> What do all great selections have? </small> </h3>
	 <ul>
	 	<li> Prevent Errors: Users should be forgiven if they select the wrong items. They should be able to deselect objects that they no longer need or add more selections. </li>
	 	<li> Feedback: When trying to select, the user should get immediate feedback as to what he or she is selecting. Also they should know if what they are tapping/clicking is selectable. That way the user's mental model of selectable items will be consistent to the designer's mental model. </li>
	 	<li>Consistency: The actions that are required for selecting a certain type of object should be consistent that way selecting will have a higher level of memorability as well as efficiency. If they were different then it will confuse the user and complicate their mental model of selecting. </li>
	 	<li> Shortcuts: To help with the efficiency of selecting, shortcuts should be added to allow users to select a large amount of objects at once. For example, control+A is a common shortcut that is used to select all of the text. </li>
	 </ul>


<h2> Platform Specific Instances </h2> 
<div class="row"> 
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<div class="well">
			<h3> Mac OSX: Yosemite</h3>
			<h4> File Selection </h4>
			<img src="images/file_selection.png" class="img-responsive" alt="file selection in window">

			<h4> Icon Selection </h4>
			<img src="images/icon_selection.png" class="img-responsive" alt="icon selection in window">

			<h4> Menu Selection </h4>
			<img src="images/menu_selection.png" class="img-responsive" alt="menu selection in window">

			<h4> Text Selection </h4> 
			<img src="images/text_selection.png" class="img-responsive" alt="text selection in window">




			<ul>
				<li>Selecting is very similar to the general overview described as above. </li>
				<li>Users can change the highlight color by going into the System Preferences > General Settings </li>
				<li>Apple's Human Interface Guidelines for OSX also highlight the general key characteristics such as: </li>
				<ul>
					<li>Direct Manipulation: As the user selects the text, it is always visible including dragging and dropping text. </li> 
					<li>User Control: The user is the one intiating the actions being done such as selecting etc.</li>
					<li>Feedback and Communication</li> 
				</ul>

			</ul>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<div class="well"> 
			<h3> iOS iPhone4s </h3>
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales a erat ut venenatis. Nullam nec nisi a nibh tempus cursus. Maecenas maximus risus vel sem volutpat, gravida lacinia est lobortis. Sed fermentum rutrum tellus. Sed euismod laoreet ipsum ac tempus. Ut tortor eros, iaculis quis consectetur in, consectetur et risus. In tincidunt tempus turpis. Fusce venenatis nibh ultricies, efficitur orci nec, pulvinar nisl. Sed condimentum nec dolor vitae maximus. Nullam ullamcorper ante in elementum eleifend. In consequat dui dapibus auctor tincidunt. Vestibulum fermentum metus non dui feugiat condimentum. Nullam aliquet dolor quis odio euismod, id mattis nibh posuere. Sed ac nunc nec mi aliquam consectetur. Curabitur est sem, semper sed risus placerat, mattis laoreet ex. 
			</p>
		</div> 
	</div> 
</div>


