---
title: Menu
layout: component
---
<p class="lead">Menus are probably the second most used components on a given graphical interface after buttons.</p>

<div class="row">
          <div class="col-sm-12">

        <h3>Appearance</h3>

        <blockquote>
            <p>Menus have been the go-to method for displaying (and hiding) lists of items and buttons for decades.</p>

            [Place a photos of menus here. One for mac, one for pc]
              <div class="col-sm-12">

                  <div class="col-sm-6">
                <img src="Mac_FileMenu.png" class="img-responsive" alt="Responsive image">
              </div>

              <div class="col-sm-6">
                <img src="Mac_FileMenu.png" class="img-responsive" alt="Responsive image">
              </div>

          </div>

            <br>
            <p>And like these examples, they tend to follow the standard form of having items listed from top to
                bottom with anywhere from 1 to around 25 items to choose from.</p>
                

            <p>Of course, these items can often be menus themselves within other menus.</p>
            <br>
            <img src="Mac_menu_in_menu.png" class="img-responsive" alt="Responsive image">

        </blockquote>

        <h3>Placement</h3>
            <blockquote>
                <p>Menus are usually located on the "edges" of graphical interfaces. For example, the Mac OS X
                graphical interface provides menus at the top of the Desktop screen that are always available, yet out of the way
                from high-activity portions of the screen.
              </p>

              <p>[Photo of Mac menus] [Photo of PC menus]</p>

              <p>This pattern seems to extend to application or browser windows as well.</p>

                  <div class="col-sm-12">
                  <div class="col-sm-6">
                  <img src="Google_design_menu.png" class="img-responsive" alt="Responsive image">
                </div>
                <div class="col-sm-6">
                  <img src="Google_design_menu.png" class="img-responsive" alt="Responsive image">
                </div>
                </div>

                <p>There are also menus that remain hidden unless invoked by the user, such as the menu that
                    appears when a user right-clicks (or ctrl + click in the case of Mac OS X).</p>
                [Photos of mac and pc right-clicks]

                <div class="col-sm-12">

                  <div class="col-sm-6">
                <img src="Mac_control_click_menu.png" class="img-responsive" alt="Responsive image">
              </div>

              <div class="col-sm-6">
              
              </div>
              
          </div>
                
            </blockquote>

        <br>
        <h3>Key Characteristics and Best Practices</h3>
        <blockquote>The following attributes for menus across platforms have allowed much more choice and accessibility to
        be included in a single page (or single interface), as opposed to requiring users to constantly switch
        to different windows or screens each time they need to access a new list of items to choose from.</blockquote>

        <h4>Behavior and Feedback</h4>

          <p>On most platforms, menus are usually accessed by first clicking on a button.The menus then expand to reveal the items they hold. On most platforms, users are also able to hover over to a different menu button and, without clicking, expand those other menus as well after having
            already clicked on one. This includes menu buttons within the menu itself.</p>
          <p>To exit a menu on most platforms, the user can click outside of the open menu to close it. The menu also usually disappears
            when the user selects one of its items.</p>
          <p>When an item is selected, the menu indicates this action with a flashing highlight. Though, this usually happens so fast
            that the user's eyes have likely moved to the newly opened menu or window triggered from the button rather than notice
            the menu's indication.</p>
          <p>As for most components on a graphical interface, feedback to the user is a crucial aspect, specifically for when the user is attempting to perceive the system state and evaluate its outcomes (as outlined by Don Norman's Stages-of-Action Model). 
          Menus usually do have indicators, such as grayed out, unclickable items, to indicate which state the menu is in.</p>

        <h4>Labeling</h4>

        <p>Google recommends that menu labeling should be contextualized so that users can generally know what a menu contains before
          they open it. This way users don't have to spend extra time exploring after having clicked on a menu with the wrong content. 
          Apple adds to these contraints by saying that labels should be as short as possible without sacrificing clarity, and also 
          suggest that icons should not be used as menu labels (nor should a mix of labels and icons) because users can confuse them with
          "menu bar extra."</p>

        <h4>Placement</h4>

        <p>Google recommends that when it comes to behaviors like expanding, menus should appear on top of the elements they are emitting from
          so as to not remove it from its context.

        <h3>Priority Metrics</h3>

        <blockquote>The five <em>usability metrics</em> outlined by Jakob Nielsen in his book, <em>Usability Engineering</em> (page 26),
          are of critical importance to menu components on interfaces. For example, we can imagine how much less effective software development
          in general would be had these metrics not been taken into account in the design of file Directories, which are crucial representations
          of menus that allow users to organize and structure data.
        </blockquote>

        <p>A majority of menu components represent a list that someone might draw on paper with items to keep track of or investigate.
          These specific representations, in this respect, are highly learnable for, say, some who has never used a computer before. It is
          in fact important that users are not hindered by a complex arrangement of items (Learnability).

          And given that menus are so common (and crucial to the organization of a graphic interface), it is important that users can quickly learn
          when, where, and how to access them so that there won't be too much time spent simply trying to locate items or functions in an application (Efficiency).</p>

        <p>Current menu designs are extremely memorable as well because they are organized as they would be on paper, such as the table of contents at
          the beginning of a book (Memorability). Also, it is probably best that menus be fairly simple to access and use and have adequate feedback 
          features for users to reduce the number of errors with using them (Errors).</p>


        <h4>State Diagram</h4>

            <blockquote>
              <p>A state diagram indicating the actions and states of a user interface component.</p>

              <p>This is most likely an image. Bonus props if you use SVG.</p>

              <p>And also, a state diagram implies, well, <em>states</em>. So be sure to describe them. Note also that there will
                usually be overlap between a component’s events and its state diagram. A sufficiently detailed state diagram,
                however, may have more activities than the “public” events that can be reported by a component.</p>
            </blockquote>

            <p>Most button designs have the following states. The <code>enabled</code> and <code>disabled</code> states can be
              viewed as “dormant” button states—they are the only states that a button can have when a user is not interacting with
              it. The <code>enabled</code> state means that a user <em>can</em> interact with it, while the <code>disabled</code>
              state means that a user <em>cannot</em> do so.</p>

            <p>When a button is <code>enabled</code>, additional states may be triggered. Not all states are present in all button
              implementations, but in general they are:</p>

            <ul>
              <li><code>hover</code>: For platforms with an explicit pointing element, positioning that element over a button may
                change the button’s appearance. This provides a form of feedback that states that the button will respond if
                additional activity is performed.</li>

              <li><code>armed</code>: If the user initiates button-triggered behavior, such as a click on mouse-capable systems,
                the button may enter a state indicating that it is ready to be invoked. Many button implementations allow an “out”
                from this state, in case the user changes his or her mind in mid-action.</li>
            </ul>


         <div class="col-sm-12">

            <h4>Events</h4>

            <blockquote>An <em>event</em> is something that can happen to a user interface component. They are both conceptual and
              highly concrete in that events very frequently translate directly into a user interface component’s API.</blockquote>


            <h4>Component in Action</h4>

            <blockquote>
              <p>Embedded or linked video (by you or by others [and if by others give credit]) showing the component in action.</p>

              <p>For components that are available on a web platform, you can embed an actual component right here, such as:</p>
            </blockquote>

            <p class="text-center">
              <button class="btn btn-default">Standard Bootstrap Button</button>
              <button class="btn btn-default disabled">Disabled Bootstrap Button</button>
            </p>

          </div>

        <br>
        <h3>Variants</h3>
        <br>

        <h4>Accordion Menus</h4>

        <blockquote>
            <p>Accordion menus such the two featured below are emerging as a cool new menu trend on webpages or applications (especially those
              for mobile apps).</p>
            <p>They allow users to access lists of items without expanding the menu into a different column on the screen or on top of other information that users are looking at.</p>
        </blockquote>
      </div>

      <div class="col-sm-6 col-md-8">

              <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                              </span>Content</a>
                          </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <table class="table">
                                  <tbody><tr>
                                      <td>
                                          <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                          <span class="badge">42</span>
                                      </td>
                                  </tr>
                              </tbody></table>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                              </span>Modules</a>
                          </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse">
                          <div class="panel-body">
                              <table class="table">
                                  <tbody><tr>
                                      <td>
                                          <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <a href="http://www.jquery2dotnet.com">Invoices</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <a href="http://www.jquery2dotnet.com">Shipments</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <a href="http://www.jquery2dotnet.com">Tex</a>
                                      </td>
                                  </tr>
                              </tbody></table>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                              </span>Account</a>
                          </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse">
                          <div class="panel-body">
                              <table class="table">
                                  <tbody><tr>
                                      <td>
                                          <a href="http://www.jquery2dotnet.com">Change Password</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                              Delete Account</a>
                                      </td>
                                  </tr>
                              </tbody></table>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                              </span>Reports</a>
                          </h4>
                      </div>
                      <div id="collapseFour" class="panel-collapse collapse">
                          <div class="panel-body">
                              <table class="table">
                                  <tbody><tr>
                                      <td>
                                          <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                      </td>
                                  </tr>
                              </tbody></table>
                          </div>
                      </div>
                  </div>
              </div>

          </div>

      <div class="col-sm-6 col-md-8">

        <div id="MainMenu">
          <div class="list-group panel">
            <a href="#demo3" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Item 3</a>
            <div class="collapse" id="demo3">
              <a href="#SubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubMenu1">Subitem 1 <i class="fa fa-caret-down"></i></a>
              <div class="collapse list-group-submenu" id="SubMenu1">
                <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 1 a</a>
                <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 2 b</a>
                <a href="#SubSubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubSubMenu1">Subitem 3 c <i class="fa fa-caret-down"></i></a>
                <div class="collapse list-group-submenu list-group-submenu-1" id="SubSubMenu1">
                  <a href="#" class="list-group-item" data-parent="#SubSubMenu1">Sub sub item 1</a>
                  <a href="#" class="list-group-item" data-parent="#SubSubMenu1">Sub sub item 2</a>
                </div>
                <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 4 d</a>
              </div>
              <a href="javascript:;" class="list-group-item">Subitem 2</a>
              <a href="javascript:;" class="list-group-item">Subitem 3</a>
            </div>
            <a href="#demo4" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Item 4</a>
            <div class="collapse" id="demo4">
              <a href="" class="list-group-item">Subitem 1</a>
              <a href="" class="list-group-item">Subitem 2</a>
              <a href="" class="list-group-item">Subitem 3</a>
            </div>
          </div>
        </div>

      </div>

        <div class="col-sm-12">
        <br>

        <h4>Directories</h4>

        <blockquote>Directories may not be a "common" variant of menus per se (as in plurality), but 
          they may in fact be the most vital graphic interface "menu" because of how they are designed
          to organize and access files. It is for these reasons that directories involve slightly more complex
          operations such as sorting, expanding/collapsing folder trees, displaying file information, and so on.</blockquote>

        <img src="Mac_Directory.png" class="img-responsive" alt="Responsive image">

        <br>
        <br>
        <h4>Bootstrap's Menu</h4>

        <blockquote>The Bootstrap website has what seems to be a hybrid of an accordion menu with a scroll bar
          on the side. It has the general categorical items with their corresponding subitems as well as 
          two scroll bars, one large and one small, to indicate where the user to navigating on the menu
          and the page. The larger bar indicates the overall category the view is in, while the smaller bar
          indicates what is currently being viewed in the window itself.</blockquote>

        <img src="Bootstrap_menu.png" class="img-responsive" alt="Responsive image">


        <p>[More text here]</p>

        <ul>
          <li><em>Menu items</em> are very close to buttons in behavior—they perform individual action elements upon simple
            invocation by a user. However, they belong to a broader context/structure of a menu, and look sufficiently
            different that they are both conceptually and programmatically viewed as distinct from buttons.</li>

          <li><em>Italicized words!</em> (and some more words)</li>
        </ul>

      </div>

</div>

<h3>Platform-Specific Instances</h3>

<blockquote>

  <p>Mac OS X menus have an added feature of faint line dividers to group certain sets of options without adding too much clutter 
  to the small menu.</p>

  <p>In addition to there being hidden menus, there are even hidden menu items that can be seen if the user holds down the "alt option" key for Mac. For example, the file menu at the top of the Desktop interface (with no applications open) has some hidden items that are revealed when the "alt option" key is pressed while the menu is open.</p>

  </blockquote>

  <div class="col-sm-12">
      <div class="col-sm-6">
      <img src="Mac_FileMenu.png" class="img-responsive" alt="Responsive image">
    </div>
    <div class="col-sm-6">
      <img src="Mac_FileMenu_Option.png" class="img-responsive" alt="Responsive image">
    </div>
</div>


<h2>References</h2>

<blockquote>
  <a href="http://getbootstrap.com/css/#overview">The Bootstrap website</a> <br />
  <a href="https://www.google.com/design/spec/components/menus.html#menus-specs">Google Design Guidelines</a>
  <a href="https://developer.apple.com/library/mac/documentation/UserExperience/Conceptual/OSXHIGuidelines/MenuNaming.html#//apple_ref/doc/uid/20000957-CH24-SW1">OS X Human Interface Guidelines</a>
  <p>Nielsen, Jakob. <em>Usability Engineering</em>. San Diego: American Press, 1993. Print.</p>
</blockquote>
