---
title: Login/Unlock
layout: component
---
<p>Hello World</p> <p>lkjlkjlkj</p> <h1>From</h1> <hr> <p>There should be a line above</p>

<p>What does this do?</p>


Wait what does thing even do if I just keep typing in without all that stuff.... lolz 			<p> what this do? </p>								is it here?
<p>This don't even go here</p>

<div class="row">
  <div class="col-sm-6">
<h3> Temp1 </h3>
</div>

  <div class="col-sm-6">
<h3>Temp</h3>

  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Windows</h4>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Apple</h4>
      </div>
      <div class="panel-body">
        <p> This is suppose to be somehting </p>
      </div>
    </div>
  </div>
<p>
<img src="smiley.gif" alt="Smiley face" style="float:right;width:42px;height:42px;">
The image will float to the right of the text.
</p>
<p> References </p>
<a href ="http://www.joehallock.com/edu/COM498/preferences.html">http://www.joehallock.com/edu/COM498/preferences.html</a> 
<p> </p>
<a href = "http://www.colour-affects.co.uk/psychological-properties-of-colours"> http://www.colour-affects.co.uk/psychological-properties-of-colours</a>
